# DataFrame  -  INPLACE - PARAMETER

In [10]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df)
d={
    "ddt":"Date",
    "weekly_sales":"Weekly_Sales",
    "tempercher":"Tempercher",
    "fule_price":"Fule_price"
}
print("*"*50)
df1=df.rename(columns=d)
print(df1.head())
df1.shape
print("*"*50)
print(df.info())    # check the memory use

           ddt  weekly_sales  tempercher  fule_price
0     05/02/10    1223434.45       42.31       2.572
1     12/02/10    1641957.44       38.51       2.548
2     19/02/10    1611968.17       39.93       2.514
3     26/02/10    1409727.59       46.63       2.561
4     05/03/10    1554806.68       46.50       2.625
...        ...           ...         ...         ...
6430  28/09/12     713173.95       64.88       3.997
6431  05/10/12     733455.07       64.89       3.985
6432  12/10/12     734464.36       54.47       4.000
6433  19/10/12     718125.53       56.47       3.969
6434  26/10/12     760281.43       58.85       3.882

[6435 rows x 4 columns]
**************************************************
       Date  Weekly_Sales  Tempercher  Fule_price
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ddt           6435 non-null   object
 1   weekly_sales  6435 non-null   float64
 2   tempercher    6434 non-null   float64
 3   fule_price    6434 non-null   float64
dtypes: float64(3), object(1)
memory usage: 201.2+ KB
None

### 1. The inplace parameter
- inplace is a parameter for DataFrame method like
   1. rename(p,inplace)
   2. drop(p,inplce)
   3. sort_values(p,inplace)
   4. set_index(p,inplace)etc
- This inplace parameter accepets two values
  1. inplace = False means it cannot overwise the exisiting DataFrame
  2. inplace = True means it can overwise the exisiting DataFrame

### => simple words
- In-place means that you should update the original instead of creating new object

### 2. rename(p) method - without inplace parameter
- rename(p) is predefined method in DataFrame
- We can access rename() method by using DataFrame objet
- We can even change multiple column names by using rename(p) method

In [15]:
# rename(p) method - without inplace parameter
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df)
d={
    "ddt":"Date",
    "weekly_sales":"Weekly_Sales",
    "tempercher":"Tempercher",
    "fule_price":"Fule_price"
}
print("*"*50)
df1=df.rename(columns=d)
print(df1.head())

           ddt  weekly_sales  tempercher  fule_price
0     05/02/10    1223434.45       42.31       2.572
1     12/02/10    1641957.44       38.51       2.548
2     19/02/10    1611968.17       39.93       2.514
3     26/02/10    1409727.59       46.63       2.561
4     05/03/10    1554806.68       46.50       2.625
...        ...           ...         ...         ...
6430  28/09/12     713173.95       64.88       3.997
6431  05/10/12     733455.07       64.89       3.985
6432  12/10/12     734464.36       54.47       4.000
6433  19/10/12     718125.53       56.47       3.969
6434  26/10/12     760281.43       58.85       3.882

[6435 rows x 4 columns]
**************************************************
       Date  Weekly_Sales  Tempercher  Fule_price
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625

### 3. rename(p) method - with inplace parameter 
- rename(p , inplace = True) is a predefind method in DataFrame.
- We can provide inplace parameter to rename(p,inplace = True) method
-   # imp if same one ask what is inplace parameter then you should ans this 
- If we provide inplace parameter then directly changes will be apply on original DataFrame
- whenever if we apply inplace = True then it should update the original DataFrame instead of creating new DataFrame

In [3]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df)
d={
    "ddt":"Date",
    "weekly_sales":"Weekly_Sales",
    "tempercher":"Tempercher",
    "fule_price":"Fule_price"
}
print("*"*50)
df.rename(columns=d,inplace=True)
print(df.head())

           ddt  weekly_sales  tempercher  fule_price
0     05/02/10    1223434.45       42.31       2.572
1     12/02/10    1641957.44       38.51       2.548
2     19/02/10    1611968.17       39.93       2.514
3     26/02/10    1409727.59       46.63       2.561
4     05/03/10    1554806.68       46.50       2.625
...        ...           ...         ...         ...
6430  28/09/12     713173.95       64.88       3.997
6431  05/10/12     733455.07       64.89       3.985
6432  12/10/12     734464.36       54.47       4.000
6433  19/10/12     718125.53       56.47       3.969
6434  26/10/12     760281.43       58.85       3.882

[6435 rows x 4 columns]
**************************************************
       Date  Weekly_Sales  Tempercher  Fule_price
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625