# PANDAS - SELECTION-iLOC - LOC

### 1. Selecting single 
- Based on requirement we can select column from the DataFrame.
  1. if we select a single column then it returns the series

In [6]:
# Selecting single column from the DataFrame
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/amazon.csv")
#print(df.columns)
print(df.product_name)

0       Wayona Nylon Braided USB to Lightning Fast Cha...
1       Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
2       Sounce Fast Phone Charging Cable & Data Sync U...
3       boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...
4       Portronics Konnect L 1.2M Fast Charging 3A 8 P...
                              ...
1460    Noir Aqua - 5pcs PP Spun Filter + 1 Spanner | ...
1461    Prestige Delight PRWO Electric Rice Cooker (1 ...
1462    Bajaj Majesty RX10 2000 Watts Heat Convector R...
1463    Havells Ventil Air DSP 230mm Exhaust Fan (Pist...
1464    Borosil Jumbo 1000-Watt Grill Sandwich Maker (...
Name: product_name, Length: 1465, dtype: object

In [8]:
# Selecting single column from the DataFrame
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/amazon.csv")
print(df.columns)
print(df["product_name"])

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'discount_percentage', 'rating', 'rating_count',
       'about_product', 'user_id', 'user_name', 'review_id'],
      dtype='object')
0       Wayona Nylon Braided USB to Lightning Fast Cha...
1       Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
2       Sounce Fast Phone Charging Cable & Data Sync U...
3       boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...
4       Portronics Konnect L 1.2M Fast Charging 3A 8 P...
                              ...
1460    Noir Aqua - 5pcs PP Spun Filter + 1 Spanner | ...
1461    Prestige Delight PRWO Electric Rice Cooker (1 ...
1462    Bajaj Majesty RX10 2000 Watts Heat Convector R...
1463    Havells Ventil Air DSP 230mm Exhaust Fan (Pist...
1464    Borosil Jumbo 1000-Watt Grill Sandwich Maker (...
Name: product_name, Length: 1465, dtype: object

### 2 Selecting multiple columns
- Based on requirement we can select columns from the DataFrame
  1. if we select more than one column then it returns the DataFrame.

In [10]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/amazon.csv")
print(df[['product_id', 'product_name']])

      product_id                                       product_name
0     B07JW9H4J1  Wayona Nylon Braided USB to Lightning Fast Cha...
1     B098NS6PVG  Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
2     B096MSW6CT  Sounce Fast Phone Charging Cable & Data Sync U...
3     B08HDJ86NZ  boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...
4     B08CF3B7N1  Portronics Konnect L 1.2M Fast Charging 3A 8 P...
...          ...                                                ...
1460  B08L7J3T31  Noir Aqua - 5pcs PP Spun Filter + 1 Spanner | ...
1461  B01M6453MB  Prestige Delight PRWO Electric Rice Cooker (1 ...
1462  B009P2LIL4  Bajaj Majesty RX10 2000 Watts Heat Convector R...
1463  B00J5DYCCA  Havells Ventil Air DSP 230mm Exhaust Fan (Pist...
1464  B01486F4G6  Borosil Jumbo 1000-Watt Grill Sandwich Maker (...

[1465 rows x 2 columns]

In [15]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
#print(df.columns)
c=["Date","Weekly_Sales"]
print(df[c])

            Date  Weekly_Sales
0     05-02-2010    1643690.90
1     12-02-2010    1641957.44
2     19-02-2010    1611968.17
3     26-02-2010    1409727.59
4     05-03-2010    1554806.68
...          ...           ...
6430  28-09-2012     713173.95
6431  05-10-2012     733455.07
6432  12-10-2012     734464.36
6433  19-10-2012     718125.53
6434  26-10-2012     760281.43

[6435 rows x 2 columns]

In [146]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.columns)
print(df[["Store","Date"]])

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')
      Store        Date
0         1  05-02-2010
1         1  12-02-2010
2         1  19-02-2010
3         1  26-02-2010
4         1  05-03-2010
...     ...         ...
6430     45  28-09-2012
6431     45  05-10-2012
6432     45  12-10-2012
6433     45  19-10-2012
6434     45  26-10-2012

[6435 rows x 2 columns]

In [147]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.columns)
c=["Store","Date"]
print(df[c])

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')
      Store        Date
0         1  05-02-2010
1         1  12-02-2010
2         1  19-02-2010
3         1  26-02-2010
4         1  05-03-2010
...     ...         ...
6430     45  28-09-2012
6431     45  05-10-2012
6432     45  12-10-2012
6433     45  19-10-2012
6434     45  26-10-2012

[6435 rows x 2 columns]

In [165]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.head())
print(df.columns)
print("*"*50)
c=df["species"]=="setosa"
print(df[c])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
**************************************************
    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [178]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.head())
print("*"*50)
con=df["species"]=="versicolor"
print(df[con])
print("*"*50)
df1=df[con]
print(df1["sepal_width"])
print("*"*50)
print("total sum of sepal_width => ",df1["sepal_width"].sum())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
**************************************************
    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor
**************************************************
50    3.2
51    3.2
52    3.1
53    2.3
54    2.8
55    2.8
56    3.3
57    2.4
58    2.9
59    2.7
60    2.0
61    3.0
62    2.2
63    2.9
64    2.9
65    3.1
66    3.0
67    2.7
68    2.2
69    2.5
70    3.2
71    2.8
72    2.5
73    2.8
74    2.9
75    3.0
76    2.8
77    3.0
78    2.9
79    2.6
80    2.4
81    2.4
82    2.7
83    2.7
84    3.0
85    3.4
86    3.1
87    2.3
88    3.0
89    2.5
90    2.6
91    3.0
92    2.6
93    2.3
94    2.7
95    3.0
96    2.9
97    2.9
98    2.5
99    2.8
Name: sepal_width, dtype: float64
**************************************************
total sum of sepal_width =>  138.50000000000003

In [189]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.head())
con=df["sepal_width"]==2.5
print("*"*50)
print(df[con])
df1=df[con]
con2=df1["species"]=="versicolor"
print(df1[con2])
print("*"*50)
print(df1[con2].sum())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
**************************************************
     sepal_length  sepal_width  petal_length  petal_width     species
69            5.6          2.5           3.9          1.1  versicolor
72            6.3          2.5           4.9          1.5  versicolor
89            5.5          2.5           4.0          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
106           4.9          2.5           4.5          1.7   virginica
108           6.7          2.5           5.8          1.8   virginica
113           5.7          2.5           5.0          2.0   virginica
146           6.3          2.5           5.0          1.9   virginica
    sepal_length  sepal_width  petal_length  petal_width     species
69           5.6          2.5           3.9          1.1  versicolor
72           6.3          2.5           4.9          1.5  versicolor
89           5.5          2.5           4.0          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
**************************************************
sepal_length                                        22.5
sepal_width                                         10.0
petal_length                                        15.8
petal_width                                          5.0
species         versicolorversicolorversicolorversicolor
dtype: object

In [202]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print("df=>",df.head())
con=df["sepal_width"]==2.5
print("*"*50)
print(df[con])
df1=df[con]
con2=df1["species"]=="versicolor"
print(df1[con2])
print("*"*50)
df3=df1[con2]
print("=> total sum of 2.5 in versiclor",df3["sepal_width"].sum())

df=>    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
**************************************************
     sepal_length  sepal_width  petal_length  petal_width     species
69            5.6          2.5           3.9          1.1  versicolor
72            6.3          2.5           4.9          1.5  versicolor
89            5.5          2.5           4.0          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
106           4.9          2.5           4.5          1.7   virginica
108           6.7          2.5           5.8          1.8   virginica
113           5.7          2.5           5.0          2.0   virginica
146           6.3          2.5           5.0          1.9   virginica
    sepal_length  sepal_width  petal_length  petal_width     species
69           5.6          2.5           3.9          1.1  versicolor
72           6.3          2.5           4.9          1.5  versicolor
89           5.5          2.5           4.0          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
**************************************************
=> total sum of 2.5 in versiclor 10.0

### 3. Selecting specific column values 
- Based on requirement we can select specific column values from DataFrame
  1. by using boolean condition we can select the data from DataFrame

In [3]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.columns)
con=df['species']=="versicolor"
print(df[con])

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

### 4. iloc and indexers
- We can select columns from the DataFrame by using iloc and loc
- iloc and loc are called as indexers in DataFrame
- By using these indexers we can get
  1. Rows and columns of DataFrame
  2. Slice of DataFrame

## => Select the Data from DataFrame 
- Single column
- multiple column
- by using condition (filtering )   =====df[con]==""
- by using loc and iloc

## => kick intro about loc and iloc
- loc and iloc => having very special name

In [204]:
values=[10,20,30,40]
print(values)   #=> list data str
print(values[0]) #=> list indexer
print(values[1]) #=> list indexer

[10, 20, 30, 40]
10
20

- loc and iloc = also called as indexers

### 5 . iloc[]indexer
- the iloc is used for indexed - based selection method
- We have to pass only interger index to select specific row/cloumn.
- by using this we can get rows or coloumn at particular positions in the index (so it only include the last element in DataFrame)
- this does not include the last element in Dataframe

In [220]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print("*"*50)

print(df.iloc[0])

**************************************************
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

### 5.1 iloc[]syntax
- df.iloc[<row selction>]
  1. dfiloc[single value]
  2. df.iloc[0]
  3. df.iloc[1]
- df.iloc[<row selection>,<column selection>]

## => Note on syntax
- so according the syntax there are two arguments
  1. row selection
  2. coloumn selection

### 5.2 Creating a DataFrame 
- whenever we load a csv file then pandas returns the DataFrame

In [207]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print("df=>",df)

df=>      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### 5.3 Selecting single column
- We can select or multiple rows by using iloc indexer
  1. if we select one row or column then it returns a Series.

In [211]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print("df=>",df)
print("*"*50)
print(df["species"])
print("*"*50)
c=["species"]
print(df[c])
print("*"*50)
print(df.sepal_width)

df=>      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
**************************************************
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
**************************************************
       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]
**************************************************
0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [222]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print("df=>",df)
print("*"*50)

print(df.iloc[0])
print()
print(df.iloc[4])

df=>      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
**************************************************
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

sepal_length       5.0
sepal_width        3.6
petal_length       1.4
petal_width        0.2
species         setosa
Name: 4, dtype: object

In [228]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print("df=>",df)
print("*"*50)
print(df.iloc[-1]) # last of the index

df=>      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
**************************************************
sepal_length          5.9
sepal_width           3.0
petal_length          5.1
petal_width           1.8
species         virginica
Name: 149, dtype: object

# IMP interview questons
- df.loc[0] => vaild
- df.loc[1] => vaild
- df.loc[-1] => vaild

- df.iloc["order id "] =>

In [234]:
# We have to pass only interger index to select specific row/cloumn.
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print("df=>",df)
print("*"*50)
s=df.iloc["sepal_length"]
print(s)

df=>      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
**************************************************

TypeError: Cannot index by location index with a non-integer key

In [251]:
# first column of the DataFrame
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
#print("df=>",df)
print(df.iloc[ : , :])

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [257]:
# first column of the DataFrame
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
#print("df=>",df)
print(df.iloc[ : , 4 ])

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

# syntax 1:
- df.iloc[sinagle values]
- df.iloc[0]
# syntax 2:
- df.iloc[ LHS : RHS ]
- df.iloc[ rows : column ]
- df.iloc[:,0]

In [260]:
# first column of the DataFrame
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
#print("df=>",df)
print(df.iloc[ : , 0 ])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [261]:
# Secound column of the dataFrame
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
#print("df=>",df)
print(df.iloc[ : , 1 ])

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [265]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
#print("df=>",df)
print(df.iloc[ : , -1 ])

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [272]:
# multiples rows and  cloumns
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.columns)
c=['sepal_length', 'sepal_width']
print(df[c])

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

# => Selecting multiple rows and column
- by using iloc

# => Accessing multiple rows
- df.head(5)=> top 5 records
- df[0:5]=> top 5 records
- df[5:10]=> values will be start from 5 to 10

In [280]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df[0:5])
print()
print(df.head())
print()
print(df[50:60])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor

### 5.4 Selecting multiple rows and columns
- We can select single or multiple rows by using iloc indexer
  1. if we select multiple rows and columns by using iloc indexer then resturns a DataFrame

# Accessing single row

In [4]:
#syntax 1
# Accessing single row
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[0])

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

# Accessing single column

In [5]:
## Accessing single column
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[:,2])

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

# Acess mutliples columns

In [6]:
# Acess mutliples columns 
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[:,0:2])

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

# Acess mutliples rows

In [10]:
# Acess mutliples rows
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[0:10,])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

- We can select single or multiple rows by using iloc indexer
  1. if we select multiple rows and columns by using iloc indexer then resturns a DataFrameWe can select single or multiple rows by using iloc indexer

In [11]:
# first five rows from DataFrame
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[0:5])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# HOW TO ACCESS MULTIPLE ROWS
- df.head() => avg
- df[0:5] => good
- df.iloc[0:5] => super fast

In [ ]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")

In [ ]:
import p

In [15]:
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.head())
print("*"*50)
print(df[0:5])
print("*"*50)
print(df.iloc[0:5])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
**************************************************
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
**************************************************
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[0:20:2,0:5:2])

    sepal_length  petal_length species
0            5.1           1.4  setosa
2            4.7           1.3  setosa
4            5.0           1.4  setosa
6            4.6           1.4  setosa
8            4.4           1.4  setosa
10           5.4           1.5  setosa
12           4.8           1.4  setosa
14           5.8           1.2  setosa
16           5.4           1.3  setosa
18           5.7           1.7  setosa

In [18]:
# first three column of the dataFrame with all rows
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[:,0:3])

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [19]:
# first 5 rows and first 2 columns of the DataFrame
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[0:5,0:2])

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [20]:
# first 5 rows and first 3 columns of the DataFrame
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.iloc[0:5,0:3])

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

### 6. loc[] indexer
- This indexer used to get rows or columns with particular lables from the index
- The loc index is label based data selection means we have pass the name of the rows or columns which we want to select
- The loc indexer can alse do boolean selection
- This includes the last elements in DataFrame

### Usage
- We can use loc[] indexer for two purpose
  1. Selecting rows by label / index
  2. Selecting rows with a boolean/conditional lookup

### Syntax
- df.loc[<row selection>,<column selection>]

### 6.1 loc() - Selecting rows by label/index
- We can set index for the DataFrame by using set_index(p)method.
- The loc[] indexer directly selects based on index values of any rows.
  1. for example, if we set index as product then we can select the specific prduct directly

### 6.2 Creating a DataFrame
- if we load a csv file in pandas then it returns DataFrame

In [21]:
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [36]:
# changing column name to index values
import pandas as pd
df1=pd.read_csv("/Users/apple/Downloads/iris.csv")
df1=df1.set_index("species")
print(df1)              # 4 columns are there

           sepal_length  sepal_width  petal_length  petal_width
species
setosa              5.1          3.5           1.4          0.2
setosa              4.9          3.0           1.4          0.2
setosa              4.7          3.2           1.3          0.2
setosa              4.6          3.1           1.5          0.2
setosa              5.0          3.6           1.4          0.2
...                 ...          ...           ...          ...
virginica           6.7          3.0           5.2          2.3
virginica           6.3          2.5           5.0          1.9
virginica           6.5          3.0           5.2          2.0
virginica           6.2          3.4           5.4          2.3
virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [38]:
import pandas as pd
df1=pd.read_csv("/Users/apple/Downloads/iris.csv")
print(df.set_index("petal_width"))

             sepal_length  sepal_width  petal_length    species
petal_width
0.2                   5.1          3.5           1.4     setosa
0.2                   4.9          3.0           1.4     setosa
0.2                   4.7          3.2           1.3     setosa
0.2                   4.6          3.1           1.5     setosa
0.2                   5.0          3.6           1.4     setosa
...                   ...          ...           ...        ...
2.3                   6.7          3.0           5.2  virginica
1.9                   6.3          2.5           5.0  virginica
2.0                   6.5          3.0           5.2  virginica
2.3                   6.2          3.4           5.4  virginica
1.8                   5.9          3.0           5.1  virginica

[150 rows x 4 columns]

# => conclusion = Index is not countable for total columns

In [52]:
import pandas as pd
df1=pd.read_csv("/Users/apple/Downloads/iris.csv")
df1=df.set_index("species")
print(df1)
a="setosa"
df2=df1.loc[a]
print(df2.head() )
print()
print(df2.shape)

           sepal_length  sepal_width  petal_length  petal_width
species
setosa              5.1          3.5           1.4          0.2
setosa              4.9          3.0           1.4          0.2
setosa              4.7          3.2           1.3          0.2
setosa              4.6          3.1           1.5          0.2
setosa              5.0          3.6           1.4          0.2
...                 ...          ...           ...          ...
virginica           6.7          3.0           5.2          2.3
virginica           6.3          2.5           5.0          1.9
virginica           6.5          3.0           5.2          2.0
virginica           6.2          3.4           5.4          2.3
virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
         sepal_length  sepal_width  petal_length  petal_width
species
setosa            5.1          3.5           1.4          0.2
setosa            4.9          3.0           1.4          0.2
setosa            4.7          3.2           1.3          0.2
setosa            4.6          3.1           1.5          0.2
setosa            5.0          3.6           1.4          0.2

(50, 4)

In [60]:
# Setting index as a product name and selecting product
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
df1=df.set_index("species")
print()
a="virginica"
df2=df1.loc[a]
print(df2)
print(df2.shape)
print(df.tail())

           sepal_length  sepal_width  petal_length  petal_width
species
virginica           6.3          3.3           6.0          2.5
virginica           5.8          2.7           5.1          1.9
virginica           7.1          3.0           5.9          2.1
virginica           6.3          2.9           5.6          1.8
virginica           6.5          3.0           5.8          2.2
virginica           7.6          3.0           6.6          2.1
virginica           4.9          2.5           4.5          1.7
virginica           7.3          2.9           6.3          1.8
virginica           6.7          2.5           5.8          1.8
virginica           7.2          3.6           6.1          2.5
virginica           6.5          3.2           5.1          2.0
virginica           6.4          2.7           5.3          1.9
virginica           6.8          3.0           5.5          2.1
virginica           5.7          2.5           5.0          2.0
virginica           5.8          2.8           5.1          2.4
virginica           6.4          3.2           5.3          2.3
virginica           6.5          3.0           5.5          1.8
virginica           7.7          3.8           6.7          2.2
virginica           7.7          2.6           6.9          2.3
virginica           6.0          2.2           5.0          1.5
virginica           6.9          3.2           5.7          2.3
virginica           5.6          2.8           4.9          2.0
virginica           7.7          2.8           6.7          2.0
virginica           6.3          2.7           4.9          1.8
virginica           6.7          3.3           5.7          2.1
virginica           7.2          3.2           6.0          1.8
virginica           6.2          2.8           4.8          1.8
virginica           6.1          3.0           4.9          1.8
virginica           6.4          2.8           5.6          2.1
virginica           7.2          3.0           5.8          1.6
virginica           7.4          2.8           6.1          1.9
virginica           7.9          3.8           6.4          2.0
virginica           6.4          2.8           5.6          2.2
virginica           6.3          2.8           5.1          1.5
virginica           6.1          2.6           5.6          1.4
virginica           7.7          3.0           6.1          2.3
virginica           6.3          3.4           5.6          2.4
virginica           6.4          3.1           5.5          1.8
virginica           6.0          3.0           4.8          1.8
virginica           6.9          3.1           5.4          2.1
virginica           6.7          3.1           5.6          2.4
virginica           6.9          3.1           5.1          2.3
virginica           5.8          2.7           5.1          1.9
virginica           6.8          3.2           5.9          2.3
virginica           6.7          3.3           5.7          2.5
virginica           6.7          3.0           5.2          2.3
virginica           6.3          2.5           5.0          1.9
virginica           6.5          3.0           5.2          2.0
virginica           6.2          3.4           5.4          2.3
virginica           5.9          3.0           5.1          1.8
(50, 4)
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [64]:
## Setting index as a product name and selecting product
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
df1=df.set_index("species")
a="setosa"
df2=df1.loc[a]
print(df2)

         sepal_length  sepal_width  petal_length  petal_width
species
setosa            5.1          3.5           1.4          0.2
setosa            4.9          3.0           1.4          0.2
setosa            4.7          3.2           1.3          0.2
setosa            4.6          3.1           1.5          0.2
setosa            5.0          3.6           1.4          0.2
setosa            5.4          3.9           1.7          0.4
setosa            4.6          3.4           1.4          0.3
setosa            5.0          3.4           1.5          0.2
setosa            4.4          2.9           1.4          0.2
setosa            4.9          3.1           1.5          0.1
setosa            5.4          3.7           1.5          0.2
setosa            4.8          3.4           1.6          0.2
setosa            4.8          3.0           1.4          0.1
setosa            4.3          3.0           1.1          0.1
setosa            5.8          4.0           1.2          0.2
setosa            5.7          4.4           1.5          0.4
setosa            5.4          3.9           1.3          0.4
setosa            5.1          3.5           1.4          0.3
setosa            5.7          3.8           1.7          0.3
setosa            5.1          3.8           1.5          0.3
setosa            5.4          3.4           1.7          0.2
setosa            5.1          3.7           1.5          0.4
setosa            4.6          3.6           1.0          0.2
setosa            5.1          3.3           1.7          0.5
setosa            4.8          3.4           1.9          0.2
setosa            5.0          3.0           1.6          0.2
setosa            5.0          3.4           1.6          0.4
setosa            5.2          3.5           1.5          0.2
setosa            5.2          3.4           1.4          0.2
setosa            4.7          3.2           1.6          0.2
setosa            4.8          3.1           1.6          0.2
setosa            5.4          3.4           1.5          0.4
setosa            5.2          4.1           1.5          0.1
setosa            5.5          4.2           1.4          0.2
setosa            4.9          3.1           1.5          0.1
setosa            5.0          3.2           1.2          0.2
setosa            5.5          3.5           1.3          0.2
setosa            4.9          3.1           1.5          0.1
setosa            4.4          3.0           1.3          0.2
setosa            5.1          3.4           1.5          0.2
setosa            5.0          3.5           1.3          0.3
setosa            4.5          2.3           1.3          0.3
setosa            4.4          3.2           1.3          0.2
setosa            5.0          3.5           1.6          0.6
setosa            5.1          3.8           1.9          0.4
setosa            4.8          3.0           1.4          0.3
setosa            5.1          3.8           1.6          0.2
setosa            4.6          3.2           1.4          0.2
setosa            5.3          3.7           1.5          0.2
setosa            5.0          3.3           1.4          0.2

In [70]:
# Setting index as a product name and selecting product
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
df1=df.set_index("sepal_width")
a=2.5
df2=df1.loc[a]
print(df2)
print()
print(len(df2))

             sepal_length  petal_length  petal_width     species
sepal_width
2.5                   5.6           3.9          1.1  versicolor
2.5                   6.3           4.9          1.5  versicolor
2.5                   5.5           4.0          1.3  versicolor
2.5                   5.1           3.0          1.1  versicolor
2.5                   4.9           4.5          1.7   virginica
2.5                   6.7           5.8          1.8   virginica
2.5                   5.7           5.0          2.0   virginica
2.5                   6.3           5.0          1.9   virginica

8

In [75]:
# Setting index as a product name and selecting two products
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/iris.csv")
df1=df.set_index("species")
a=["versicolor","virginica"]
df2=df1.loc[a]
print(df2)
print()
print(len(df2))

            sepal_length  sepal_width  petal_length  petal_width
species
versicolor           7.0          3.2           4.7          1.4
versicolor           6.4          3.2           4.5          1.5
versicolor           6.9          3.1           4.9          1.5
versicolor           5.5          2.3           4.0          1.3
versicolor           6.5          2.8           4.6          1.5
...                  ...          ...           ...          ...
virginica            6.7          3.0           5.2          2.3
virginica            6.3          2.5           5.0          1.9
virginica            6.5          3.0           5.2          2.0
virginica            6.2          3.4           5.4          2.3
virginica            5.9          3.0           5.1          1.8

[100 rows x 4 columns]

100

In [89]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/amazon.csv")
df1=df.set_index("discount_percentage")
a=["50%","60%"]
df2=df1.loc[a]
print(df2.head())
print()
print(df2.shape)
print()
print(df2.nunique())

                     product_id  \
discount_percentage
50%                  B008IFXQFU
50%                  B07232M876
50%                  B071SDRGWL
50%                  B09XJ1LM7R
50%                  B083GQGT3Z

                                                          product_name  \
discount_percentage
50%                  TP-Link USB WiFi Adapter for PC(TL-WN725N), N1...
50%                  Amazonbasics Micro Usb Fast Charging Cable For...
50%                  boAt Type-c A400 Type-c to USB A Cable for All...
50%                  7SEVEN Compatible for Tata Sky Remote Origina...
50%                  Caprigo Heavy Duty TV Wall Mount Stand for 12 ...

                                                              category  \
discount_percentage
50%                  Computers&Accessories|NetworkingDevices|Networ...
50%                  Computers&Accessories|Accessories&Peripherals|...
50%                  Computers&Accessories|Accessories&Peripherals|...
50%                  Electronics|HomeTheater,TV&Video|Accessories|R...
50%                  Electronics|HomeTheater,TV&Video|Accessories|T...

                    discounted_price actual_price rating rating_count  \
discount_percentage
50%                             499         999    4.2     1,79,691
50%                             199         395    4.2       92,595
50%                             349         699    4.3       20,850
50%                             399         799    4.3           12
50%                             399         799    4.1        1,161

                                                         about_product  \
discount_percentage
50%                  USB WiFi Adapter  Speedy wireless transmissi...
50%                  Cable Length: 6 Feet (1. 82 Meters)|Gold-Plate...
50%                  Support The Maximum 3A Fast Charging And The S...
50%                  [Compatible] All model of dth SD / HD / HD+ Pl...
50%                  TV & Monitor Wall Mount Compatibility : 12 To ...

                                                               user_id  \
discount_percentage
50%                  AGV3IEFANZCKECFGUM42MRH5FNOA,AEBO7NWCNXKT4AESA...
50%                  AF7IXQKBUL6NEIQG4R53LMJJUGXQ,AFODI4XXHXHBFFUHK...
50%                  AFA332YHUPB6I7KMME7SOFX5RKQQ,AH3LHRL5P4YAVOQQC...
50%                                       AE242TR3GQ6TYC6W4SJ5UYYKBTYQ
50%                  AHKONLROYYEFMPWU5WN7NC5VZIEQ,AGACP7SH2Y22RU24I...

                                                             user_name  \
discount_percentage
50%                  Azhar JuMan,Anirudh Sood,Hari Krishnan PS,Akas...
50%                  Neeraj Vishwakarma,Siddharth,SD1908,Mukundha2g...
50%                  GHOST,Amazon Customer,A Vase,Mani Jha,Anu B,Ga...
50%                                                        anurag jain
50%                  SNR,Aditya Digambar Pachghare,Harika,nkm,Loven...

                                                             review_id
discount_percentage
50%                  R1LW6NWSVTVZ2H,R3VR5WFKUS15C5,R2F6GC79OYWUKQ,R...
50%                  R22EUJ1B1AM0OU,R2K89RVGN8N9MO,R177X9L6ND6OA7,R...
50%                  R1G4I5FLAHM16P,R1DXRMVWV2OVE8,R2BJFG3I9TAZ2P,R...
50%                                                     R38OAD16RVS9D4
50%                  R2CR72CAK85YA7,R1J7T1CF1601BH,R3IGDXE5UAOW8I,R...

(112, 11)

product_id          102
product_name        101
category             50
discounted_price     42
actual_price         47
rating               15
rating_count         93
about_product       101
user_id              99
user_name            99
review_id            99
dtype: int64

In [109]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.set_index("Date"))
a=["05-02-2010","19-02-2010"]
b=["Temperature"  ,"Fuel_Price"]
df1=df.loc[a,b]
print(df1)

            Store  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
Date
05-02-2010      1    1643690.90             0        42.31       2.572
12-02-2010      1    1641957.44             1        38.51       2.548
19-02-2010      1    1611968.17             0        39.93       2.514
26-02-2010      1    1409727.59             0        46.63       2.561
05-03-2010      1    1554806.68             0        46.50       2.625
...           ...           ...           ...          ...         ...
28-09-2012     45     713173.95             0        64.88       3.997
05-10-2012     45     733455.07             0        64.89       3.985
12-10-2012     45     734464.36             0        54.47       4.000
19-10-2012     45     718125.53             0        56.47       3.969
26-10-2012     45     760281.43             0        58.85       3.882

                   CPI  Unemployment
Date
05-02-2010  211.096358         8.106
12-02-2010  211.242170         8.106
19-02-2010  211.289143         8.106
26-02-2010  211.319643         8.106
05-03-2010  211.350143         8.106
...                ...           ...
28-09-2012  192.013558         8.684
05-10-2012  192.170412         8.667
12-10-2012  192.327265         8.667
19-10-2012  192.330854         8.667
26-10-2012  192.308899         8.667

[6435 rows x 7 columns]

KeyError: "None of [Index(['05-02-2010', '19-02-2010'], dtype='object')] are in the [index]"

In [117]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
df1=df.set_index("Model")
a=["Prius","Polo"]
b=["Fuel type","Price","Year of manufacture"]
df2=df1.loc[a,b]
print(df2)
print(df2.shape)
print()
print(df.shape)

      Fuel type  Price  Year of manufacture
Model
Prius    Hybrid  30297                 2015
Prius    Hybrid   6512                 2003
Prius    Hybrid    961                 1990
Prius    Hybrid  38961                 2017
Prius    Hybrid  29946                 2016
...         ...    ...                  ...
Polo     Petrol   1644                 2000
Polo     Petrol   5287                 2006
Polo     Petrol   1987                 2000
Polo     Petrol    210                 1987
Polo     Petrol  12703                 2012

[9163 rows x 3 columns]
(9163, 3)

(50000, 7)

In [121]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
df1=df.set_index("Manufacturer")
row=["Ford","BMW"]
cols=["Model","Year of manufacture","Price"]
df2=df1.loc[row,cols]
print(df2)

               Model  Year of manufacture   Price
Manufacturer
Ford          Fiesta                 2002    3074
Ford          Mondeo                 2014   24072
Ford           Focus                 2018   29204
Ford          Mondeo                 2010   14350
Ford           Focus                 1992    1049
...              ...                  ...     ...
BMW               Z4                 2015   29466
BMW               X3                 2006   14336
BMW               Z4                 2013   28921
BMW               M5                 1994    5106
BMW               M5                 2018  113006

[19924 rows x 3 columns]

In [129]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
df1=df.set_index("Manufacturer")
a=["Ford","BMW"]
b=["Model","Year of manufacture","Price","Fuel type"]
df2=df1.loc[a,b]
print(df2)

               Model  Year of manufacture   Price Fuel type
Manufacturer
Ford          Fiesta                 2002    3074    Petrol
Ford          Mondeo                 2014   24072    Diesel
Ford           Focus                 2018   29204    Petrol
Ford          Mondeo                 2010   14350    Diesel
Ford           Focus                 1992    1049    Diesel
...              ...                  ...     ...       ...
BMW               Z4                 2015   29466    Petrol
BMW               X3                 2006   14336    Diesel
BMW               Z4                 2013   28921    Petrol
BMW               M5                 1994    5106    Petrol
BMW               M5                 2018  113006    Petrol

[19924 rows x 4 columns]

### 6.3 Boolen / loading indexing 
- Based on condition we can get rows and coloumns from DataFrame
- This is the most commonly used data analysis
- in most use cases you will make selections based on the values of differnt columns in your data set

In [130]:
# Select rows with specific product with all columns between order id and product cost 
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
a=df["Model"]=="Mondeo"
print(df.loc[a])

      Manufacturer   Model  Engine size Fuel type  Year of manufacture  \
2             Ford  Mondeo          1.6    Diesel                 2014
6             Ford  Mondeo          1.8    Diesel                 2010
21            Ford  Mondeo          1.6    Diesel                 1996
73            Ford  Mondeo          1.8    Diesel                 1999
75            Ford  Mondeo          1.4    Diesel                 2000
...            ...     ...          ...       ...                  ...
49975         Ford  Mondeo          1.4    Diesel                 2007
49982         Ford  Mondeo          2.0    Hybrid                 2002
49988         Ford  Mondeo          1.6    Diesel                 1990
49993         Ford  Mondeo          1.8    Petrol                 2003
49997         Ford  Mondeo          1.6    Diesel                 2022

       Mileage  Price
2        39190  24072
6        86686  14350
21       77584   5667
73      104544   6058
75      128137   4771
...        ...    ...
49975    97727   9574
49982   146982   6407
49988   142328   2339
49993   120969   6654
49997     4030  49852

[5058 rows x 7 columns]

In [137]:
# Select rows with specific cae with all columns between model no and peice
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
a=df["Model"]=="Mondeo"
df1=df.loc[a,"Manufacturer":"Price"]
print(df1.head())

   Manufacturer   Model  Engine size Fuel type  Year of manufacture  Mileage  \
2          Ford  Mondeo          1.6    Diesel                 2014    39190
6          Ford  Mondeo          1.8    Diesel                 2010    86686
21         Ford  Mondeo          1.6    Diesel                 1996    77584
73         Ford  Mondeo          1.8    Diesel                 1999   104544
75         Ford  Mondeo          1.4    Diesel                 2000   128137

    Price
2   24072
6   14350
21   5667
73   6058
75   4771

In [147]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
df1=df["Model"]=="Mondeo"
df2=df.loc[df1]
print(df2)

      Manufacturer   Model  Engine size Fuel type  Year of manufacture  \
2             Ford  Mondeo          1.6    Diesel                 2014
6             Ford  Mondeo          1.8    Diesel                 2010
21            Ford  Mondeo          1.6    Diesel                 1996
73            Ford  Mondeo          1.8    Diesel                 1999
75            Ford  Mondeo          1.4    Diesel                 2000
...            ...     ...          ...       ...                  ...
49975         Ford  Mondeo          1.4    Diesel                 2007
49982         Ford  Mondeo          2.0    Hybrid                 2002
49988         Ford  Mondeo          1.6    Diesel                 1990
49993         Ford  Mondeo          1.8    Petrol                 2003
49997         Ford  Mondeo          1.6    Diesel                 2022

       Mileage  Price
2        39190  24072
6        86686  14350
21       77584   5667
73      104544   6058
75      128137   4771
...        ...    ...
49975    97727   9574
49982   146982   6407
49988   142328   2339
49993   120969   6654
49997     4030  49852

[5058 rows x 7 columns]

In [154]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
a=df["Year of manufacture"]==2004
df1=df.loc[a]
print(df1)

      Manufacturer   Model  Engine size Fuel type  Year of manufacture  \
58             BMW      Z4          2.2    Petrol                 2004
182         Toyota   Yaris          1.2    Petrol                 2004
217           Ford  Fiesta          1.2    Petrol                 2004
255            BMW      M5          4.4    Petrol                 2004
280         Toyota   Yaris          1.4    Hybrid                 2004
...            ...     ...          ...       ...                  ...
49844         Ford  Mondeo          1.6    Diesel                 2004
49894       Toyota    RAV4          2.0    Hybrid                 2004
49918       Toyota    RAV4          1.8    Petrol                 2004
49985           VW  Passat          1.8    Diesel                 2004
49991       Toyota    RAV4          2.0    Hybrid                 2004

       Mileage  Price
58      126777   8373
182     179016   2914
217     160915   2933
255     108396  24571
280     100476   7076
...        ...    ...
49844   119614   7115
49894   162580   7928
49918    95297  10609
49985   145451   6501
49991   105792  12427

[1578 rows x 7 columns]

In [155]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
a=df["Year of manufacture"]==2024
df1=df.loc[a]
print(df1)

Empty DataFrame
Columns: [Manufacturer, Model, Engine size, Fuel type, Year of manufacture, Mileage, Price]
Index: []

In [156]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/car_sales_data.csv")
a=df["Year of manufacture"]==2004
print(df[a])

      Manufacturer   Model  Engine size Fuel type  Year of manufacture  \
58             BMW      Z4          2.2    Petrol                 2004
182         Toyota   Yaris          1.2    Petrol                 2004
217           Ford  Fiesta          1.2    Petrol                 2004
255            BMW      M5          4.4    Petrol                 2004
280         Toyota   Yaris          1.4    Hybrid                 2004
...            ...     ...          ...       ...                  ...
49844         Ford  Mondeo          1.6    Diesel                 2004
49894       Toyota    RAV4          2.0    Hybrid                 2004
49918       Toyota    RAV4          1.8    Petrol                 2004
49985           VW  Passat          1.8    Diesel                 2004
49991       Toyota    RAV4          2.0    Hybrid                 2004

       Mileage  Price
58      126777   8373
182     179016   2914
217     160915   2933
255     108396  24571
280     100476   7076
...        ...    ...
49844   119614   7115
49894   162580   7928
49918    95297  10609
49985   145451   6501
49991   105792  12427

[1578 rows x 7 columns]