# Pandas - DataFrame - Sorting

### Sorting => keeping the values in an order
### Number  => ascending => small to big 
### .......... .......       => descending => big to small
### alphabets => alphabatical

In [26]:
# realtime programe
import pandas as pd
def load_file(p):
    dataframe=pd.read_csv(p)
    return dataframe
df=load_file("/Users/apple/Downloads/bank_transactions.csv")
print(df)

        TransactionID CustomerID CustomerDOB CustGender   CustLocation  \
0                  T1   C5841053     10/1/94          F     JAMSHEDPUR
1                  T2   C2142763      4/4/57          M        JHAJJAR
2                  T3   C4417068    26/11/96          F         MUMBAI
3                  T4   C5342380     14/9/73          F         MUMBAI
4                  T5   C9031234     24/3/88          F    NAVI MUMBAI
...               ...        ...         ...        ...            ...
1048562      T1048563   C8020229      8/4/90          M      NEW DELHI
1048563      T1048564   C6459278     20/2/92          M         NASHIK
1048564      T1048565   C6412354     18/5/89          M      HYDERABAD
1048565      T1048566   C6420483     30/8/78          M  VISAKHAPATNAM
1048566      T1048567   C8337524      5/3/84          M           PUNE

         CustAccountBalance TransactionDate  TransactionTime  \
0                  17819.05          2/8/16           143207
1                   2270.69          2/8/16           141858
2                  17874.44          2/8/16           142712
3                 866503.21          2/8/16           142714
4                   6714.43          2/8/16           181156
...                     ...             ...              ...
1048562             7635.19         18/9/16           184824
1048563            27311.42         18/9/16           183734
1048564           221757.06         18/9/16           183313
1048565            10117.87         18/9/16           184706
1048566            75734.42         18/9/16           181222

         TransactionAmount (INR)
0                           25.0
1                        27999.0
2                          459.0
3                         2060.0
4                         1762.5
...                          ...
1048562                    799.0
1048563                    460.0
1048564                    770.0
1048565                   1000.0
1048566                   1166.0

[1048567 rows x 9 columns]

In [2]:
values=[40,30,34,20]
print(values)

[40, 30, 34, 20]

In [7]:
# Ascending order
values=[40,30,20,10]
print()
values.sort()
print(values)

[10, 20, 30, 40]

In [8]:
# Descending order
values=[-1,0,1,40,30,20,10]
print()
values.reverse()
print(values)

[10, 20, 30, 40, 1, 0, -1]

### 1. Sorting
- DataFrame contains group of rows , column , index , values
- Based on requirment we can applying sorting on cloumn name,index,etc

### Creating a DataFrmame:
- If we load a csv file in pandas then it returns dataframe

In [9]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/bank_transactions.csv')
print(df)

        TransactionID CustomerID CustomerDOB CustGender   CustLocation  \
0                  T1   C5841053     10/1/94          F     JAMSHEDPUR
1                  T2   C2142763      4/4/57          M        JHAJJAR
2                  T3   C4417068    26/11/96          F         MUMBAI
3                  T4   C5342380     14/9/73          F         MUMBAI
4                  T5   C9031234     24/3/88          F    NAVI MUMBAI
...               ...        ...         ...        ...            ...
1048562      T1048563   C8020229      8/4/90          M      NEW DELHI
1048563      T1048564   C6459278     20/2/92          M         NASHIK
1048564      T1048565   C6412354     18/5/89          M      HYDERABAD
1048565      T1048566   C6420483     30/8/78          M  VISAKHAPATNAM
1048566      T1048567   C8337524      5/3/84          M           PUNE

         CustAccountBalance TransactionDate  TransactionTime  \
0                  17819.05          2/8/16           143207
1                   2270.69          2/8/16           141858
2                  17874.44          2/8/16           142712
3                 866503.21          2/8/16           142714
4                   6714.43          2/8/16           181156
...                     ...             ...              ...
1048562             7635.19         18/9/16           184824
1048563            27311.42         18/9/16           183734
1048564           221757.06         18/9/16           183313
1048565            10117.87         18/9/16           184706
1048566            75734.42         18/9/16           181222

         TransactionAmount (INR)
0                           25.0
1                        27999.0
2                          459.0
3                         2060.0
4                         1762.5
...                          ...
1048562                    799.0
1048563                    460.0
1048564                    770.0
1048565                   1000.0
1048566                   1166.0

[1048567 rows x 9 columns]

### 1.1 sort_values(by="column name")
- sort_values(p) is predefind method in DataFrme class.
- We should access this method by using DataFrame object
- This method sort the values based on cloumn which we specified
  1. Number default sorting is ascending order
  2. String default sorting is alphabetical order

In [15]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/bank_transactions.csv')
df1=df.sort_values(by="CustAccountBalance")
print(df1.info)
df2=df.dropna()
print(df2.info())

<bound method DataFrame.info of         TransactionID CustomerID CustomerDOB CustGender CustLocation  \
590894        T590895   C5332082      2/2/86          M      BHOJPUR
568102        T568103   C8240155    16/11/72          M  NAVI MUMBAI
208430        T208431   C9070851    1/1/1800          M       MUMBAI
340447        T340448   C6532081      2/2/86          M      BHOJPUR
325408        T325409   C1738072     16/5/74          M      ASANSOL
...               ...        ...         ...        ...          ...
1045875      T1045876   C4427246     25/4/80          M        SALEM
1046193      T1046194   C4813286    29/11/95          F       INDORE
1046726      T1046727   C1035768      9/6/91          M        DELHI
1046825      T1046826   C6231941      8/8/83          F  NAVI MUMBAI
1048048      T1048049   C1927213     25/4/80          M        SALEM

         CustAccountBalance TransactionDate  TransactionTime  \
590894                  0.0         26/8/16             4454
568102                  0.0         27/8/16           155713
208430                  0.0          3/9/16           124443
340447                  0.0         14/8/16           111345
325408                  0.0         15/8/16            85220
...                     ...             ...              ...
1045875                 NaN         18/9/16           131053
1046193                 NaN         18/9/16            20752
1046726                 NaN         18/9/16           200816
1046825                 NaN         18/9/16           190130
1048048                 NaN         18/9/16            82422

         TransactionAmount (INR)
590894                     27.00
568102                     73.87
208430                     50.00
340447                     60.00
325408                    550.00
...                          ...
1045875                  2363.00
1046193                   326.00
1046726                  7500.00
1046825                  9092.00
1048048                  2200.00

[1048567 rows x 9 columns]>
<class 'pandas.core.frame.DataFrame'>
Index: 1041614 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TransactionID            1041614 non-null  object
 1   CustomerID               1041614 non-null  object
 2   CustomerDOB              1041614 non-null  object
 3   CustGender               1041614 non-null  object
 4   CustLocation             1041614 non-null  object
 5   CustAccountBalance       1041614 non-null  float64
 6   TransactionDate          1041614 non-null  object
 7   TransactionTime          1041614 non-null  int64
 8   TransactionAmount (INR)  1041614 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 79.5+ MB
None

In [20]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/bank_transactions.csv')
df1=df.sort_values(by="CustAccountBalance")
print(df1)
print()
df2=df1["CustAccountBalance"]
print(df2)

        TransactionID CustomerID CustomerDOB CustGender CustLocation  \
590894        T590895   C5332082      2/2/86          M      BHOJPUR
568102        T568103   C8240155    16/11/72          M  NAVI MUMBAI
208430        T208431   C9070851    1/1/1800          M       MUMBAI
340447        T340448   C6532081      2/2/86          M      BHOJPUR
325408        T325409   C1738072     16/5/74          M      ASANSOL
...               ...        ...         ...        ...          ...
1045875      T1045876   C4427246     25/4/80          M        SALEM
1046193      T1046194   C4813286    29/11/95          F       INDORE
1046726      T1046727   C1035768      9/6/91          M        DELHI
1046825      T1046826   C6231941      8/8/83          F  NAVI MUMBAI
1048048      T1048049   C1927213     25/4/80          M        SALEM

         CustAccountBalance TransactionDate  TransactionTime  \
590894                  0.0         26/8/16             4454
568102                  0.0         27/8/16           155713
208430                  0.0          3/9/16           124443
340447                  0.0         14/8/16           111345
325408                  0.0         15/8/16            85220
...                     ...             ...              ...
1045875                 NaN         18/9/16           131053
1046193                 NaN         18/9/16            20752
1046726                 NaN         18/9/16           200816
1046825                 NaN         18/9/16           190130
1048048                 NaN         18/9/16            82422

         TransactionAmount (INR)
590894                     27.00
568102                     73.87
208430                     50.00
340447                     60.00
325408                    550.00
...                          ...
1045875                  2363.00
1046193                   326.00
1046726                  7500.00
1046825                  9092.00
1048048                  2200.00

[1048567 rows x 9 columns]

590894     0.0
568102     0.0
208430     0.0
340447     0.0
325408     0.0
          ...
1045875    NaN
1046193    NaN
1046726    NaN
1046825    NaN
1048048    NaN
Name: CustAccountBalance, Length: 1048567, dtype: float64

In [21]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/bank_transactions.csv')
a=df.sort_values(by="TransactionDate")
print(a)

       TransactionID CustomerID CustomerDOB CustGender           CustLocation  \
99643         T99644   C8237076     25/1/85          M             SAHARANPUR
99816         T99817   C2515216      8/9/88          M                 JAIPUR
99815         T99816   C7727271      5/8/86          M                  DELHI
99814         T99815   C1525115      7/7/77          F               KOLHAPUR
99813         T99814   C3413838    1/1/1800          M                 JAIPUR
...              ...        ...         ...        ...                    ...
844294       T844295   C4540724     13/8/73          M                CHENNAI
844293       T844294   C1642771    1/1/1800          M              NEW DELHI
844292       T844293   C3221437      8/4/92          F              NEW DELHI
844300       T844301   C4263485     15/7/88          M  BAHADURGARH (HARYANA)
847961       T847962   C2218084     16/1/82          F              BANGALORE

        CustAccountBalance TransactionDate  TransactionTime  \
99643             14210.74          1/8/16           201245
99816            174907.56          1/8/16           183927
99815            400230.28          1/8/16           183735
99814             30679.16          1/8/16           182230
99813            440463.42          1/8/16           184939
...                    ...             ...              ...
844294            57806.21          9/9/16           133230
844293            10208.69          9/9/16           133142
844292             9187.90          9/9/16           133047
844300             7593.41          9/9/16           130050
847961            18824.71          9/9/16           105902

        TransactionAmount (INR)
99643                   1512.75
99816                    480.00
99815                   1000.00
99814                     30.00
99813                   5000.00
...                         ...
844294                  4563.00
844293                 10000.00
844292                   528.00
844300                   200.00
847961                   151.06

[1048567 rows x 9 columns]

In [22]:
a=df.sort_values(by="CustLocation")
print(a)

        TransactionID CustomerID CustomerDOB CustGender  \
517352        T517353   C5328845      2/2/93          F
1031215      T1031216   C6528833      2/2/93          F
969199        T969200   C6428880      2/2/93          F
760879        T760880   C4128823      2/2/93          F
656156        T656157   C4728819      2/2/93          F
...               ...        ...         ...        ...
998657        T998658   C4514385     17/8/80          M
1008646      T1008647   C7210667     14/4/81          M
1034147      T1034148   C5933513      9/3/73          M
1035525      T1035526   C4672357     28/5/82          M
1036142      T1036143   C5326786      8/4/85          M

                     CustLocation  CustAccountBalance TransactionDate  \
517352   (154) BHASKOLA FARIDABAD            49388.09         19/8/16
1031215  (154) BHASKOLA FARIDABAD            49388.09         13/9/16
969199   (154) BHASKOLA FARIDABAD            49388.09         10/9/16
760879   (154) BHASKOLA FARIDABAD            49388.09          1/9/16
656156   (154) BHASKOLA FARIDABAD            49388.09         31/8/16
...                           ...                 ...             ...
998657                        NaN            16426.68         14/9/16
1008646                       NaN           345829.09         14/9/16
1034147                       NaN             2780.38         18/9/16
1035525                       NaN           299489.63         18/9/16
1036142                       NaN            14126.65         18/9/16

         TransactionTime  TransactionAmount (INR)
517352            222042                    50.00
1031215           103152                    30.00
969199            103338                    45.00
760879            153118                    50.00
656156            192551                   939.50
...                  ...                      ...
998657             85202                  1900.00
1008646           213230                  2046.00
1034147           180334                 25000.00
1035525           155141                   729.72
1036142           134550                  3000.00

[1048567 rows x 9 columns]

In [23]:
# Sorting dataframe by using sort_values(p)method
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/bank_transactions.csv')
a=df.sort_values(by="CustomerDOB",ascending=False)
print(a)

        TransactionID CustomerID CustomerDOB CustGender       CustLocation  \
621870        T621871   C8930977      9/9/97          F             DASUYA
522533        T522534   C2430927      9/9/97          F             DASUYA
383780        T383781   C2130972      9/9/97          F             DASUYA
56242          T56243   C6730991      9/9/97          F             DASUYA
727709        T727710   C6630931      9/9/97          F             DASUYA
...               ...        ...         ...        ...                ...
1047248      T1047249   C8510525         NaN          M           ZIRAKPUR
1047762      T1047763   C3827041         NaN          M               PUNE
1047919      T1047920   C2427054         NaN          M               PUNE
1048152      T1048153   C8138543         NaN          F  REIS MAGOS BARDEZ
1048472      T1048473   C1242585         NaN          M          NEW DELHI

         CustAccountBalance TransactionDate  TransactionTime  \
621870            404836.36         25/8/16           173908
522533            404836.36         24/8/16           155516
383780            404836.36         13/8/16           154528
56242             404836.36          3/8/16           183904
727709            404836.36          2/9/16           141233
...                     ...             ...              ...
1047248            98896.96         18/9/16             5852
1047762               91.36         18/9/16           193122
1047919               91.36         18/9/16           201925
1048152             2630.67         18/9/16           181307
1048472          1290777.41         18/9/16           175303

         TransactionAmount (INR)
621870                    3295.0
522533                      50.0
383780                    4600.0
56242                      285.0
727709                     155.0
...                          ...
1047248                   3000.0
1047762                    284.0
1047919                    365.0
1048152                    252.0
1048472                   8921.0

[1048567 rows x 9 columns]

In [27]:
# Sorting dataframe by using sort_values(p)method
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/bank_transactions.csv')
a=df.sort_values(by="CustomerDOB",ascending=0)
print(a)

        TransactionID CustomerID CustomerDOB CustGender       CustLocation  \
621870        T621871   C8930977      9/9/97          F             DASUYA
522533        T522534   C2430927      9/9/97          F             DASUYA
383780        T383781   C2130972      9/9/97          F             DASUYA
56242          T56243   C6730991      9/9/97          F             DASUYA
727709        T727710   C6630931      9/9/97          F             DASUYA
...               ...        ...         ...        ...                ...
1047248      T1047249   C8510525         NaN          M           ZIRAKPUR
1047762      T1047763   C3827041         NaN          M               PUNE
1047919      T1047920   C2427054         NaN          M               PUNE
1048152      T1048153   C8138543         NaN          F  REIS MAGOS BARDEZ
1048472      T1048473   C1242585         NaN          M          NEW DELHI

         CustAccountBalance TransactionDate  TransactionTime  \
621870            404836.36         25/8/16           173908
522533            404836.36         24/8/16           155516
383780            404836.36         13/8/16           154528
56242             404836.36          3/8/16           183904
727709            404836.36          2/9/16           141233
...                     ...             ...              ...
1047248            98896.96         18/9/16             5852
1047762               91.36         18/9/16           193122
1047919               91.36         18/9/16           201925
1048152             2630.67         18/9/16           181307
1048472          1290777.41         18/9/16           175303

         TransactionAmount (INR)
621870                    3295.0
522533                      50.0
383780                    4600.0
56242                      285.0
727709                     155.0
...                          ...
1047248                   3000.0
1047762                    284.0
1047919                    365.0
1048152                    252.0
1048472                   8921.0

[1048567 rows x 9 columns]

### 1.2 sort_index()
- sort_index() is predefined method in DataFrame in DataFrame class.
- We should access this method by using DataFrame object
- This method sort the indexes in DataFrme

In [38]:
import pandas as pd
df=pd.DataFrame
d={
    "order id":[555,444,333],
    "id":[11,21,31],
    "Customer name":["kishan","firoj","pika"],
    "Product":["iphone 11","htc","macebook"]
    
}
i=[90,11,12]
df1=pd.DataFrame(d,index=i)
df2=df1.sort_index()
print(df(d))
print()
print(df1)
print()
print(df2)

   order id  id Customer name    Product
0       555  11        kishan  iphone 11
1       444  21         firoj        htc
2       333  31          pika   macebook

    order id  id Customer name    Product
90       555  11        kishan  iphone 11
11       444  21         firoj        htc
12       333  31          pika   macebook

    order id  id Customer name    Product
11       444  21         firoj        htc
12       333  31          pika   macebook
90       555  11        kishan  iphone 11