# Pandas - DataFrame - GROUPBY     very very imp
- Data => splitting the data => apply operations => combile result
- step 1 => Data
- step 2 => splitting the data
- step 3 => apply operations
- step 4 => combile result

pandas - DataFrame - Groupby
===============================
pandas 
- df.groupby() => method
- GroupBy      => class

example
- Student => 100 members
- ## one type of groping the data
- 100 member => two group on gender
-              - boys = 60
-              - girls = 40

example
- Student => 100 members
- ## Another type  of groping the data 
- 100 member => two group on gender and edu
-              - boys = 60
-                            - betch=40
-                            - bsc=20

-              - girls = 40
-                            - betch = 39
-                            - bsc = 1

example
- Student => 100 members
- ## Another type  of groping the data and edu
- 100 member => two group on gender and location
-              - boys = 60
-                            - hyd=10
-                            - non hyd=20

-              - girls = 40
-                            - hyd= 10
-                            - non hyd = 30

- df.head() => single result => top 5 rows dataFrame
- df.tail() => single result => last 5 rows dataFrame
- df.rename() =>  single result => update DataFrame
- df.sort_values => single result => update DataFrame
- df.groupby => Groupby object
-                               - apply operations
-                                                  - get the result
-                                              
- groupby() methord retuns GroupBy object

### Very Very IMP point
- df.head() => returns => DataFrame 
- df.tail() => returns => DataFrame 
- df.groupby() => returns GroupBy object => apply operations => final result

### 1 . Groupby introduction
- Groupby is very common and important operation in Data analysis
- There are mainly 3 steps in Groupby operation
  1. Splitting the data into Group based on some criteria
  2. Appling operations to eash group independently
  3. combining the result

### - for example 
1. if we apply groupby on Product_name then it group the data into based on name of the product
2. The group(p) method returns a GroupBy object

### 2 Group(p)
- groupby(p) is predefined in a DataFrame
- We should access this method by using Dataframe object
- This method returns Groupby object

In [2]:
# Creating product DataFrame
import pandas as pd 
df=pd.DataFrame
d={
    "Product":["Samsung","Nokia","Samsung","Motorola","Nokia","Samsung","Samsung"],
    "Orders":[2,4,3,4,6,7,3]
}
print(df(d))

    Product  Orders
0   Samsung       2
1     Nokia       4
2   Samsung       3
3  Motorola       4
4     Nokia       6
5   Samsung       7
6   Samsung       3

## DataFrame 
- header - is not countable for rows
- index - is not countable for columns

In [10]:
import pandas as pd 
df=pd.DataFrame
d={
    "Product":["Samsung","Nokia","Samsung","Motorola","Nokia","Samsung","Samsung"],
    "Orders":[2,4,3,4,6,7,3]
}
df=pd.DataFrame(d)
group=df.groupby(["Product"])
result=group.sum()
print(df)
print()
print(result)

    Product  Orders
0   Samsung       2
1     Nokia       4
2   Samsung       3
3  Motorola       4
4     Nokia       6
5   Samsung       7
6   Samsung       3

          Orders
Product
Motorola       4
Nokia         10
Samsung       15

In [23]:
import pandas as pd 
df=pd.DataFrame
p=["Samsung","Nokia","Samsung","Motorola","Nokia","Samsung","Samsung"]
o=[2,4,3,4,6,7,3]
d={
    
    "Product":p,
    "Orders":o
}
df=pd.DataFrame(d)
a=df.groupby(["Product"])

print(a)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1239aed70>

In [25]:
import pandas as pd 
df=pd.DataFrame
d={
    
    "Product":["Samsung","Nokia","Samsung","Motorola","Nokia","Samsung","Samsung"],
    "Orders":[2,4,3,4,6,7,3]
}
df=pd.DataFrame(d)
a=df.groupby(["Product"])
r=a.sum()
print(r)

          Orders
Product
Motorola       4
Nokia         10
Samsung       15

In [33]:
import pandas as pd 
df=pd.DataFrame
d={
    
    "Product":["Samsung","Nokia","Samsung","Motorola","Nokia","Samsung","Samsung"],
    "Orders":[2,4,3,4,6,7,3]
}
df=pd.DataFrame(d)
a=df.groupby(["Product"])
r=a.sum()
print(r)
print()
print(df.Orders.sum())

          Orders
Product
Motorola       4
Nokia         10
Samsung       15

29

In [36]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
#print(df)
a=df.groupby(["bowling_team"])
r=a.sum()
print(r)

                             match_id  inning  \
bowling_team
Chennai Super Kings          43491694   29907
Deccan Chargers               1910322   14094
Delhi Capitals               22146728    2695
Delhi Daredevils             18203547   26531
Gujarat Lions                 1203688    5125
Kings XI Punjab              38199408   31151
Kochi Tuskers Kerala           431373    2388
Kolkata Knight Riders        39061195   30244
Mumbai Indians               41374011   34419
Pune Warriors                 1889413    7768
Rajasthan Royals             35627825   24996
Rising Pune Supergiant          60050    2894
Rising Pune Supergiants        973138    2358
Royal Challengers Bangalore  37346622   30972
Sunrisers Hyderabad          40824841   20022

                                                                  batting_team  \
bowling_team
Chennai Super Kings          Kings XI PunjabKings XI PunjabKings XI PunjabK...
Deccan Chargers              Kolkata Knight RidersKolkata Knight RidersKolk...
Delhi Capitals               Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
Delhi Daredevils             Royal Challengers BangaloreRoyal Challengers B...
Gujarat Lions                Kolkata Knight RidersKolkata Knight RidersKolk...
Kings XI Punjab              Rising Pune SupergiantRising Pune SupergiantRi...
Kochi Tuskers Kerala         Royal Challengers BangaloreRoyal Challengers B...
Kolkata Knight Riders        Gujarat LionsGujarat LionsGujarat LionsGujarat...
Mumbai Indians               Rising Pune SupergiantRising Pune SupergiantRi...
Pune Warriors                Kings XI PunjabKings XI PunjabKings XI PunjabK...
Rajasthan Royals             Delhi DaredevilsDelhi DaredevilsDelhi Daredevi...
Rising Pune Supergiant       Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
Rising Pune Supergiants      Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
Royal Challengers Bangalore  Sunrisers HyderabadSunrisers HyderabadSunriser...
Sunrisers Hyderabad          Royal Challengers BangaloreRoyal Challengers B...

                               over   ball  \
bowling_team
Chennai Super Kings          199141  70567
Deccan Chargers               92374  32738
Delhi Capitals                20487   7097
Delhi Daredevils             189436  67677
Gujarat Lions                 35824  12711
Kings XI Punjab              210348  75284
Kochi Tuskers Kerala          15883   5847
Kolkata Knight Riders        211788  75522
Mumbai Indians               230274  81698
Pune Warriors                 55674  19587
Rajasthan Royals             176140  63020
Rising Pune Supergiant        19788   6973
Rising Pune Supergiants       16386   5851
Royal Challengers Bangalore  215534  77058
Sunrisers Hyderabad          130801  45842

                                                                       batsman  \
bowling_team
Chennai Super Kings          K GoelK GoelK GoelK GoelJR HopesJR HopesK Goel...
Deccan Chargers              WP SahaBB McCullumBB McCullumBB McCullumWP Sah...
Delhi Capitals               RG SharmaQ de KockRG SharmaRG SharmaRG SharmaR...
Delhi Daredevils             CH GayleSR WatsonSR WatsonSR WatsonSR WatsonSR...
Gujarat Lions                G GambhirCA LynnCA LynnG GambhirG GambhirCA Ly...
Kings XI Punjab              AM RahaneMA AgarwalMA AgarwalMA AgarwalMA Agar...
Kochi Tuskers Kerala         MA AgarwalTM DilshanTM DilshanTM DilshanMA Aga...
Kolkata Knight Riders        JJ RoyJJ RoyJJ RoyJJ RoyJJ RoyJJ RoyBB McCullu...
Mumbai Indians               AM RahaneMA AgarwalMA AgarwalMA AgarwalAM Raha...
Pune Warriors                AC GilchristAC GilchristSE MarshAC GilchristPC...
Rajasthan Royals             G GambhirG GambhirG GambhirG GambhirG GambhirG...
Rising Pune Supergiant       PA PatelPA PatelPA PatelJC ButtlerPA PatelPA P...
Rising Pune Supergiants      LMP SimmonsRG SharmaRG SharmaRG SharmaRG Sharm...
Royal Challengers Bangalore  DA WarnerDA WarnerDA WarnerDA WarnerDA WarnerS...
Sunrisers Hyderabad          CH GayleMandeep SinghMandeep SinghMandeep Sing...

                                                                   non_striker  \
bowling_team
Chennai Super Kings          JR HopesJR HopesJR HopesJR HopesK GoelK GoelJR...
Deccan Chargers              BB McCullumWP SahaWP SahaWP SahaBB McCullumBB ...
Delhi Capitals               Q de KockRG SharmaQ de KockQ de KockQ de KockQ...
Delhi Daredevils             SR WatsonCH GayleCH GayleCH GayleCH GayleCH Ga...
Gujarat Lions                CA LynnG GambhirG GambhirCA LynnCA LynnG Gambh...
Kings XI Punjab              MA AgarwalAM RahaneAM RahaneAM RahaneAM Rahane...
Kochi Tuskers Kerala         TM DilshanMA AgarwalMA AgarwalMA AgarwalTM Dil...
Kolkata Knight Riders        BB McCullumBB McCullumBB McCullumBB McCullumBB...
Mumbai Indians               MA AgarwalAM RahaneAM RahaneAM RahaneMA Agarwa...
Pune Warriors                SE MarshSE MarshAC GilchristSE MarshSE MarshSE...
Rajasthan Royals             V SehwagV SehwagV SehwagV SehwagV SehwagV Sehw...
Rising Pune Supergiant       JC ButtlerJC ButtlerJC ButtlerPA PatelJC Buttl...
Rising Pune Supergiants      RG SharmaLMP SimmonsLMP SimmonsLMP SimmonsLMP ...
Royal Challengers Bangalore  S DhawanS DhawanS DhawanS DhawanS DhawanDA War...
Sunrisers Hyderabad          Mandeep SinghCH GayleCH GayleCH GayleCH GayleC...

                                                                        bowler  \
bowling_team
Chennai Super Kings          JDP OramJDP OramJDP OramJDP OramJDP OramJDP Or...
Deccan Chargers              WPUJC VaasWPUJC VaasWPUJC VaasWPUJC VaasWPUJC ...
Delhi Capitals               TA BoultTA BoultTA BoultTA BoultTA BoultTA Bou...
Delhi Daredevils             Z KhanZ KhanZ KhanZ KhanZ KhanZ KhanCH MorrisC...
Gujarat Lions                P KumarP KumarP KumarP KumarP KumarP KumarDS K...
Kings XI Punjab              Sandeep SharmaSandeep SharmaSandeep SharmaSand...
Kochi Tuskers Kerala         RP SinghRP SinghRP SinghRP SinghRP SinghRP Sin...
Kolkata Knight Riders        TA BoultTA BoultTA BoultTA BoultTA BoultTA Bou...
Mumbai Indians               TG SoutheeTG SoutheeTG SoutheeTG SoutheeTG Sou...
Pune Warriors                AC ThomasAC ThomasAC ThomasAC ThomasAC ThomasA...
Rajasthan Royals             MM PatelMM PatelMM PatelMM PatelMM PatelMM Pat...
Rising Pune Supergiant       AB DindaAB DindaAB DindaAB DindaAB DindaAB Din...
Rising Pune Supergiants      RP SinghRP SinghRP SinghRP SinghRP SinghRP Sin...
Royal Challengers Bangalore  TS MillsTS MillsTS MillsTS MillsTS MillsTS Mil...
Sunrisers Hyderabad          A NehraA NehraA NehraA NehraA NehraA NehraB Ku...

                             is_super_over  wide_runs  bye_runs  legbye_runs  \
bowling_team
Chennai Super Kings                      4        667        73          409
Deccan Chargers                          0        328        62          215
Delhi Capitals                           0         69         8           31
Delhi Daredevils                         6        659        82          436
Gujarat Lions                            5        107        10           64
Kings XI Punjab                          9        807        98          445
Kochi Tuskers Kerala                     0         56         5           41
Kolkata Knight Riders                   10        761       115          419
Mumbai Indians                           8        892       121          482
Pune Warriors                            0        174        38           97
Rajasthan Royals                        20        675       100          393
Rising Pune Supergiant                   0         69         3           38
Rising Pune Supergiants                  0         77         3           24
Royal Challengers Bangalore             13        877       124          465
Sunrisers Hyderabad                      6        358        42          226

                             noball_runs  penalty_runs  batsman_runs  \
bowling_team
Chennai Super Kings                   64             0         23981
Deccan Chargers                       49             5         10959
Delhi Capitals                         8             0          2558
Delhi Daredevils                      91             0         23543
Gujarat Lions                          7             0          4902
Kings XI Punjab                      103             0         26873
Kochi Tuskers Kerala                   8             0          1876
Kolkata Knight Riders                 77             0         26003
Mumbai Indians                       112             5         27289
Pune Warriors                         26             0          6522
Rajasthan Royals                      77             0         21412
Rising Pune Supergiant                 1             0          2325
Rising Pune Supergiants                4             0          2005
Royal Challengers Bangalore           92             0         27011
Sunrisers Hyderabad                   30             0         16027

                             extra_runs  total_runs  \
bowling_team
Chennai Super Kings                1213       25194
Deccan Chargers                     659       11618
Delhi Capitals                      116        2674
Delhi Daredevils                   1268       24811
Gujarat Lions                       188        5090
Kings XI Punjab                    1453       28326
Kochi Tuskers Kerala                110        1986
Kolkata Knight Riders              1372       27375
Mumbai Indians                     1612       28901
Pune Warriors                       335        6857
Rajasthan Royals                   1245       22657
Rising Pune Supergiant              111        2436
Rising Pune Supergiants             108        2113
Royal Challengers Bangalore        1558       28569
Sunrisers Hyderabad                 656       16683

                                                              player_dismissed  \
bowling_team
Chennai Super Kings          K GoelJR HopesYuvraj SinghKC SangakkaraL Ronch...
Deccan Chargers              BB McCullumRT PontingWP SahaSC GangulyMohammad...
Delhi Capitals               RG SharmaAS YadavQ de KockKA PollardHH PandyaK...
Delhi Daredevils             CH GayleMandeep SinghSR WatsonSTR BinnyVishnu ...
Gujarat Lions                S DhawanAM RahaneRA TripathiSPD SmithBA Stokes...
Kings XI Punjab              MA AgarwalAM RahaneSPD SmithMS DhoniBA StokesD...
Kochi Tuskers Kerala         TM DilshanV KohliMA AgarwalSS TiwaryJD RyderGC...
Kolkata Knight Riders        JJ RoyBB McCullumAJ FinchKD KarthikPA PatelJC ...
Mumbai Indians               MA AgarwalAM RahaneBA StokesG GambhirRV Uthapp...
Pune Warriors                AC GilchristSE MarshPC ValthatyKD KarthikSunny...
Rajasthan Royals             V SehwagK GoelKC SangakkaraDPMD JayawardeneJR ...
Rising Pune Supergiant       PA PatelRG SharmaJC ButtlerAT RayuduKH PandyaN...
Rising Pune Supergiants      RG SharmaLMP SimmonsHH PandyaJC ButtlerKA Poll...
Royal Challengers Bangalore  DA WarnerS DhawanMC HenriquesYuvraj SinghAP Ta...
Sunrisers Hyderabad          Mandeep SinghCH GayleKM JadhavTM HeadSachin Ba...

                                                                dismissal_kind  \
bowling_team
Chennai Super Kings          caughtcaughtcaughtcaughtrun outcaughtbowledbow...
Deccan Chargers              caughtlbwcaughtbowledcaughtcaughtcaughtcaughtb...
Delhi Capitals               caughtrun outcaughtcaughtcaughtcaughtcaughtcau...
Delhi Daredevils             caughtbowledstumpedcaughtrun outcaughtbowledbo...
Gujarat Lions                caughtcaughtcaughtcaughtbowledlbwcaughtcaughtb...
Kings XI Punjab              bowledcaughtcaughtcaught and bowledcaught and ...
Kochi Tuskers Kerala         caughtlbwcaughtcaughtcaught and bowledcaughtca...
Kolkata Knight Riders        caughtlbwcaughtcaughtlbwlbwlbwcaughtcaughtcaug...
Mumbai Indians               caughtcaughtcaughtcaughtcaughtlbwcaughtcaughtc...
Pune Warriors                caughtcaughtcaughtcaughtrun outcaughtcaughtcau...
Rajasthan Royals             bowledbowledcaught and bowledstumpedlbwlbwbowl...
Rising Pune Supergiant       bowledbowledlbwcaught and bowledcaughtcaughtca...
Rising Pune Supergiants      lbwbowledcaughtcaughtlbwcaughtcaughtcaughtcaug...
Royal Challengers Bangalore  caughtcaughtcaughtbowledbowledbowledcaughtcaug...
Sunrisers Hyderabad          bowledcaughtrun outcaughtcaughtcaughtcaughtbow...

                                                                       fielder
bowling_team
Chennai Super Kings          PA PatelJoginder SharmaP AmarnathJoginder Shar...
Deccan Chargers              RG SharmaSB StyrisA SymondsAC GilchristSB Bang...
Delhi Capitals               R TewatiaSS IyerTA BoultR TewatiaAR PatelR Tew...
Delhi Daredevils             SV SamsonRR PantSW BillingsS NadeemCH MorrisSV...
Gujarat Lions                BB McCullumSK RainaAJ FinchAJ FinchBB McCullum...
Kings XI Punjab              MP StoinisM VohraGJ MaxwellGJ MaxwellWP SahaAR...
Kochi Tuskers Kerala         BB McCullumR Vinay KumarDPMD JayawardeneRP Sin...
Kolkata Knight Riders        YK PathanKuldeep YadavKuldeep YadavRV UthappaR...
Mumbai Indians               RG SharmaN RanaTG SoutheeMJ McClenaghanHH Pand...
Pune Warriors                RV UthappaR SharmaJD RyderR SharmaYuvraj Singh...
Rajasthan Royals             Kamran AkmalKamran AkmalRA JadejaKamran AkmalR...
Rising Pune Supergiant       MS DhoniR BhatiaMA AgarwalMS DhoniMK TiwaryBA ...
Rising Pune Supergiants      MS DhoniR AshwinAM RahaneF du PlessisSPD Smith...
Royal Challengers Bangalore  Mandeep SinghSachin BabySachin BabyB StanlakeS...
Sunrisers Hyderabad          DA WarnerBCJ CuttingYuvraj SinghMC HenriquesYu...

In [41]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
a=df.groupby(["batsman"])
r=a.size()
print(r)
print(r.shape)

batsman
A Ashish Reddy     196
A Chandila           7
A Chopra            75
A Choudhary         20
A Dananjaya          5
                  ...
YV Takawale        183
Yashpal Singh       67
Younis Khan          7
Yuvraj Singh      2207
Z Khan             141
Length: 516, dtype: int64
(516,)

In [51]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
a=df.groupby(["batting_team"])
r=a.size()
print(r)
print()
print(r.shape)
print()
s=r.sort_values()
print(s)

batting_team
Chennai Super Kings            19762
Deccan Chargers                 9034
Delhi Capitals                  1909
Delhi Daredevils               18786
Gujarat Lions                   3566
Kings XI Punjab                20931
Kochi Tuskers Kerala            1582
Kolkata Knight Riders          20858
Mumbai Indians                 22619
Pune Warriors                   5443
Rajasthan Royals               17292
Rising Pune Supergiant          1900
Rising Pune Supergiants         1580
Royal Challengers Bangalore    20908
Sunrisers Hyderabad            12908
dtype: int64

(15,)

batting_team
Rising Pune Supergiants         1580
Kochi Tuskers Kerala            1582
Rising Pune Supergiant          1900
Delhi Capitals                  1909
Gujarat Lions                   3566
Pune Warriors                   5443
Deccan Chargers                 9034
Sunrisers Hyderabad            12908
Rajasthan Royals               17292
Delhi Daredevils               18786
Chennai Super Kings            19762
Kolkata Knight Riders          20858
Royal Challengers Bangalore    20908
Kings XI Punjab                20931
Mumbai Indians                 22619
dtype: int64

In [12]:
# Get the number of product on count 
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
a=df.groupby(["non_striker"])
r=a.size()
print(r)

non_striker
A Ashish Reddy     145
A Chandila          13
A Chopra            99
A Choudhary         21
A Dananjaya          4
                  ...
YV Takawale        142
Yashpal Singh       42
Younis Khan         14
Yuvraj Singh      1985
Z Khan             141
Length: 511, dtype: int64

In [55]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/bank_transactions.csv")
print(df)

        TransactionID CustomerID CustomerDOB CustGender   CustLocation  \
0                  T1   C5841053     10/1/94          F     JAMSHEDPUR
1                  T2   C2142763      4/4/57          M        JHAJJAR
2                  T3   C4417068    26/11/96          F         MUMBAI
3                  T4   C5342380     14/9/73          F         MUMBAI
4                  T5   C9031234     24/3/88          F    NAVI MUMBAI
...               ...        ...         ...        ...            ...
1048562      T1048563   C8020229      8/4/90          M      NEW DELHI
1048563      T1048564   C6459278     20/2/92          M         NASHIK
1048564      T1048565   C6412354     18/5/89          M      HYDERABAD
1048565      T1048566   C6420483     30/8/78          M  VISAKHAPATNAM
1048566      T1048567   C8337524      5/3/84          M           PUNE

         CustAccountBalance TransactionDate  TransactionTime  \
0                  17819.05          2/8/16           143207
1                   2270.69          2/8/16           141858
2                  17874.44          2/8/16           142712
3                 866503.21          2/8/16           142714
4                   6714.43          2/8/16           181156
...                     ...             ...              ...
1048562             7635.19         18/9/16           184824
1048563            27311.42         18/9/16           183734
1048564           221757.06         18/9/16           183313
1048565            10117.87         18/9/16           184706
1048566            75734.42         18/9/16           181222

         TransactionAmount (INR)
0                           25.0
1                        27999.0
2                          459.0
3                         2060.0
4                         1762.5
...                          ...
1048562                    799.0
1048563                    460.0
1048564                    770.0
1048565                   1000.0
1048566                   1166.0

[1048567 rows x 9 columns]

In [58]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/bank_transactions.csv")
cols=["TransactionDate","CustLocation"]
group=df.groupby(cols)
print(group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x15575cb90>

In [1]:
import pandas as pd 
df=pd.read_csv("/Users/apple/Downloads/bank_transactions.csv")
cols=["TransactionDate","CustLocation"]
group=df.groupby(cols)["TransactionDate"]
r=group.count()
print(r)

TransactionDate  CustLocation
1/8/16           (E) MUMBAI                            2
                 (EAST) MUMBAI                         1
                 (MCORP) 1/C NR HOTEL GRANT MUMBAI     1
                 (RLY) NAGPUR                          1
                 (SUBURBAN) MUMBAI                     1
                                                      ..
9/9/16           YAMUNANAGAR                          25
                 YASHRAJ FILMS STUDIO MUMBAI           1
                 YESHWANTHPURA BANGALORE               1
                 ZIRAKPUR                             47
                 ZIRAKPUR ZIRAKPUR                     1
Name: TransactionDate, Length: 86319, dtype: int64

In [16]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
#print(df)
cols=["batting_team","batsman"]
r=df.groupby(cols)["batting_team"]
rr=r.count()
print(rr)

batting_team         batsman
Chennai Super Kings  A Flintoff               57
                     A Mukund                  1
                     A Nehra                   7
                     AS Rajpoot                6
                     AT Rayudu               717
                                            ...
Sunrisers Hyderabad  WP Saha                 163
                     X Thalaivan Sargunam     17
                     Y Venugopal Rao          65
                     YK Pathan               258
                     Yuvraj Singh            371
Name: batting_team, Length: 935, dtype: int64

In [20]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
#print(df)
cols=["batsman","batting_team"]
r=df.groupby(cols)["batsman"]
a=r.count()
print(a)

batsman         batting_team
A Ashish Reddy  Deccan Chargers                 30
                Sunrisers Hyderabad            166
A Chandila      Rajasthan Royals                 7
A Chopra        Kolkata Knight Riders           75
A Choudhary     Royal Challengers Bangalore     20
                                              ...
Yuvraj Singh    Royal Challengers Bangalore    288
                Sunrisers Hyderabad            371
Z Khan          Delhi Daredevils                26
                Mumbai Indians                  31
                Royal Challengers Bangalore     84
Name: batsman, Length: 935, dtype: int64

In [24]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
#print(df)
cols=["batting_team","batsman"]
r=df.groupby(cols)["over"]
print(r.sum())

batting_team         batsman
Chennai Super Kings  A Flintoff               670
                     A Mukund                  20
                     A Nehra                  138
                     AS Rajpoot               118
                     AT Rayudu               7196
                                             ...
Sunrisers Hyderabad  WP Saha                  880
                     X Thalaivan Sargunam     222
                     Y Venugopal Rao          821
                     YK Pathan               3855
                     Yuvraj Singh            5156
Name: over, Length: 935, dtype: int64

In [30]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
#print(df)
cols=["batting_team","batsman"]
r=df.groupby(cols,as_index=False)["over"]
print(r.sum())
print(r.count())

            batting_team               batsman  over
0    Chennai Super Kings            A Flintoff   670
1    Chennai Super Kings              A Mukund    20
2    Chennai Super Kings               A Nehra   138
3    Chennai Super Kings            AS Rajpoot   118
4    Chennai Super Kings             AT Rayudu  7196
..                   ...                   ...   ...
930  Sunrisers Hyderabad               WP Saha   880
931  Sunrisers Hyderabad  X Thalaivan Sargunam   222
932  Sunrisers Hyderabad       Y Venugopal Rao   821
933  Sunrisers Hyderabad             YK Pathan  3855
934  Sunrisers Hyderabad          Yuvraj Singh  5156

[935 rows x 3 columns]
            batting_team               batsman  over
0    Chennai Super Kings            A Flintoff    57
1    Chennai Super Kings              A Mukund     1
2    Chennai Super Kings               A Nehra     7
3    Chennai Super Kings            AS Rajpoot     6
4    Chennai Super Kings             AT Rayudu   717
..                   ...                   ...   ...
930  Sunrisers Hyderabad               WP Saha   163
931  Sunrisers Hyderabad  X Thalaivan Sargunam    17
932  Sunrisers Hyderabad       Y Venugopal Rao    65
933  Sunrisers Hyderabad             YK Pathan   258
934  Sunrisers Hyderabad          Yuvraj Singh   371

[935 rows x 3 columns]

In [39]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
#print(df)
cols=["batsman"]
r=df.groupby(cols ,as_index=False)["batsman_runs"]
print(r.sum())

            batsman  batsman_runs
0    A Ashish Reddy           280
1        A Chandila             4
2          A Chopra            53
3       A Choudhary            25
4       A Dananjaya             4
..              ...           ...
511     YV Takawale           192
512   Yashpal Singh            47
513     Younis Khan             3
514    Yuvraj Singh          2765
515          Z Khan           117

[516 rows x 2 columns]

In [52]:
# describe method
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/deliveries.csv")
df1=df["batsman_runs"]
a=df1.describe()

print(a)

count    179078.000000
mean          1.246864
std           1.608270
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           7.000000
Name: batsman_runs, dtype: float64

In [57]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Coffe_sales (Before).csv.csv')
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   object
 10  Time         3547 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 304.9+ KB
None
   hour_of_day cash_type  money    coffee_name Time_of_Day Weekday Month_name  \
0           10      card   38.7          Latte     Morning     Fri        Mar
1           12      card   38.7  Hot Chocolate   Afternoon     Fri        Mar
2           12      card   38.7  Hot Chocolate   Afternoon     Fri        Mar
3           13      card   28.9      Americano   Afternoon     Fri        Mar
4           13      card   38.7          Latte   Afternoon     Fri        Mar

   Weekdaysort  Monthsort        Date             Time
0            5          3  2024-03-01  10:15:50.520000
1            5          3  2024-03-01  12:19:22.539000
2            5          3  2024-03-01  12:20:18.089000
3            5          3  2024-03-01  13:46:33.006000
4            5          3  2024-03-01  13:48:14.626000

In [60]:
# Applying a single function to columns in group
# sum  => predefined function in python 
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Coffe_sales (Before).csv.csv')
d={
    "coffee_name":["Latte"],
    "money":sum    
}
print(d)

{'coffee_name': ['Latte'], 'money': <built-in function sum>}

In [69]:
# Applying a single function to columns in group
# sum  => predefined function in python 
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Coffe_sales (Before).csv.csv')
d={
    "money":"sum"
}
cols=["Date","coffee_name"]
g=df.groupby(cols)
r=g.agg(d)
print(r)

                                 money
Date       coffee_name
2024-03-01 Americano             28.90
           Americano with Milk  135.20
           Cocoa                 38.70
           Hot Chocolate        116.10
           Latte                 77.40
...                                ...
2025-03-22 Latte                 35.76
2025-03-23 Americano             25.96
           Cappuccino            35.76
           Cocoa                 71.52
           Latte                 71.52

[1676 rows x 1 columns]

In [78]:
#
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Coffe_sales (Before).csv.csv')
d={
    "money":sum,           # this is predefined by python 
    "coffee_name":"count"  # this is predefined by pandas  by using double column 
}
#print(df)
cols=["Date","coffee_name"]
g=df.groupby(cols)
r=g.agg(d)
print(r.head(20))

                                money  coffee_name
Date       coffee_name
2024-03-01 Americano             28.9            1
           Americano with Milk  135.2            4
           Cocoa                 38.7            1
           Hot Chocolate        116.1            3
           Latte                 77.4            2
2024-03-02 Americano             86.7            3
           Americano with Milk  101.4            3
2024-03-03 Americano             28.9            1
           Americano with Milk   67.6            2
           Cocoa                 38.7            1
           Cortado               57.8            2
           Hot Chocolate         77.4            2
           Latte                 38.7            1
2024-03-04 Americano with Milk   33.8            1
           Espresso              24.0            1
           Latte                 77.4            2
2024-03-05 Cocoa                 38.7            1
           Cortado               28.9            1
           Hot Chocolate        154.8            4
           Latte                116.1            3

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_1775/3400643833.py:11: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  r=g.agg(d)