# Dataframe - Merging or Joining

- Joining/Merging => Belong =>  - Database(query)
- software
- to store the data
- tables

- Joining/Merging => belong => Pandas
- two DataFrames

### 1. Introduction 
- By using pandas we can perform join operations as well
- This is same as join operations in database.
- Here we are preforming join in between the dataframes
- joining is the process of brining two DataFrame into one DataFrame based on common attributes in columns

### 2.Merge(p1,p2,p3,p4) Function
- Merge(p1,p2,p3,p4) is a predefined function in pandas.
  1. pd.merge(df1,df2 on ="column", how = "type of join")
- We should access this function by using pandas libary
- By using this function we can perform join operations over DataFrames

## 'how' Argument
- The how argument helps to specify then type of join

### 3. Type of joins
- Inner Merge / Inner join
- Left Merge / Left outer join
- Right Merge / Right outer join
- Outer Merge / Full outer join

### 3.1 Inner join 
- We can perform inner join on DataFrame
- This inner join is a kind of  intersection means,it keeps the common data

In [3]:
a=[2,3,4,5,6,77,8]
b=[90,5,6,23,21,43,67]
# intersection means common value or common data   are inner join
print("a,b = 5,6")

a,b = 5,6

### Merge(df1,df2 on ="column",how="type")
- merge(df1,df2,on="coloumn",how="type") is predefined function in pandas
- To perform inner join , we need to pass how values as "ineer" as per the syntax

In [ ]:
# syntax 
pd.merge(df1,df2, on="column_name",how="inner")

In [6]:
#inner join => getting commom in two DataFrame
import pandas as pd
b={
    "name":["kishan","pika","firoj"],
    "age":[22,43,54]
}
df1=pd.DataFrame(b)
print(df1)
d={
    "name":["kishan","raja","firoj"],
    "age":[22,54,54],
    "rollno":[1233,543,565]
}
df2=pd.DataFrame(d)
print("*"*50)
print(df2)

df3=pd.merge(df1, df2, on="name",how="inner")
print("*"*20)
print(df3)

     name  age
0  kishan   22
1    pika   43
2   firoj   54
**************************************************
     name  age  rollno
0  kishan   22    1233
1    raja   54     543
2   firoj   54     565
********************
     name  age_x  age_y  rollno
0  kishan     22     22    1233
1   firoj     54     54     565

In [15]:
#inner join

import pandas as pd

# First DataFrame
b = {
    "name": ["kishan", "pika", "firoj"],
    "age": [22, 43, 54]
}
df1 = pd.DataFrame(b)
print(df1)

# Second DataFrame
d = {
    "name": ["kishan", "raja", "firoj"],
    "age": [22, 54, 54],
    "rollno": [1233, 543, 565]
}
df2 = pd.DataFrame(d)
print("*" * 50)
print(df2)

# Merge on the 'name' column using inner join
df3 = pd.merge(df1, df2, on="name", how="inner")
print("*" * 50)
print(df3)

     name  age
0  kishan   22
1    pika   43
2   firoj   54
**************************************************
     name  age  rollno
0  kishan   22    1233
1    raja   54     543
2   firoj   54     565
**************************************************
     name  age_x  age_y  rollno
0  kishan     22     22    1233
1   firoj     54     54     565

In [21]:
#inner join

b = {
    "name": ["kishan", "pika", "firoj"],
    "age": [22, 43, 54]
}
df1 = pd.DataFrame(b)
print(df1)

# Second DataFrame
d = {
    "name": ["kishan", "raja", "firoj"],
    "age": [22, 54, 54],
    "rollno": [1233, 543, 565]
}
df2 = pd.DataFrame(d)
print("*" * 50)
print(df2)
df3=pd.merge(df1,df2,on="name",how="inner")
print("*" * 50)
print(df3)

     name  age
0  kishan   22
1    pika   43
2   firoj   54
**************************************************
     name  age  rollno
0  kishan   22    1233
1    raja   54     543
2   firoj   54     565
**************************************************
     name  age_x  age_y  rollno
0  kishan     22     22    1233
1   firoj     54     54     565

In [32]:
#inner join

import pandas as pd
b = {
    "id": [ 1, 2, 3, 4, 5, 6],
    "name": ["pradhan","venu","madhurima","nireekshan","shafi","veeru",],
    "subject": ["english","java","html","python","c","dot net"],
    
}
df1 = pd.DataFrame(b)
print(df1)

# Second DataFrame
d = {
    "id": [11,12,13,14,15,16],
    "name": ["srinu","sumanth","neelima","daniel","srjun","veeru"],
    "subject": ["java","html","cpp","python","c","dot not"]
    
}
df2 = pd.DataFrame(d)
print("*" * 50)
print(df2)
print("*" * 50)

df3=pd.merge(
    df1,
    df2,
    on="subject",
    how="inner"
)
print(df3)

   id        name  subject
0   1     pradhan  english
1   2        venu     java
2   3   madhurima     html
3   4  nireekshan   python
4   5       shafi        c
5   6       veeru  dot net
**************************************************
   id     name  subject
0  11    srinu     java
1  12  sumanth     html
2  13  neelima      cpp
3  14   daniel   python
4  15    srjun        c
5  16    veeru  dot not
**************************************************
   id_x      name_x subject  id_y   name_y
0     2        venu    java    11    srinu
1     3   madhurima    html    12  sumanth
2     4  nireekshan  python    14   daniel
3     5       shafi       c    15    srjun

In [5]:
#inner join

import pandas as pd

# First DataFrame
b = {
    "id": [1, 2, 3, 4, 5, 6],
    "name": ["pradhan", "venu", "madhurima", "nireekshan", "shafi", "veeru"],
    "subject": ["english", "java", "html", "python", "c", "dot net"]
}
df1 = pd.DataFrame(b)
print("first DataFrame")
print(df1)

print("*" * 50)

# Second DataFrame
d = {
    "id": [11, 12, 13, 14, 15, 16],
    "name": ["srinu", "sumanth", "neelima", "daniel", "srjun", "veeru"],
    "subject": ["java", "html", "cpp", "python", "c", "dot not"]
}
df2 = pd.DataFrame(d)
print("second DataFrame")
print(df2)

print("*" * 50)

# Merging DataFrames on 'subject'
df3 = pd.merge(df1, df2, on="name", how="inner")
print("thie DataFrame")
print(df3)

first DataFrame
   id        name  subject
0   1     pradhan  english
1   2        venu     java
2   3   madhurima     html
3   4  nireekshan   python
4   5       shafi        c
5   6       veeru  dot net
**************************************************
second DataFrame
   id     name  subject
0  11    srinu     java
1  12  sumanth     html
2  13  neelima      cpp
3  14   daniel   python
4  15    srjun        c
5  16    veeru  dot not
**************************************************
thie DataFrame
   id_x   name subject_x  id_y subject_y
0     6  veeru   dot net    16   dot not

### 3.2 left join
- Keep every row in left DataFramed
- Where there are missing values of the "on"  Variable in the right DataFrame filled with NaN values in the result

In [10]:
#left join
import pandas as pd

# First DataFrame
b = {
    "id": [1, 2, 3, 4, 5, 6],
    "name": ["pradhan", "venu", "madhurima", "nireekshan", "shafi", "veeru"],
    "subject": ["english", "java", "html", "python", "c", "dot net"]
}
df1 = pd.DataFrame(b)
print("first DataFrame")
print(df1)

print("*" * 50)

# Second DataFrame
d = {
    "id": [11, 12, 13, 14, 15, 16],
    "name": ["srinu", "sumanth", "neelima", "daniel", "srjun", "veeru"],
    "subject": ["java", "html", "cpp", "python", "c", "dot net"]
}
df2 = pd.DataFrame(d)
print("second DataFrame")
print(df2)

print("*" * 50)

# Merging DataFrames on 'subject'
df3=pd.merge(df1,df2, on="subject",how="left")
print(df3)

first DataFrame
   id        name  subject
0   1     pradhan  english
1   2        venu     java
2   3   madhurima     html
3   4  nireekshan   python
4   5       shafi        c
5   6       veeru  dot net
**************************************************
second DataFrame
   id     name  subject
0  11    srinu     java
1  12  sumanth     html
2  13  neelima      cpp
3  14   daniel   python
4  15    srjun        c
5  16    veeru  dot net
**************************************************
   id_x      name_x  subject  id_y   name_y
0     1     pradhan  english   NaN      NaN
1     2        venu     java  11.0    srinu
2     3   madhurima     html  12.0  sumanth
3     4  nireekshan   python  14.0   daniel
4     5       shafi        c  15.0    srjun
5     6       veeru  dot net  16.0    veeru

In [11]:

import pandas as pd

# First DataFrame
b = {
    "id": [1, 2, 3, 4, 5, 6],
    "name": ["pradhan", "venu", "madhurima", "nireekshan", "shafi", "veeru"],
    "subject": ["english", "java", "html", "python", "c", "dot net"]
}
df1 = pd.DataFrame(b)
print("first DataFrame")
print(df1)

print("*" * 50)

# Second DataFrame
d = {
    "id": [11, 12, 13, 14, 15, 16],
    "name": ["srinu", "sumanth", "neelima", "daniel", "srjun", "veeru"],
    "subject": ["java", "html", "cpp", "python", "c", "dot net"]
}
df2 = pd.DataFrame(d)
print("second DataFrame")
print(df2)

print("*" * 50)

# Merging DataFrames on 'subject'
df3=pd.merge(df1,df2, on="name",how="left")
print(df3)

first DataFrame
   id        name  subject
0   1     pradhan  english
1   2        venu     java
2   3   madhurima     html
3   4  nireekshan   python
4   5       shafi        c
5   6       veeru  dot net
**************************************************
second DataFrame
   id     name  subject
0  11    srinu     java
1  12  sumanth     html
2  13  neelima      cpp
3  14   daniel   python
4  15    srjun        c
5  16    veeru  dot net
**************************************************
   id_x        name subject_x  id_y subject_y
0     1     pradhan   english   NaN       NaN
1     2        venu      java   NaN       NaN
2     3   madhurima      html   NaN       NaN
3     4  nireekshan    python   NaN       NaN
4     5       shafi         c   NaN       NaN
5     6       veeru   dot net  16.0   dot net

### 3.3 Right join
- keep every row in the right DataFrame
- Where there are missing values of the "on " variable in the left column filled with NaN values in the result

In [16]:
# right join
import pandas as pd

# First DataFrame
b = {
    "id": [1, 2, 3, 4, 5, 6],
    "name": ["pradhan", "venu", "madhurima", "nireekshan", "shafi", "veeru"],
    "subject": ["english", "java", "html", "python", "c", "dot net"]
}
df1 = pd.DataFrame(b)
print("first DataFrame")
print(df1)

print("*" * 50)

# Second DataFrame
d = {
    "id": [11, 12, 13, 14, 15, 16],
    "name": ["srinu", "sumanth", "neelima", "daniel", "srjun", "veeru"],
    "subject": ["java", "html", "cpp", "python", "c", "dot net"]
}
df2 = pd.DataFrame(d)
print("second DataFrame")
print(df2)

print("*" * 50)

# Merging DataFrames on 'subject'
df3=pd.merge( df1, df2, on="subject" ,how="right")
print(df3)

first DataFrame
   id        name  subject
0   1     pradhan  english
1   2        venu     java
2   3   madhurima     html
3   4  nireekshan   python
4   5       shafi        c
5   6       veeru  dot net
**************************************************
second DataFrame
   id     name  subject
0  11    srinu     java
1  12  sumanth     html
2  13  neelima      cpp
3  14   daniel   python
4  15    srjun        c
5  16    veeru  dot net
**************************************************
   id_x      name_x  subject  id_y   name_y
0   2.0        venu     java    11    srinu
1   3.0   madhurima     html    12  sumanth
2   NaN         NaN      cpp    13  neelima
3   4.0  nireekshan   python    14   daniel
4   5.0       shafi        c    15    srjun
5   6.0       veeru  dot net    16    veeru

### 3.4 Outer Merge / Full outer join 
- A full outer join returns all rows from the left and right DataFrame
- Where there is no common Data there it well be fills with NaN values

In [21]:
# Oter merge
import pandas as pd

# First DataFrame
b = {
    "id": [1, 2, 3, 4, 5, 6],
    "name": ["pradhan", "venu", "madhurima", "nireekshan", "shafi", "veeru"],
    "subject": ["english", "java", "html", "python", "c", "dot net"]
}
df1 = pd.DataFrame(b)
print("first DataFrame")
print(df1)

print("*" * 50)

# Second DataFrame
d = {
    "id": [11, 12, 13, 14, 15, 16],
    "name": ["srinu", "sumanth", "neelima", "daniel", "srjun", "veeru"],
    "subject": ["java", "html", "cpp", "python", "c", "dot net"]
}
df2 = pd.DataFrame(d)
print("second DataFrame")
print(df2)

print("*" * 50)

# Merging DataFrames on 'subject'
df3=pd.merge(df1,df2, on="subject",how="outer")
print(df3)

first DataFrame
   id        name  subject
0   1     pradhan  english
1   2        venu     java
2   3   madhurima     html
3   4  nireekshan   python
4   5       shafi        c
5   6       veeru  dot net
**************************************************
second DataFrame
   id     name  subject
0  11    srinu     java
1  12  sumanth     html
2  13  neelima      cpp
3  14   daniel   python
4  15    srjun        c
5  16    veeru  dot net
**************************************************
   id_x      name_x  subject  id_y   name_y
0   5.0       shafi        c  15.0    srjun
1   NaN         NaN      cpp  13.0  neelima
2   6.0       veeru  dot net  16.0    veeru
3   1.0     pradhan  english   NaN      NaN
4   3.0   madhurima     html  12.0  sumanth
5   2.0        venu     java  11.0    srinu
6   4.0  nireekshan   python  14.0   daniel

### 4 Other type of joins
- One to One
- many to one
- many to many