# DataFrame - Concat

In [1]:
# menas
first_name="Kishan kumar"
last_name=" gouda "
full_name=first_name+last_name
print(full_name)

Kishan kumar gouda

### 1. Introduction
- Based on Requirement we can add/ concatenate onr DataFrame with another DataFrame

### 2. Concat(p)
- Concat(p) is predefined Function in pandas package
- We should access this function by using pandas library name
- Ths function concatenate on DataFrame to another DataFrame

In [21]:
# Creating DataFrame
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[51,52],[101,102]]
cols=["A","B"]
df1=pd.DataFrame(d1 ,columns=cols)
df2=pd.DataFrame(d2, columns=cols)
print(df1)
print(df2)

    A   B
0  11  12
1  21  22
     A    B
0   51   52
1  101  102

In [20]:
# using list
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[51,52],[101,102]]
cols=["A","B"]
df1=pd.DataFrame(d1 ,columns=cols)
df2=pd.DataFrame(d2, columns=cols)
list=[df1,df2]
print(list)

[    A   B
0  11  12
1  21  22,      A    B
0   51   52
1  101  102]

In [29]:
# using concat , concatenating one DataFrame to another DataFrame
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[51,52],[101,102]]
cols=["A","B"]
df1=pd.DataFrame(d1 ,columns=cols)
df2=pd.DataFrame(d2, columns=cols)
list=[df1,df2]
r=pd.concat(list)
print(df1)
print()
print(df2)
print()
print(r)

    A   B
0  11  12
1  21  22

     A    B
0   51   52
1  101  102

     A    B
0   11   12
1   21   22
0   51   52
1  101  102

In [27]:
# using concat  and ignore index
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[51,52],[101,102]]
cols=["A","B"]
df1=pd.DataFrame(d1 ,columns=cols)
df2=pd.DataFrame(d2, columns=cols)
list=[df1,df2]
r=pd.concat(list,ignore_index=True ) #   => concat function take list as a perameter
print(df1)
print()
print(df2)
print()
print(r)

    A   B
0  11  12
1  21  22

     A    B
0   51   52
1  101  102

     A    B
0   11   12
1   21   22
2   51   52
3  101  102

In [32]:
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[31,32],[41,42],[51,52]]
cols=["A","B"]
df1=pd.DataFrame(d1,columns=cols)
df2=pd.DataFrame(d2,columns=cols)
print(df1)
print()
print(df2)
list=[df1,df2]
r=pd.concat(list)
print()
print(r)

    A   B
0  11  12
1  21  22

    A   B
0  31  32
1  41  42
2  51  52

    A   B
0  11  12
1  21  22
0  31  32
1  41  42
2  51  52

In [33]:
# ignore index
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[31,32],[41,42],[51,52]]
cols=["A","B"]
df1=pd.DataFrame(d1,columns=cols)
df2=pd.DataFrame(d2,columns=cols)
print(df1)
print()
print(df2)
list=[df1,df2]
r=pd.concat(list,ignore_index=True)
print()
print(r)

    A   B
0  11  12
1  21  22

    A   B
0  31  32
1  41  42
2  51  52

    A   B
0  11  12
1  21  22
2  31  32
3  41  42
4  51  52

In [37]:
# concatenating one DataFrame to another DataFrame with two column names
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[31,32],[41,42],[51,52]]
c1=["A","B"]
c2=["X","Y"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c2)
print(df1)
print()
print(df2)
print()
list=[df1,df2]
df3=pd.concat(list , ignore_index=True)
print(df3)

    A   B
0  11  12
1  21  22

    X   Y
0  31  32
1  41  42
2  51  52

      A     B     X     Y
0  11.0  12.0   NaN   NaN
1  21.0  22.0   NaN   NaN
2   NaN   NaN  31.0  32.0
3   NaN   NaN  41.0  42.0
4   NaN   NaN  51.0  52.0

# axis = takes two values
- 1 => coloumn
- 0 => rows

In [41]:
# axis
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[31,32],[41,42],[51,52]]
c1=["A","B"]
c2=["X","Y"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c2)
print(df1)
print()
print(df2)
print()
list=[df1,df2]
df3=pd.concat(list , axis=1)   
print(df3)

    A   B
0  11  12
1  21  22

    X   Y
0  31  32
1  41  42
2  51  52

      A     B   X   Y
0  11.0  12.0  31  32
1  21.0  22.0  41  42
2   NaN   NaN  51  52

In [43]:
# axis
import pandas as pd
d1=[[11,12],[21,22]]
d2=[[31,32],[41,42],[51,52]]
c1=["A","B"]
c2=["X","Y"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c2)
print(df1)
print()
print(df2)
print()
list=[df1,df2]
df3=pd.concat(list , axis=1)   
print(df3)

    A   B
0  11  12
1  21  22

    X   Y
0  31  32
1  41  42
2  51  52

      A     B   X   Y
0  11.0  12.0  31  32
1  21.0  22.0  41  42
2   NaN   NaN  51  52