# DataFrame - Adding , drouping ,colomuns and rows

### 1. Adding column to DataFrame    => very imp
- Based on requirement we can add column to existing DataFrame

In [5]:
# Creatng a DataFrame
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Coffe_sales (Before).csv.csv')
print(df.head())
print(df.shape)

   hour_of_day cash_type  money    coffee_name Time_of_Day Weekday Month_name  \
0           10      card   38.7          Latte     Morning     Fri        Mar
1           12      card   38.7  Hot Chocolate   Afternoon     Fri        Mar
2           12      card   38.7  Hot Chocolate   Afternoon     Fri        Mar
3           13      card   28.9      Americano   Afternoon     Fri        Mar
4           13      card   38.7          Latte   Afternoon     Fri        Mar

   Weekdaysort  Monthsort        Date             Time
0            5          3  2024-03-01  10:15:50.520000
1            5          3  2024-03-01  12:19:22.539000
2            5          3  2024-03-01  12:20:18.089000
3            5          3  2024-03-01  13:46:33.006000
4            5          3  2024-03-01  13:48:14.626000
(3547, 11)

In [8]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Coffe_sales (Before).csv.csv')
print(df)
print()
df["Review"]="Goood"    # => realtime approach
print("*"*100)
print(df)

      hour_of_day cash_type  money    coffee_name Time_of_Day Weekday  \
0              10      card  38.70          Latte     Morning     Fri
1              12      card  38.70  Hot Chocolate   Afternoon     Fri
2              12      card  38.70  Hot Chocolate   Afternoon     Fri
3              13      card  28.90      Americano   Afternoon     Fri
4              13      card  38.70          Latte   Afternoon     Fri
...           ...       ...    ...            ...         ...     ...
3542           10      card  35.76     Cappuccino     Morning     Sun
3543           14      card  35.76          Cocoa   Afternoon     Sun
3544           14      card  35.76          Cocoa   Afternoon     Sun
3545           15      card  25.96      Americano   Afternoon     Sun
3546           18      card  35.76          Latte       Night     Sun

     Month_name  Weekdaysort  Monthsort        Date             Time
0           Mar            5          3  2024-03-01  10:15:50.520000
1           Mar            5          3  2024-03-01  12:19:22.539000
2           Mar            5          3  2024-03-01  12:20:18.089000
3           Mar            5          3  2024-03-01  13:46:33.006000
4           Mar            5          3  2024-03-01  13:48:14.626000
...         ...          ...        ...         ...              ...
3542        Mar            7          3  2025-03-23  10:34:54.894000
3543        Mar            7          3  2025-03-23  14:43:37.362000
3544        Mar            7          3  2025-03-23  14:44:16.864000
3545        Mar            7          3  2025-03-23  15:47:28.723000
3546        Mar            7          3  2025-03-23  18:11:38.635000

[3547 rows x 11 columns]

****************************************************************************************************
      hour_of_day cash_type  money    coffee_name Time_of_Day Weekday  \
0              10      card  38.70          Latte     Morning     Fri
1              12      card  38.70  Hot Chocolate   Afternoon     Fri
2              12      card  38.70  Hot Chocolate   Afternoon     Fri
3              13      card  28.90      Americano   Afternoon     Fri
4              13      card  38.70          Latte   Afternoon     Fri
...           ...       ...    ...            ...         ...     ...
3542           10      card  35.76     Cappuccino     Morning     Sun
3543           14      card  35.76          Cocoa   Afternoon     Sun
3544           14      card  35.76          Cocoa   Afternoon     Sun
3545           15      card  25.96      Americano   Afternoon     Sun
3546           18      card  35.76          Latte       Night     Sun

     Month_name  Weekdaysort  Monthsort        Date             Time Review
0           Mar            5          3  2024-03-01  10:15:50.520000  Goood
1           Mar            5          3  2024-03-01  12:19:22.539000  Goood
2           Mar            5          3  2024-03-01  12:20:18.089000  Goood
3           Mar            5          3  2024-03-01  13:46:33.006000  Goood
4           Mar            5          3  2024-03-01  13:48:14.626000  Goood
...         ...          ...        ...         ...              ...    ...
3542        Mar            7          3  2025-03-23  10:34:54.894000  Goood
3543        Mar            7          3  2025-03-23  14:43:37.362000  Goood
3544        Mar            7          3  2025-03-23  14:44:16.864000  Goood
3545        Mar            7          3  2025-03-23  15:47:28.723000  Goood
3546        Mar            7          3  2025-03-23  18:11:38.635000  Goood

[3547 rows x 12 columns]

In [20]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
print(df)
print("*"*100)
print(df)
df.to_csv("kishan.csv")

        Order ID                     Product  Quantity Ordered  Cost price
0         141234                      iPhone                 1    231.0000
1         141235    Lightning Charging Cable                 1      7.4750
2         141236            Wired Headphones                 2      5.9950
3         141237            27in FHD Monitor                 1     97.4935
4         141238            Wired Headphones                 1      5.9950
...          ...                         ...               ...         ...
185945    319666    Lightning Charging Cable                 1      7.4750
185946    319667       AA Batteries (4-pack)                 2      1.9200
185947    319668             Vareebadd Phone                 1    132.0000
185948    319669            Wired Headphones                 1      5.9950
185949    319670  Bose SoundSport Headphones                 1     49.9950

[185950 rows x 4 columns]
****************************************************************************************************
        Order ID                     Product  Quantity Ordered  Cost price  \
0         141234                      iPhone                 1    231.0000
1         141235    Lightning Charging Cable                 1      7.4750
2         141236            Wired Headphones                 2      5.9950
3         141237            27in FHD Monitor                 1     97.4935
4         141238            Wired Headphones                 1      5.9950
...          ...                         ...               ...         ...
185945    319666    Lightning Charging Cable                 1      7.4750
185946    319667       AA Batteries (4-pack)                 2      1.9200
185947    319668             Vareebadd Phone                 1    132.0000
185948    319669            Wired Headphones                 1      5.9950
185949    319670  Bose SoundSport Headphones                 1     49.9950

           Total
0       231.0000
1         7.4750
2        11.9900
3        97.4935
4         5.9950
...          ...
185945    7.4750
185946    3.8400
185947  132.0000
185948    5.9950
185949   49.9950

[185950 rows x 5 columns]

### => by using apply method (not use in realtime)

- python =>
-    functions are first class object
-    Let me prove
-    A function can take parameter as another function

In [21]:
def kishan():
    print(hii)
def kumar(p):
    print(p)

kumar(10)     # number

10

In [22]:
def kishan():
    print(hii)
def kumar(p):
    print(p)

kumar("kishan") # string

kishan

In [23]:
# A function can take parameter as another function
def kishan():
    print(hii)
def kumar(p):
    print(p)

kumar(kishan) # string

<function kishan at 0x13234c5e0>

In [24]:
# by using apply method (not use in realtime)

import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")

def total(df):
    t=df["Cost price"] * df["Quantity Ordered"]
    return t
df["Total_cost"]=df.apply(total,axis=1)
print(df.head())

   Order ID                   Product  Quantity Ordered  Cost price  \
0    141234                    iPhone                 1    231.0000
1    141235  Lightning Charging Cable                 1      7.4750
2    141236          Wired Headphones                 2      5.9950
3    141237          27in FHD Monitor                 1     97.4935
4    141238          Wired Headphones                 1      5.9950

   Total_cost
0    231.0000
1      7.4750
2     11.9900
3     97.4935
4      5.9950

In [26]:
a=[10,20,30,40]
print(a)
a.append(50)   # it will store the value form the last 
print()
print(a)

[10, 20, 30, 40]

[10, 20, 30, 40, 50]

In [28]:
a=[10,20,30,40]
print(a)
a.insert(0,50)   # it will store the value form the here we want to store 
print()
print(a)

[10, 20, 30, 40]

[50, 10, 20, 30, 40]

# list
- append() => add value at last position
- insert() => add value at desired position
# DataFrame
- df[""] = add column at last position
- insert(1,2,3)

In [41]:
# Adding total cost column to DataFrame in a Specific postion

import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
print(df.columns)
a=df["Cost price"]*df["Quantity Ordered"]
df.insert(2,"Hero",a)
print(df.columns)

Index(['Order ID', 'Product', 'Quantity Ordered', 'Cost price'], dtype='object')
Index(['Order ID', 'Product', 'Quantity Ordered', 'Cost price', 'name'], dtype='object')
Index(['Order ID', 'Product', 'Hero', 'Quantity Ordered', 'Cost price',
       'name'],
      dtype='object')

In [48]:
# insert(postions,colname,operation)
# Adding total cost column to DataFrame in a Specific postion
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
#print(df.head())
a=df["Cost price"] * df["Quantity Ordered"]
df.insert(2,"Total",a)
print(df)

        Order ID                     Product     Total  Quantity Ordered  \
0         141234                      iPhone  231.0000                 1
1         141235    Lightning Charging Cable    7.4750                 1
2         141236            Wired Headphones   11.9900                 2
3         141237            27in FHD Monitor   97.4935                 1
4         141238            Wired Headphones    5.9950                 1
...          ...                         ...       ...               ...
185945    319666    Lightning Charging Cable    7.4750                 1
185946    319667       AA Batteries (4-pack)    3.8400                 2
185947    319668             Vareebadd Phone  132.0000                 1
185948    319669            Wired Headphones    5.9950                 1
185949    319670  Bose SoundSport Headphones   49.9950                 1

        Cost price
0         231.0000
1           7.4750
2           5.9950
3          97.4935
4           5.9950
...            ...
185945      7.4750
185946      1.9200
185947    132.0000
185948      5.9950
185949     49.9950

[185950 rows x 5 columns]

In [47]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
df["Totel"]="done"
print(df)

        Order ID                     Product  Quantity Ordered  Cost price  \
0         141234                      iPhone                 1    231.0000
1         141235    Lightning Charging Cable                 1      7.4750
2         141236            Wired Headphones                 2      5.9950
3         141237            27in FHD Monitor                 1     97.4935
4         141238            Wired Headphones                 1      5.9950
...          ...                         ...               ...         ...
185945    319666    Lightning Charging Cable                 1      7.4750
185946    319667       AA Batteries (4-pack)                 2      1.9200
185947    319668             Vareebadd Phone                 1    132.0000
185948    319669            Wired Headphones                 1      5.9950
185949    319670  Bose SoundSport Headphones                 1     49.9950

       Totel
0       done
1       done
2       done
3       done
4       done
...      ...
185945  done
185946  done
185947  done
185948  done
185949  done

[185950 rows x 5 columns]

### 2 Dropping columns from DataFrame  => very imp
- Based on requirements we can drop column from existing DataFrame

In [57]:
# Dropping single column
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
print(df.head())
df1=df.drop(columns="Product")
print()
print(df1.head())

   Order ID                   Product  Quantity Ordered  Cost price
0    141234                    iPhone                 1    231.0000
1    141235  Lightning Charging Cable                 1      7.4750
2    141236          Wired Headphones                 2      5.9950
3    141237          27in FHD Monitor                 1     97.4935
4    141238          Wired Headphones                 1      5.9950

   Order ID  Quantity Ordered  Cost price
0    141234                 1    231.0000
1    141235                 1      7.4750
2    141236                 2      5.9950
3    141237                 1     97.4935
4    141238                 1      5.9950

In [71]:
# adding column and then removing the column
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
print(df.head())
a=df["Quantity Ordered"] * df["Cost price"]
df.insert(2,"Total",a)
print()
print(df)
df1=df.drop(columns="Total")
print()
print(df1)

   Order ID                   Product  Quantity Ordered  Cost price
0    141234                    iPhone                 1    231.0000
1    141235  Lightning Charging Cable                 1      7.4750
2    141236          Wired Headphones                 2      5.9950
3    141237          27in FHD Monitor                 1     97.4935
4    141238          Wired Headphones                 1      5.9950

        Order ID                     Product     Total  Quantity Ordered  \
0         141234                      iPhone  231.0000                 1
1         141235    Lightning Charging Cable    7.4750                 1
2         141236            Wired Headphones   11.9900                 2
3         141237            27in FHD Monitor   97.4935                 1
4         141238            Wired Headphones    5.9950                 1
...          ...                         ...       ...               ...
185945    319666    Lightning Charging Cable    7.4750                 1
185946    319667       AA Batteries (4-pack)    3.8400                 2
185947    319668             Vareebadd Phone  132.0000                 1
185948    319669            Wired Headphones    5.9950                 1
185949    319670  Bose SoundSport Headphones   49.9950                 1

        Cost price
0         231.0000
1           7.4750
2           5.9950
3          97.4935
4           5.9950
...            ...
185945      7.4750
185946      1.9200
185947    132.0000
185948      5.9950
185949     49.9950

[185950 rows x 5 columns]

        Order ID                     Product  Quantity Ordered  Cost price
0         141234                      iPhone                 1    231.0000
1         141235    Lightning Charging Cable                 1      7.4750
2         141236            Wired Headphones                 2      5.9950
3         141237            27in FHD Monitor                 1     97.4935
4         141238            Wired Headphones                 1      5.9950
...          ...                         ...               ...         ...
185945    319666    Lightning Charging Cable                 1      7.4750
185946    319667       AA Batteries (4-pack)                 2      1.9200
185947    319668             Vareebadd Phone                 1    132.0000
185948    319669            Wired Headphones                 1      5.9950
185949    319670  Bose SoundSport Headphones                 1     49.9950

[185950 rows x 4 columns]

In [72]:
# adding column and then removing the column
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
print(df.head())
print("*"*50)
df["me"]="kishan"
print(df.head())
print("*"*50)
df["Totale"]=df["Cost price"]  *  df["Quantity Ordered"] 
print(df.head()) 
print("*"*50)
df1=df.drop(columns="me")
print(df1)
print("*"*50)
df2=df1.drop(columns="Totale")
print(df2)

   Order ID                   Product  Quantity Ordered  Cost price
0    141234                    iPhone                 1    231.0000
1    141235  Lightning Charging Cable                 1      7.4750
2    141236          Wired Headphones                 2      5.9950
3    141237          27in FHD Monitor                 1     97.4935
4    141238          Wired Headphones                 1      5.9950
**************************************************
   Order ID                   Product  Quantity Ordered  Cost price      me
0    141234                    iPhone                 1    231.0000  kishan
1    141235  Lightning Charging Cable                 1      7.4750  kishan
2    141236          Wired Headphones                 2      5.9950  kishan
3    141237          27in FHD Monitor                 1     97.4935  kishan
4    141238          Wired Headphones                 1      5.9950  kishan
**************************************************
   Order ID                   Product  Quantity Ordered  Cost price      me  \
0    141234                    iPhone                 1    231.0000  kishan
1    141235  Lightning Charging Cable                 1      7.4750  kishan
2    141236          Wired Headphones                 2      5.9950  kishan
3    141237          27in FHD Monitor                 1     97.4935  kishan
4    141238          Wired Headphones                 1      5.9950  kishan

     Totale
0  231.0000
1    7.4750
2   11.9900
3   97.4935
4    5.9950
**************************************************
        Order ID                     Product  Quantity Ordered  Cost price  \
0         141234                      iPhone                 1    231.0000
1         141235    Lightning Charging Cable                 1      7.4750
2         141236            Wired Headphones                 2      5.9950
3         141237            27in FHD Monitor                 1     97.4935
4         141238            Wired Headphones                 1      5.9950
...          ...                         ...               ...         ...
185945    319666    Lightning Charging Cable                 1      7.4750
185946    319667       AA Batteries (4-pack)                 2      1.9200
185947    319668             Vareebadd Phone                 1    132.0000
185948    319669            Wired Headphones                 1      5.9950
185949    319670  Bose SoundSport Headphones                 1     49.9950

          Totale
0       231.0000
1         7.4750
2        11.9900
3        97.4935
4         5.9950
...          ...
185945    7.4750
185946    3.8400
185947  132.0000
185948    5.9950
185949   49.9950

[185950 rows x 5 columns]
**************************************************
        Order ID                     Product  Quantity Ordered  Cost price
0         141234                      iPhone                 1    231.0000
1         141235    Lightning Charging Cable                 1      7.4750
2         141236            Wired Headphones                 2      5.9950
3         141237            27in FHD Monitor                 1     97.4935
4         141238            Wired Headphones                 1      5.9950
...          ...                         ...               ...         ...
185945    319666    Lightning Charging Cable                 1      7.4750
185946    319667       AA Batteries (4-pack)                 2      1.9200
185947    319668             Vareebadd Phone                 1    132.0000
185948    319669            Wired Headphones                 1      5.9950
185949    319670  Bose SoundSport Headphones                 1     49.9950

[185950 rows x 4 columns]

In [79]:
# Dropping multiple columns
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
print(df.head())
print()
df1=df.drop(columns=["Quantity Ordered","Cost price"],axis=1)
print(df1)

   Order ID                   Product  Quantity Ordered  Cost price
0    141234                    iPhone                 1    231.0000
1    141235  Lightning Charging Cable                 1      7.4750
2    141236          Wired Headphones                 2      5.9950
3    141237          27in FHD Monitor                 1     97.4935
4    141238          Wired Headphones                 1      5.9950

        Order ID                     Product
0         141234                      iPhone
1         141235    Lightning Charging Cable
2         141236            Wired Headphones
3         141237            27in FHD Monitor
4         141238            Wired Headphones
...          ...                         ...
185945    319666    Lightning Charging Cable
185946    319667       AA Batteries (4-pack)
185947    319668             Vareebadd Phone
185948    319669            Wired Headphones
185949    319670  Bose SoundSport Headphones

[185950 rows x 2 columns]

        Order ID                     Product
0         141234                      iPhone
1         141235    Lightning Charging Cable
2         141236            Wired Headphones
3         141237            27in FHD Monitor
4         141238            Wired Headphones
...          ...                         ...
185945    319666    Lightning Charging Cable
185946    319667       AA Batteries (4-pack)
185947    319668             Vareebadd Phone
185948    319669            Wired Headphones
185949    319670  Bose SoundSport Headphones

[185950 rows x 2 columns]

In [81]:
# Dropping multiple columns
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
cols=["Product","Quantity Ordered","Cost price"]
print(df.drop(cols,axis=1).head())

   Order ID
0    141234
1    141235
2    141236
3    141237
4    141238

### 3. Dropping rows from DataFrame 
- We can Drop the rows from DataFrame by using Drop method

In [85]:
# Dropping single rows
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
print(df.head())
df1=df.drop(1,axis=0)    # => if it is columns wise then we have to axise=1
print()
print(df1.head())

   Order ID                   Product  Quantity Ordered  Cost price
0    141234                    iPhone                 1    231.0000
1    141235  Lightning Charging Cable                 1      7.4750
2    141236          Wired Headphones                 2      5.9950
3    141237          27in FHD Monitor                 1     97.4935
4    141238          Wired Headphones                 1      5.9950

   Order ID                 Product  Quantity Ordered  Cost price
0    141234                  iPhone                 1    231.0000
2    141236        Wired Headphones                 2      5.9950
3    141237        27in FHD Monitor                 1     97.4935
4    141238        Wired Headphones                 1      5.9950
5    141239  AAA Batteries (4-pack)                 1      1.4950

In [87]:
#Drooping multiple rows
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
row=[1,2,3]
df1=df.drop(row,axis=0)
print(df1.head())

   Order ID                 Product  Quantity Ordered  Cost price
0    141234                  iPhone                 1    231.0000
4    141238        Wired Headphones                 1      5.9950
5    141239  AAA Batteries (4-pack)                 1      1.4950
6    141240  27in 4K Gaming Monitor                 1    128.6967
7    141241    USB-C Charging Cable                 1      5.9750

In [88]:
#Drooping multiple rows
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/sales_data.csv")
df1=df.drop([1,2,3],axis=0)
print(df1.head())

   Order ID                 Product  Quantity Ordered  Cost price
0    141234                  iPhone                 1    231.0000
4    141238        Wired Headphones                 1      5.9950
5    141239  AAA Batteries (4-pack)                 1      1.4950
6    141240  27in 4K Gaming Monitor                 1    128.6967
7    141241    USB-C Charging Cable                 1      5.9750