# DataFrame - Date And Time Operations

| date time    | object               | Date time Date type        |
|--------------|----------------------|----------------------------|
| 1            | while loading file   | read_csv(....,pase_date..) |
| 2            | after loaded file    | 1. to_datetime() function  |           |              |                      |                            |
|              |                      | 2. astype() method         |

- Data => DataFrame
  1. operations
  2. number
  3. string

- Data => collection of the facts

- Facts => number , alphabets ,alp...

python
a=10       # int datatype
b=1.23     #float  datatype
c="kishan"  # string   datatype


d=09-10-2024  # datetime datatype

### 1. Data data type

- whenever we load csv file , if that file contains any column having data values then by default pandas will consider that columns as object
- We can provide parse_dates=['name of the columnn',,name of the column2'] then pandas considered those columns as datetime data type

In [7]:
# creating a DataFrame
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/database.csv")
print(df)
print()
print()
print(df.dtypes)

             Date      Time  Latitude  Longitude        Type   Depth  \
0        01/02/65  13:44:18   19.2460   145.6160  Earthquake  131.60
1        01/04/65  11:29:49    1.8630   127.3520  Earthquake   80.00
2        01/05/65  18:05:58  -20.5790  -173.9720  Earthquake   20.00
3        01/08/65  18:49:43  -59.0760   -23.5570  Earthquake   15.00
4        01/09/65  13:32:50   11.9380   126.4270  Earthquake   15.00
...           ...       ...       ...        ...         ...     ...
23407  12/28/2016  08:22:12   38.3917  -118.8941  Earthquake   12.30
23408  12/28/2016  09:13:47   38.3777  -118.8957  Earthquake    8.80
23409  12/28/2016  12:38:51   36.9179   140.4262  Earthquake   10.00
23410  12/29/2016  22:30:19   -9.0283   118.6639  Earthquake   79.00
23411  12/30/2016  20:08:28   37.3973   141.4103  Earthquake   11.94

       Magnitude Magnitude Type            ID  Source Location Source  \
0            6.0             MW  ISCGEM860706  ISCGEM          ISCGEM
1            5.8             MW  ISCGEM860737  ISCGEM          ISCGEM
2            6.2             MW  ISCGEM860762  ISCGEM          ISCGEM
3            5.8             MW  ISCGEM860856  ISCGEM          ISCGEM
4            5.8             MW  ISCGEM860890  ISCGEM          ISCGEM
...          ...            ...           ...     ...             ...
23407        5.6             ML    NN00570710      NN              NN
23408        5.5             ML    NN00570744      NN              NN
23409        5.9            MWW    US10007NAF      US              US
23410        6.3            MWW    US10007NL0      US              US
23411        5.5             MB    US10007NTD      US              US

      Magnitude Source     Status
0               ISCGEM  Automatic
1               ISCGEM  Automatic
2               ISCGEM  Automatic
3               ISCGEM  Automatic
4               ISCGEM  Automatic
...                ...        ...
23407               NN   Reviewed
23408               NN   Reviewed
23409               US   Reviewed
23410               US   Reviewed
23411               US   Reviewed

[23412 rows x 13 columns]


Date                 object
Time                 object
Latitude            float64
Longitude           float64
Type                 object
Depth               float64
Magnitude           float64
Magnitude Type       object
ID                   object
Source               object
Location Source      object
Magnitude Source     object
Status               object
dtype: object

In [29]:
# Loading csv file by using parse_dates paramter
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/database.csv"
               ,parse_dates=["Date"])
print(df.head())
print(df.info())

                  Date      Time  Latitude  Longitude        Type  Depth  \
0  2065-01-02 00:00:00  13:44:18    19.246    145.616  Earthquake  131.6
1  2065-01-04 00:00:00  11:29:49     1.863    127.352  Earthquake   80.0
2  2065-01-05 00:00:00  18:05:58   -20.579   -173.972  Earthquake   20.0
3  2065-01-08 00:00:00  18:49:43   -59.076    -23.557  Earthquake   15.0
4  2065-01-09 00:00:00  13:32:50    11.938    126.427  Earthquake   15.0

   Magnitude Magnitude Type            ID  Source Location Source  \
0        6.0             MW  ISCGEM860706  ISCGEM          ISCGEM
1        5.8             MW  ISCGEM860737  ISCGEM          ISCGEM
2        6.2             MW  ISCGEM860762  ISCGEM          ISCGEM
3        5.8             MW  ISCGEM860856  ISCGEM          ISCGEM
4        5.8             MW  ISCGEM860890  ISCGEM          ISCGEM

  Magnitude Source     Status
0           ISCGEM  Automatic
1           ISCGEM  Automatic
2           ISCGEM  Automatic
3           ISCGEM  Automatic
4           ISCGEM  Automatic
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              23412 non-null  object
 1   Time              23412 non-null  object
 2   Latitude          23412 non-null  float64
 3   Longitude         23412 non-null  float64
 4   Type              23412 non-null  object
 5   Depth             23412 non-null  float64
 6   Magnitude         23412 non-null  float64
 7   Magnitude Type    23409 non-null  object
 8   ID                23412 non-null  object
 9   Source            23412 non-null  object
 10  Location Source   23412 non-null  object
 11  Magnitude Source  23412 non-null  object
 12  Status            23412 non-null  object
dtypes: float64(4), object(9)
memory usage: 2.3+ MB
None

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_40005/2758390531.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df=pd.read_csv("/Users/apple/Downloads/database.csv"

In [28]:
# Loading csv file by using parse_dates paramter
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/database.csv"
               ,parse_dates=["Date"],
              date_format="%y-%m-%d")
print(df.head())
print(df.info())

       Date      Time  Latitude  Longitude        Type  Depth  Magnitude  \
0  01/02/65  13:44:18    19.246    145.616  Earthquake  131.6        6.0
1  01/04/65  11:29:49     1.863    127.352  Earthquake   80.0        5.8
2  01/05/65  18:05:58   -20.579   -173.972  Earthquake   20.0        6.2
3  01/08/65  18:49:43   -59.076    -23.557  Earthquake   15.0        5.8
4  01/09/65  13:32:50    11.938    126.427  Earthquake   15.0        5.8

  Magnitude Type            ID  Source Location Source Magnitude Source  \
0             MW  ISCGEM860706  ISCGEM          ISCGEM           ISCGEM
1             MW  ISCGEM860737  ISCGEM          ISCGEM           ISCGEM
2             MW  ISCGEM860762  ISCGEM          ISCGEM           ISCGEM
3             MW  ISCGEM860856  ISCGEM          ISCGEM           ISCGEM
4             MW  ISCGEM860890  ISCGEM          ISCGEM           ISCGEM

      Status
0  Automatic
1  Automatic
2  Automatic
3  Automatic
4  Automatic
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              23412 non-null  object
 1   Time              23412 non-null  object
 2   Latitude          23412 non-null  float64
 3   Longitude         23412 non-null  float64
 4   Type              23412 non-null  object
 5   Depth             23412 non-null  float64
 6   Magnitude         23412 non-null  float64
 7   Magnitude Type    23409 non-null  object
 8   ID                23412 non-null  object
 9   Source            23412 non-null  object
 10  Location Source   23412 non-null  object
 11  Magnitude Source  23412 non-null  object
 12  Status            23412 non-null  object
dtypes: float64(4), object(9)
memory usage: 2.3+ MB
None

# ðŸ’¡ How to fix it properly:

You can tell pandas exactly what date format to expect using the date_parser or dayfirst argument.

In [3]:
# âœ… Option 1: Specify dayfirst=True if your dates are like DD/MM/YYYY
df = pd.read_csv("/Users/apple/Downloads/database.csv", parse_dates=["Date"], dayfirst=True)

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_40005/3688648640.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("/Users/apple/Downloads/database.csv", parse_dates=["Date"], dayfirst=True)

| Example date | Format string | Meaning        |
| ------------ | ------------- | -------------- |
| 2025-10-09   | `%Y-%m-%d`    | Year-Month-Day |
| 09/10/2025   | `%d/%m/%Y`    | Day/Month/Year |
| 10/09/2025   | `%m/%d/%Y`    | Month/Day/Year |

In [6]:
# âœ… Option 2: Use date_format (Pandas 2.0+)
#If all dates are in a consistent format, e.g. "YYYY-MM-DD":
df = pd.read_csv(
    "/Users/apple/Downloads/database.csv",
    parse_dates=["Date"],
    date_format="%Y-%m-%d"
)
print(df)
print()
print(df.info())

             Date      Time  Latitude  Longitude        Type   Depth  \
0        01/02/65  13:44:18   19.2460   145.6160  Earthquake  131.60
1        01/04/65  11:29:49    1.8630   127.3520  Earthquake   80.00
2        01/05/65  18:05:58  -20.5790  -173.9720  Earthquake   20.00
3        01/08/65  18:49:43  -59.0760   -23.5570  Earthquake   15.00
4        01/09/65  13:32:50   11.9380   126.4270  Earthquake   15.00
...           ...       ...       ...        ...         ...     ...
23407  12/28/2016  08:22:12   38.3917  -118.8941  Earthquake   12.30
23408  12/28/2016  09:13:47   38.3777  -118.8957  Earthquake    8.80
23409  12/28/2016  12:38:51   36.9179   140.4262  Earthquake   10.00
23410  12/29/2016  22:30:19   -9.0283   118.6639  Earthquake   79.00
23411  12/30/2016  20:08:28   37.3973   141.4103  Earthquake   11.94

       Magnitude Magnitude Type            ID  Source Location Source  \
0            6.0             MW  ISCGEM860706  ISCGEM          ISCGEM
1            5.8             MW  ISCGEM860737  ISCGEM          ISCGEM
2            6.2             MW  ISCGEM860762  ISCGEM          ISCGEM
3            5.8             MW  ISCGEM860856  ISCGEM          ISCGEM
4            5.8             MW  ISCGEM860890  ISCGEM          ISCGEM
...          ...            ...           ...     ...             ...
23407        5.6             ML    NN00570710      NN              NN
23408        5.5             ML    NN00570744      NN              NN
23409        5.9            MWW    US10007NAF      US              US
23410        6.3            MWW    US10007NL0      US              US
23411        5.5             MB    US10007NTD      US              US

      Magnitude Source     Status
0               ISCGEM  Automatic
1               ISCGEM  Automatic
2               ISCGEM  Automatic
3               ISCGEM  Automatic
4               ISCGEM  Automatic
...                ...        ...
23407               NN   Reviewed
23408               NN   Reviewed
23409               US   Reviewed
23410               US   Reviewed
23411               US   Reviewed

[23412 rows x 13 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              23412 non-null  object
 1   Time              23412 non-null  object
 2   Latitude          23412 non-null  float64
 3   Longitude         23412 non-null  float64
 4   Type              23412 non-null  object
 5   Depth             23412 non-null  float64
 6   Magnitude         23412 non-null  float64
 7   Magnitude Type    23409 non-null  object
 8   ID                23412 non-null  object
 9   Source            23412 non-null  object
 10  Location Source   23412 non-null  object
 11  Magnitude Source  23412 non-null  object
 12  Status            23412 non-null  object
dtypes: float64(4), object(9)
memory usage: 2.3+ MB
None

In [12]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/MLTempDataset.csv")
print(df.head())
print()
print(df.info())

   Unnamed: 0  Datetime1  DAYTON_MW        Datetime
0           0          0     20.867  04/01/22 00:00
1           1          1     21.000  04/01/22 01:00
2           2          2     20.867  04/01/22 02:00
3           3          3     20.650  04/01/22 03:00
4           4          4     20.400  04/01/22 04:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6676 entries, 0 to 6675
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6676 non-null   int64
 1   Datetime1   6676 non-null   int64
 2   DAYTON_MW   6676 non-null   float64
 3   Datetime    6676 non-null   object
dtypes: float64(1), int64(2), object(1)
memory usage: 208.8+ KB
None

In [25]:
# Loading csv file by using parse_dates paramter
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/MLTempDataset.csv",
               parse_dates=["Datetime"],
              date_format="%y-%m-%d")
print(df.head())
print()
print(df.info())

   Unnamed: 0  Datetime1  DAYTON_MW        Datetime
0           0          0     20.867  04/01/22 00:00
1           1          1     21.000  04/01/22 01:00
2           2          2     20.867  04/01/22 02:00
3           3          3     20.650  04/01/22 03:00
4           4          4     20.400  04/01/22 04:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6676 entries, 0 to 6675
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6676 non-null   int64
 1   Datetime1   6676 non-null   int64
 2   DAYTON_MW   6676 non-null   float64
 3   Datetime    6676 non-null   object
dtypes: float64(1), int64(2), object(1)
memory usage: 208.8+ KB
None

In [21]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/MLTempDataset.csv")
print(df.head())
print()
print(df.info())

   Unnamed: 0  Datetime1  DAYTON_MW        Datetime
0           0          0     20.867  04/01/22 00:00
1           1          1     21.000  04/01/22 01:00
2           2          2     20.867  04/01/22 02:00
3           3          3     20.650  04/01/22 03:00
4           4          4     20.400  04/01/22 04:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6676 entries, 0 to 6675
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6676 non-null   int64
 1   Datetime1   6676 non-null   int64
 2   DAYTON_MW   6676 non-null   float64
 3   Datetime    6676 non-null   object
dtypes: float64(1), int64(2), object(1)
memory usage: 208.8+ KB
None

In [19]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Instagram_Data.csv")
print(df.head())
print()
#print(df.info())

   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments          Date Posted  Year  Month  Day  \
0              3                 11  2019-05-12 21:18:39  2019      5   12
1              0                  1  2019-05-12 14:25:55  2019      5   12
2              4                 15  2019-05-03 15:18:37  2019      5    3
3              4                  1  2019-05-02 16:40:38  2019      5    2
4              5                  0  2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51

In [24]:
# Loading csv file by using parse_dates paramter
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Instagram_Data.csv",parse_dates=["Date Posted"])
print(df)
print()
print(df.info())

        User uuid  Likes  Days passed from post  Likes Score    Type  \
0               1    506                    657         0.74   Image
1               1    385                    657         0.57   Image
2               1    373                    666         0.55  Images
3               1    312                    667         0.46  Images
4               1    513                    674         0.75  Images
...           ...    ...                    ...          ...     ...
178917       1089      9                    821         0.07   Image
178918       1089      3                    822         0.02   Image
178919       1089      2                    822         0.01   Image
178920       1089     14                    822         0.10   Image
178921       1089      9                    823         0.07   Image

        Numer of Tags  Numer of Comments         Date Posted  Year  Month  \
0                   3                 11 2019-05-12 21:18:39  2019      5
1                   0                  1 2019-05-12 14:25:55  2019      5
2                   4                 15 2019-05-03 15:18:37  2019      5
3                   4                  1 2019-05-02 16:40:38  2019      5
4                   5                  0 2019-04-25 16:51:58  2019      4
...               ...                ...                 ...   ...    ...
178917              0                  1 2018-11-29 14:40:11  2018     11
178918              3                  0 2018-11-28 20:59:19  2018     11
178919              0                  0 2018-11-28 16:27:32  2018     11
178920              0                  2 2018-11-28 14:37:13  2018     11
178921              0                  0 2018-11-27 14:27:42  2018     11

        Day  Hour  Minute
0        12    21      18
1        12    14      25
2         3    15      18
3         2    16      40
4        25    16      51
...     ...   ...     ...
178917   29    14      40
178918   28    20      59
178919   28    16      27
178920   28    14      37
178921   27    14      27

[178922 rows x 13 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Type                   178922 non-null  object
 5   Numer of Tags          178922 non-null  int64
 6   Numer of Comments      178922 non-null  int64
 7   Date Posted            178922 non-null  datetime64[ns]
 8   Year                   178922 non-null  int64
 9   Month                  178922 non-null  int64
 10  Day                    178922 non-null  int64
 11  Hour                   178922 non-null  int64
 12  Minute                 178922 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10), object(1)
memory usage: 17.7+ MB
None

### 2. Coverting object data type into data Datatype
- We can convert from object data type into datetime Datetype explicitely
- by using
  1. to_datetime(p)function
  2. astype(p) method in series

### 2.1 to_datetime(p)
- to_datetime(p) is predefined function in pandas
- This functions we should access by using pands library.
- This function convert from object data type into data data type

In [33]:
# loading csv file and converting Date Posted column into Date formate
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Instagram_Data.csv")
print(df.head())
print()
print(df.info())
print("*"*50)
df["Date Posted"]=pd.to_datetime(df["Date Posted"])
print(df.head())
print(df.info())

   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments          Date Posted  Year  Month  Day  \
0              3                 11  2019-05-12 21:18:39  2019      5   12
1              0                  1  2019-05-12 14:25:55  2019      5   12
2              4                 15  2019-05-03 15:18:37  2019      5    3
3              4                  1  2019-05-02 16:40:38  2019      5    2
4              5                  0  2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Type                   178922 non-null  object
 5   Numer of Tags          178922 non-null  int64
 6   Numer of Comments      178922 non-null  int64
 7   Date Posted            178922 non-null  object
 8   Year                   178922 non-null  int64
 9   Month                  178922 non-null  int64
 10  Day                    178922 non-null  int64
 11  Hour                   178922 non-null  int64
 12  Minute                 178922 non-null  int64
dtypes: float64(1), int64(10), object(2)
memory usage: 17.7+ MB
None
**************************************************
   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Type                   178922 non-null  object
 5   Numer of Tags          178922 non-null  int64
 6   Numer of Comments      178922 non-null  int64
 7   Date Posted            178922 non-null  datetime64[ns]
 8   Year                   178922 non-null  int64
 9   Month                  178922 non-null  int64
 10  Day                    178922 non-null  int64
 11  Hour                   178922 non-null  int64
 12  Minute                 178922 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10), object(1)
memory usage: 17.7+ MB
None

| date time    | object               | Date time Date type        |
|--------------|----------------------|----------------------------|
| 1            | while loading file   | read_csv(....,pase_date..) |
| 2            | after loaded file    | 1. to_datetime() function  |           |              |                      |                            |
|              |                      | 2. astype() method         |

### 2.2 astype(p)
- astype(p) is predefined method Series class
- This method we should access by using Series object only
- This method convert from object data type into datetime datetype

In [56]:
# loading csv file and converting Date Posted into Date format
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Instagram_Data.csv")
print(df.info())
df["Date Posted"]=df["Date Posted"].astype("datetime64[ns]")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Type                   178922 non-null  object
 5   Numer of Tags          178922 non-null  int64
 6   Numer of Comments      178922 non-null  int64
 7   Date Posted            178922 non-null  object
 8   Year                   178922 non-null  int64
 9   Month                  178922 non-null  int64
 10  Day                    178922 non-null  int64
 11  Hour                   178922 non-null  int64
 12  Minute                 178922 non-null  int64
dtypes: float64(1), int64(10), object(2)
memory usage: 17.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Type                   178922 non-null  object
 5   Numer of Tags          178922 non-null  int64
 6   Numer of Comments      178922 non-null  int64
 7   Date Posted            178922 non-null  datetime64[ns]
 8   Year                   178922 non-null  int64
 9   Month                  178922 non-null  int64
 10  Day                    178922 non-null  int64
 11  Hour                   178922 non-null  int64
 12  Minute                 178922 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10), object(1)
memory usage: 17.7+ MB
None

### 3 Formate parameter
- We can represent the date formats in different ways,
  1. March 23rd, 2015 as "03-23-15" or "3|23|2025" and etc
- So we can use the formate at parameter to specify the exact format of the string

| code         | description          |       Example                    |
|--------------|----------------------|----------------------------|
| &Y           | full year            |   2001                 |
| %m           | month w / Zero paddi  |  04                   |          | |%d            | Day of the month w/ zero padding  |  09       |
| %I           | Hour (12 hr clock) w/ Zero padding |02        |
| %p           | AM or PM                       | Am           |
| %M           | Minute w/ Zero padding    | 05 v              |
| %S           | Secounf W/ Zero padding    | 05  |            |           |                                                       |
|              |                      |                          |

In [46]:
# creating a DataFrame
import pandas as pd 
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":["10000","50000","15000"],
    "Purdate":["20190902","20190913","20190921"]
} 
df=pd.DataFrame(data)
print(df.head())
print()
print(df.dtypes)

    Product    Status   Cost   Purdate
0   Samsung   Success  10000  20190902
1    iphone  Success   50000  20190913
2  Motorola    Failed  15000  20190921

Product    object
Status     object
Cost       object
Purdate    object
dtype: object

In [50]:
# case 1 = yyyy-mm-dd
import pandas as pd 
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":["10000","50000","15000"],
    "Purdate":["20190902","20190913","20190921"]
} 
df=pd.DataFrame(data)
print(df.head())
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df)
print()
print(df.dtypes)

    Product    Status   Cost   Purdate
0   Samsung   Success  10000  20190902
1    iphone  Success   50000  20190913
2  Motorola    Failed  15000  20190921
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes
None
**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000 2019-09-13
2  Motorola    Failed  15000 2019-09-21

Product            object
Status             object
Cost               object
Purdate    datetime64[ns]
dtype: object

In [54]:
# converting Date with speific formate
#case 2 = dd-mm-yyyy
import pandas as pd 
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":["10000","50000","15000"],
    "Purdate":["02092019","13092019","21092019"]
} 
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"],format="%d%m%Y")
print(df)
print()
print(df.info())

    Product    Status   Cost   Purdate
0   Samsung   Success  10000  02092019
1    iphone  Success   50000  13092019
2  Motorola    Failed  15000  21092019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes
None
**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000 2019-09-13
2  Motorola    Failed  15000 2019-09-21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 228.0+ bytes
None

## Howto handle date time stamp values
- csv file
  1. Data_Frame
  2. Pur_date  data type  => object (string)
- We need
  1. convert
  2. object
  3. data time

| date time    | object               | Date time Date type        |
|--------------|----------------------|----------------------------|
| 1            | while loading file   | read_csv(....,pase_date..) |
| 2            | after loaded file    | 1. to_datetime() function  |           |              |                      |                            |
|              |                      | 2. astype() method         |

# case 3 if the Date is in string like 02 sep 2023 then in formate there will use %b

In [4]:
# case 3   dd-sep-yyyy
# converting Data with specific formate
import pandas as pd
import pandas as pd 
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":["10000","50000","15000"],
    "Purdate":["02sep2019","13sep2019","21oct2019"]
} 
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df.head())
print()
print(df.info())

    Product    Status   Cost    Purdate
0   Samsung   Success  10000  02sep2019
1    iphone  Success   50000  13sep2019
2  Motorola    Failed  15000  21oct2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes
None
**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000 2019-09-13
2  Motorola    Failed  15000 2019-10-21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 228.0+ bytes
None

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_46351/1414482962.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Purdate"]=pd.to_datetime(df["Purdate"])

In [5]:
# case 3   dd-sep-yyyy
# converting Data with specific formate
import pandas as pd
import pandas as pd 
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":["10000","50000","15000"],
    "Purdate":["02sep2019","13sep2019","21oct2019"]
} 
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"],format="%d%b%Y")
print(df.head())
print()
print(df.info())

    Product    Status   Cost    Purdate
0   Samsung   Success  10000  02sep2019
1    iphone  Success   50000  13sep2019
2  Motorola    Failed  15000  21oct2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes
None
**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000 2019-09-13
2  Motorola    Failed  15000 2019-10-21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 228.0+ bytes
None

In [15]:
# case 4
# converting Data with specific formate
import pandas as pd 
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":["10000","50000","15000"],
    "Purdate":["02-sep-2019","13-sep-2019","21-oct-2019"]
}
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"],format="%d-%b-%Y")
print(df.head())
print()
print(df.info())

    Product    Status   Cost      Purdate
0   Samsung   Success  10000  02-sep-2019
1    iphone  Success   50000  13-sep-2019
2  Motorola    Failed  15000  21-oct-2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes
None
**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000 2019-09-13
2  Motorola    Failed  15000 2019-10-21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 228.0+ bytes
None

In [13]:
# case 5
# converting Data with specific formate
import pandas as pd 
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":["10000","50000","15000"],
    "Purdate":[20190920093000,20190913093000,20190921200000]
}
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"],format="%Y%m%d%H%M%S")
print(df.head())
print()
print(df.info())

    Product    Status   Cost         Purdate
0   Samsung   Success  10000  20190920093000
1    iphone  Success   50000  20190913093000
2  Motorola    Failed  15000  20190921200000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      int64
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None
**************************************************
    Product    Status   Cost             Purdate
0   Samsung   Success  10000 2019-09-20 09:30:00
1    iphone  Success   50000 2019-09-13 09:30:00
2  Motorola    Failed  15000 2019-09-21 20:00:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      object
 3   Purdate  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 228.0+ bytes
None

### 4 NaT values   => very very imp
- Date column may contains missing values in pandas DataFrame
- If Date column contains missing values then while converting into Data date type then we will get an error
- ## By using error ="coerce" keyword argument we can solve this problem.
- This argument converts Date column missing values into NaT (Not a Time) values
  1. Coerce errors. i.e convert un parse able date into NaT (Not a Time)

In [20]:
# here date value is missing for that 
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["02-sep-2019","Here date is missing","21-sep-2019"]
}
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
#df["Purdate"]=pd.to_datetime(df["Purdate"])

    Product    Status   Cost               Purdate
0   Samsung   Success  10000           02-sep-2019
1    iphone  Success   50000  Here date is missing
2  Motorola    Failed  15000           21-sep-2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      int64
 3   Purdate  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None
**************************************************

In [23]:
# here date value is missing for that  error will come  #DateParseError
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["02-sep-2019","21-sep-2019"]
}
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df.head())

    Product    Status   Cost               Purdate
0   Samsung   Success  10000           02-sep-2019
1    iphone  Success   50000  Here date is missing
2  Motorola    Failed  15000           21-sep-2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      int64
 3   Purdate  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None
**************************************************

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_46351/1491919496.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Purdate"]=pd.to_datetime(df["Purdate"])

DateParseError: Unknown datetime string format, unable to parse: Here date is missing, at position 1

In [29]:
# here date value is missing for that   the NaT
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["02-sep-2019","","21-sep-2019"]
}
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"],format="%d-%b-%Y")
print(df.head())

    Product    Status   Cost      Purdate
0   Samsung   Success  10000  02-sep-2019
1    iphone  Success   50000
2  Motorola    Failed  15000  21-sep-2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      int64
 3   Purdate  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None
**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000        NaT
2  Motorola    Failed  15000 2019-09-21

In [37]:
# converting Date with specific formate : Error
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["02-sep-2019","Here date is missing","21-sep-2019"]
}
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print()
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"],format="%d-%b-%Y",errors="coerce")
print(df.head())
print()
print("*"*50)
print(df.info())

    Product    Status   Cost               Purdate
0   Samsung   Success  10000           02-sep-2019
1    iphone  Success   50000  Here date is missing
2  Motorola    Failed  15000           21-sep-2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      int64
 3   Purdate  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None

**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000        NaT
2  Motorola    Failed  15000 2019-09-21

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      int64
 3   Purdate  2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 228.0+ bytes
None

In [35]:
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["02-sep-2019","Here date is missing","21-sep-2019"]
}
df=pd.DataFrame(data)
print(df.head())
print()
print(df.info())
print()
print("*"*50)
df["Purdate"]=pd.to_datetime(df["Purdate"],format="%d-%b-%Y",errors="coerce")
print(df.head())
print()
print("*"*50)
print(df.info())

    Product    Status   Cost               Purdate
0   Samsung   Success  10000           02-sep-2019
1    iphone  Success   50000  Here date is missing
2  Motorola    Failed  15000           21-sep-2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      int64
 3   Purdate  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes
None

**************************************************
    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2019-09-02
1    iphone  Success   50000        NaT
2  Motorola    Failed  15000 2019-09-21

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  3 non-null      object
 1   Status   3 non-null      object
 2   Cost     3 non-null      int64
 3   Purdate  2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 228.0+ bytes
None

# terms 
- None => python => empty object
- NaN => pandas => missing values
- NaT => pandas => missing date time values
-     => Date time stemp

### 5.Selecting from strat end date values
- Based on requirement we can select specific dates, like
  1. Start date to end date

In [46]:
values=[1,2,3,4,5,6,7,8,9,10]
print(values)
print()
for values in values:
    if values>3 and values<9:
     print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

4
5
6
7
8

In [4]:
# Selecting DataFrame in between the dates 
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Instagram_Data.csv"
               ,parse_dates=["Date Posted"])
print(df.head())
print(df.info())

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_54549/3052686597.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df=pd.read_csv("/Users/apple/Downloads/Instagram_Data.csv"

   User uuid  Likes  Days passed from post  Likes Score  Numer of Tags  \
0          1    506                    657         0.74              3
1          1    385                    657         0.57              0
2          1    373                    666         0.55              4
3          1    312                    667         0.46              4
4          1    513                    674         0.75              5

   Numer of Comments         Date Posted  Year  Month  Day  Hour  Minute
0                 11 2019-12-05 21:18:00  2019      5   12    21      18
1                  1 2019-12-05 14:25:00  2019      5   12    14      25
2                 15 2019-03-05 15:18:00  2019      5    3    15      18
3                  1 2019-02-05 16:40:00  2019      5    2    16      40
4                  0 2019-04-25 16:51:00  2019      4   25    16      51
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Numer of Tags          178922 non-null  int64
 5   Numer of Comments      178922 non-null  int64
 6   Date Posted            178922 non-null  datetime64[ns]
 7   Year                   178922 non-null  int64
 8   Month                  178922 non-null  int64
 9   Day                    178922 non-null  int64
 10  Hour                   178922 non-null  int64
 11  Minute                 178922 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10)
memory usage: 16.4 MB
None

# why that red thing show here it is why
âš ï¸ Why It Happens

Your CSV might contain dates like:

09/10/2025
10-09-2025
2025.10.09


or a mix of them â€” Pandas doesnâ€™t know the exact format (%d/%m/%Y vs %m/%d/%Y, etc.), so it guesses.
It still works, but slower and possibly inconsistent.

In [5]:
import pandas as pd

df = pd.read_csv(
    "/Users/apple/Downloads/Instagram_Data.csv",
    parse_dates=["Date Posted"],
    date_parser=lambda x: pd.to_datetime(x, format="%d-%m-%Y", errors="coerce")  # adjust format
)
print(df.info())

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_54549/3546708814.py:3: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Numer of Tags          178922 non-null  int64
 5   Numer of Comments      178922 non-null  int64
 6   Date Posted            0 non-null       datetime64[ns]
 7   Year                   178922 non-null  int64
 8   Month                  178922 non-null  int64
 9   Day                    178922 non-null  int64
 10  Hour                   178922 non-null  int64
 11  Minute                 178922 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10)
memory usage: 16.4 MB
None

In [14]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',parse_dates=["Date Posted"])
print(df)
df1=df.drop(columns=["User uuid","Days passed from post"],axis=1)
print(df1)

        User uuid  Likes  Days passed from post  Likes Score    Type  \
0               1    506                    657         0.74   Image
1               1    385                    657         0.57   Image
2               1    373                    666         0.55  Images
3               1    312                    667         0.46  Images
4               1    513                    674         0.75  Images
...           ...    ...                    ...          ...     ...
178917       1089      9                    821         0.07   Image
178918       1089      3                    822         0.02   Image
178919       1089      2                    822         0.01   Image
178920       1089     14                    822         0.10   Image
178921       1089      9                    823         0.07   Image

        Numer of Tags  Numer of Comments         Date Posted  Year  Month  \
0                   3                 11 2019-05-12 21:18:39  2019      5
1                   0                  1 2019-05-12 14:25:55  2019      5
2                   4                 15 2019-05-03 15:18:37  2019      5
3                   4                  1 2019-05-02 16:40:38  2019      5
4                   5                  0 2019-04-25 16:51:58  2019      4
...               ...                ...                 ...   ...    ...
178917              0                  1 2018-11-29 14:40:11  2018     11
178918              3                  0 2018-11-28 20:59:19  2018     11
178919              0                  0 2018-11-28 16:27:32  2018     11
178920              0                  2 2018-11-28 14:37:13  2018     11
178921              0                  0 2018-11-27 14:27:42  2018     11

        Day  Hour  Minute
0        12    21      18
1        12    14      25
2         3    15      18
3         2    16      40
4        25    16      51
...     ...   ...     ...
178917   29    14      40
178918   28    20      59
178919   28    16      27
178920   28    14      37
178921   27    14      27

[178922 rows x 13 columns]
        Likes  Likes Score    Type  Numer of Tags  Numer of Comments  \
0         506         0.74   Image              3                 11
1         385         0.57   Image              0                  1
2         373         0.55  Images              4                 15
3         312         0.46  Images              4                  1
4         513         0.75  Images              5                  0
...       ...          ...     ...            ...                ...
178917      9         0.07   Image              0                  1
178918      3         0.02   Image              3                  0
178919      2         0.01   Image              0                  0
178920     14         0.10   Image              0                  2
178921      9         0.07   Image              0                  0

               Date Posted  Year  Month  Day  Hour  Minute
0      2019-05-12 21:18:39  2019      5   12    21      18
1      2019-05-12 14:25:55  2019      5   12    14      25
2      2019-05-03 15:18:37  2019      5    3    15      18
3      2019-05-02 16:40:38  2019      5    2    16      40
4      2019-04-25 16:51:58  2019      4   25    16      51
...                    ...   ...    ...  ...   ...     ...
178917 2018-11-29 14:40:11  2018     11   29    14      40
178918 2018-11-28 20:59:19  2018     11   28    20      59
178919 2018-11-28 16:27:32  2018     11   28    16      27
178920 2018-11-28 14:37:13  2018     11   28    14      37
178921 2018-11-27 14:27:42  2018     11   27    14      27

[178922 rows x 11 columns]

In [13]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"])
print(df.head())

   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51

## 5.Selecting from strat end date values
- Based on requirement we can select specific dates, like
  1. Start date to end date

In [22]:
# Selecting DataFrame in between the Dates
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
start=df["Date Posted"]>"2019-05-12 14:25:55"
end=df["Date Posted"]<"2019-05-12 21:18:39"
r=df[start & end]
print(r)

        User uuid   Likes  Days passed from post  Likes Score    Type  \
5427           36  147048                    657         0.22   Image
7062           46   14432                    657         0.01   Image
8480           55    1526                    657         0.48   Image
9506           62   48795                    657         0.02   Video
10468          67    8984                    657         0.08   Image
11883          74   12106                    657         0.07   Image
12408          77   20711                    657         0.18  Images
12409          77   14401                    657         0.12  Images
23359         140     109                    657         0.24   Image
34100         206     146                    657         0.24  Images
39829         242    8688                    657         0.31  Images
40313         245   50742                    657         0.26   Image
40527         246     824                    657         0.26   Image
41471         251   22181                    657         0.21  Images
42862         259  371910                    657         0.13   Image
45891         280     472                    657         0.43   Image
50539         308     549                    657         0.98  Images
51269         313     887                    657         0.40  Images
52305         318     186                    657         0.37  Images
54088         328   28822                    657         0.13   Image
54930         332    1271                    657         0.06   Image
55605         336    4181                    657         0.11   Image
60867         367     186                    657         0.12   Image
62346         375  333570                    657         0.61   Image
62932         379     166                    657         0.74   Image
66452         401     286                    657         0.13   Image
70582         428   60852                    657         0.13   Image
78464         471       4                    657         0.33   Image
84645         509   36165                    657         0.07   Image
85276         513    2123                    657         0.94  Images
88508         534  127226                    657         0.40   Video
89122         537    1398                    657         0.64  Images
91805         553   43095                    657         1.00  Images
95318         574     147                    657         0.74   Image
106374        649   10264                    657         0.05   Image
108311        662     442                    657         0.60   Image
114621        701  219758                    657         0.08  Images
121485        749    4531                    657         0.18  Images
123382        763    5138                    657         0.19   Image
124411        769   52011                    657         0.08  Images
136717        845     207                    657         0.07   Image
144659        889    9678                    657         0.16  Images
146920        901     266                    657         0.34   Image
151574        929    2565                    657         0.23   Video
162958        996      61                    657         0.03   Image
166633       1021  512208                    657         0.08   Video
174043       1062    3152                    657         0.47   Image
176389       1075      66                    657         0.38   Image
176947       1078      61                    657         0.35   Image
178821       1089      35                    657         0.26   Image

        Numer of Tags  Numer of Comments         Date Posted  Year  Month  \
5427                0                637 2019-05-12 19:27:08  2019      5
7062                0                 35 2019-05-12 21:10:42  2019      5
8480                0                 18 2019-05-12 17:55:44  2019      5
9506                3                590 2019-05-12 17:12:43  2019      5
10468               4                100 2019-05-12 18:55:01  2019      5
11883               0                142 2019-05-12 20:11:23  2019      5
12408               5                 69 2019-05-12 21:16:15  2019      5
12409               0                 65 2019-05-12 20:59:26  2019      5
23359              21                  5 2019-05-12 19:25:57  2019      5
34100               0                  7 2019-05-12 20:02:11  2019      5
39829               0                 76 2019-05-12 21:02:51  2019      5
40313               0                314 2019-05-12 17:19:55  2019      5
40527               1                 26 2019-05-12 19:22:58  2019      5
41471               1                 69 2019-05-12 20:24:56  2019      5
42862               1               1114 2019-05-12 18:42:35  2019      5
45891               7                  4 2019-05-12 21:04:49  2019      5
50539               8                 38 2019-05-12 17:39:23  2019      5
51269              16                 17 2019-05-12 21:04:38  2019      5
52305               7                 19 2019-05-12 21:05:30  2019      5
54088               4                131 2019-05-12 18:15:14  2019      5
54930               0                 20 2019-05-12 20:15:45  2019      5
55605               0                 20 2019-05-12 15:42:33  2019      5
60867               8                  5 2019-05-12 18:41:20  2019      5
62346               0               1019 2019-05-12 20:38:47  2019      5
62932               7                  3 2019-05-12 19:45:43  2019      5
66452               9                  2 2019-05-12 16:41:16  2019      5
70582               4                288 2019-05-12 19:00:34  2019      5
78464               0                  0 2019-05-12 18:16:10  2019      5
84645               0                113 2019-05-12 20:37:31  2019      5
85276               2                  6 2019-05-12 17:44:37  2019      5
88508               0               2787 2019-05-12 20:23:44  2019      5
89122               0                 28 2019-05-12 19:37:14  2019      5
91805               0                677 2019-05-12 20:02:52  2019      5
95318               0                 22 2019-05-12 16:23:36  2019      5
106374              2                 15 2019-05-12 18:22:56  2019      5
108311             30                 11 2019-05-12 16:17:21  2019      5
114621              2               1070 2019-05-12 20:34:07  2019      5
121485              0                 44 2019-05-12 15:07:23  2019      5
123382              8                 21 2019-05-12 17:34:52  2019      5
124411              0                463 2019-05-12 17:31:30  2019      5
136717              0                 14 2019-05-12 18:06:13  2019      5
144659              0                105 2019-05-12 16:55:12  2019      5
146920              1                 13 2019-05-12 20:26:05  2019      5
151574              0                 74 2019-05-12 19:01:29  2019      5
162958              2                  2 2019-05-12 15:58:50  2019      5
166633              1               4165 2019-05-12 17:11:03  2019      5
174043              0                 93 2019-05-12 17:12:25  2019      5
176389              5                 18 2019-05-12 19:49:38  2019      5
176947              0                  1 2019-05-12 20:01:53  2019      5
178821              0                  0 2019-05-12 19:19:10  2019      5

        Day  Hour  Minute
5427     12    19      27
7062     12    21      10
8480     12    17      55
9506     12    17      12
10468    12    18      55
11883    12    20      11
12408    12    21      16
12409    12    20      59
23359    12    19      25
34100    12    20       2
39829    12    21       2
40313    12    17      19
40527    12    19      22
41471    12    20      24
42862    12    18      42
45891    12    21       4
50539    12    17      39
51269    12    21       4
52305    12    21       5
54088    12    18      15
54930    12    20      15
55605    12    15      42
60867    12    18      41
62346    12    20      38
62932    12    19      45
66452    12    16      41
70582    12    19       0
78464    12    18      16
84645    12    20      37
85276    12    17      44
88508    12    20      23
89122    12    19      37
91805    12    20       2
95318    12    16      23
106374   12    18      22
108311   12    16      17
114621   12    20      34
121485   12    15       7
123382   12    17      34
124411   12    17      31
136717   12    18       6
144659   12    16      55
146920   12    20      26
151574   12    19       1
162958   12    15      58
166633   12    17      11
174043   12    17      12
176389   12    19      49
176947   12    20       1
178821   12    19      19

In [29]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
start=df["Date Posted"]>"2018-11-27 14:27:4"
end=df["Date Posted"]<"2019-11-27 14:27:42"
r=df[start & end]
print(len(r))
print(r)

27973
        User uuid  Likes  Days passed from post  Likes Score    Type  \
0               1    506                    657         0.74   Image
1               1    385                    657         0.57   Image
2               1    373                    666         0.55  Images
3               1    312                    667         0.46  Images
4               1    513                    674         0.75  Images
...           ...    ...                    ...          ...     ...
178917       1089      9                    821         0.07   Image
178918       1089      3                    822         0.02   Image
178919       1089      2                    822         0.01   Image
178920       1089     14                    822         0.10   Image
178921       1089      9                    823         0.07   Image

        Numer of Tags  Numer of Comments         Date Posted  Year  Month  \
0                   3                 11 2019-05-12 21:18:39  2019      5
1                   0                  1 2019-05-12 14:25:55  2019      5
2                   4                 15 2019-05-03 15:18:37  2019      5
3                   4                  1 2019-05-02 16:40:38  2019      5
4                   5                  0 2019-04-25 16:51:58  2019      4
...               ...                ...                 ...   ...    ...
178917              0                  1 2018-11-29 14:40:11  2018     11
178918              3                  0 2018-11-28 20:59:19  2018     11
178919              0                  0 2018-11-28 16:27:32  2018     11
178920              0                  2 2018-11-28 14:37:13  2018     11
178921              0                  0 2018-11-27 14:27:42  2018     11

        Day  Hour  Minute
0        12    21      18
1        12    14      25
2         3    15      18
3         2    16      40
4        25    16      51
...     ...   ...     ...
178917   29    14      40
178918   28    20      59
178919   28    16      27
178920   28    14      37
178921   27    14      27

[27973 rows x 13 columns]

### 6 Access specific dates like last 20 days or 2 months or 2 years records
- based on requirements we can get last 10 days , 20 days , 40 days , 1 month , 2 month ,3 month , 1 year , 2 year , 3 year date Date as well.
- We can also sort the dataFrame by using sort_value()

- ----------------------------------------------
- amazon => data
- => 1 year => 2022
- => 1 lakhs => for 365 days

1. Q1 => i wanted to access last 20 days records
-----------------------------------------

In [1]:
# Creating DataFrame
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )

In [20]:
# Accessing last 10 days records
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
print(df.head())

new_df=df.set_index(["Date Posted"])
day_10=new_df.last("10D")
print(day_10)

   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51
                     User uuid  Likes  Days passed from post  Likes Score  \
Date Posted
2021-01-28 17:26:10         40  34728                     30         0.45
2021-01-26 20:35:34         40   9922                     32         0.13
2021-01-22 21:56:39         40  26854                     35         0.35
2021-01-11 17:24:52         40  18838                     47         0.24
2021-01-09 20:57:38         40  38981                     49         0.50
...                        ...    ...                    ...          ...
2018-11-29 14:40:11       1089      9                    821         0.07
2018-11-28 20:59:19       1089      3                    822         0.02
2018-11-28 16:27:32       1089      2                    822         0.01
2018-11-28 14:37:13       1089     14                    822         0.10
2018-11-27 14:27:42       1089      9                    823         0.07

                      Type  Numer of Tags  Numer of Comments  Year  Month  \
Date Posted
2021-01-28 17:26:10  Image              1                105  2021      1
2021-01-26 20:35:34  Video              0                 83  2021      1
2021-01-22 21:56:39  Video              1                392  2021      1
2021-01-11 17:24:52  Image              0                 53  2021      1
2021-01-09 20:57:38  Image              0                123  2021      1
...                    ...            ...                ...   ...    ...
2018-11-29 14:40:11  Image              0                  1  2018     11
2018-11-28 20:59:19  Image              3                  0  2018     11
2018-11-28 16:27:32  Image              0                  0  2018     11
2018-11-28 14:37:13  Image              0                  2  2018     11
2018-11-27 14:27:42  Image              0                  0  2018     11

                     Day  Hour  Minute
Date Posted
2021-01-28 17:26:10   28    17      26
2021-01-26 20:35:34   26    20      35
2021-01-22 21:56:39   22    21      56
2021-01-11 17:24:52   11    17      24
2021-01-09 20:57:38    9    20      57
...                  ...   ...     ...
2018-11-29 14:40:11   29    14      40
2018-11-28 20:59:19   28    20      59
2018-11-28 16:27:32   28    16      27
2018-11-28 14:37:13   28    14      37
2018-11-27 14:27:42   27    14      27

[172987 rows x 12 columns]

/var/folders/49/yg3wsvdd3f58h2tww9p8yrn80000gn/T/ipykernel_56026/1278825760.py:9: FutureWarning: last is deprecated and will be removed in a future version. Please create a mask and filter using `.loc` instead
  day_10=new_df.last("10D")

In [22]:
# Accessing last 10 days records and ignore warnings
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
#print(df.head())

new_df=df.set_index(["Date Posted"])
day_10=new_df.last("1D")
print(day_10)

                     User uuid  Likes  Days passed from post  Likes Score  \
Date Posted
2021-01-28 17:26:10         40  34728                     30         0.45
2021-01-26 20:35:34         40   9922                     32         0.13
2021-01-22 21:56:39         40  26854                     35         0.35
2021-01-11 17:24:52         40  18838                     47         0.24
2021-01-09 20:57:38         40  38981                     49         0.50
...                        ...    ...                    ...          ...
2018-11-29 14:40:11       1089      9                    821         0.07
2018-11-28 20:59:19       1089      3                    822         0.02
2018-11-28 16:27:32       1089      2                    822         0.01
2018-11-28 14:37:13       1089     14                    822         0.10
2018-11-27 14:27:42       1089      9                    823         0.07

                      Type  Numer of Tags  Numer of Comments  Year  Month  \
Date Posted
2021-01-28 17:26:10  Image              1                105  2021      1
2021-01-26 20:35:34  Video              0                 83  2021      1
2021-01-22 21:56:39  Video              1                392  2021      1
2021-01-11 17:24:52  Image              0                 53  2021      1
2021-01-09 20:57:38  Image              0                123  2021      1
...                    ...            ...                ...   ...    ...
2018-11-29 14:40:11  Image              0                  1  2018     11
2018-11-28 20:59:19  Image              3                  0  2018     11
2018-11-28 16:27:32  Image              0                  0  2018     11
2018-11-28 14:37:13  Image              0                  2  2018     11
2018-11-27 14:27:42  Image              0                  0  2018     11

                     Day  Hour  Minute
Date Posted
2021-01-28 17:26:10   28    17      26
2021-01-26 20:35:34   26    20      35
2021-01-22 21:56:39   22    21      56
2021-01-11 17:24:52   11    17      24
2021-01-09 20:57:38    9    20      57
...                  ...   ...     ...
2018-11-29 14:40:11   29    14      40
2018-11-28 20:59:19   28    20      59
2018-11-28 16:27:32   28    16      27
2018-11-28 14:37:13   28    14      37
2018-11-27 14:27:42   27    14      27

[172987 rows x 12 columns]

In [25]:
# Accessing last 100 days records and ignore warnings
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
#print(df.head())

new_df=df.set_index(["Date Posted"])
day_100=new_df.last("100D")
print(day_100)

                     User uuid   Likes  Days passed from post  Likes Score  \
Date Posted
2021-02-03 20:53:01         22  207802                     24         0.65
2021-01-21 23:43:52         22  298386                     36         0.93
2021-01-12 01:04:36         22  167036                     46         0.52
2020-12-18 01:05:19         22  200614                     71         0.62
2020-12-17 22:11:14         22  175128                     71         0.54
...                        ...     ...                    ...          ...
2018-11-29 14:40:11       1089       9                    821         0.07
2018-11-28 20:59:19       1089       3                    822         0.02
2018-11-28 16:27:32       1089       2                    822         0.01
2018-11-28 14:37:13       1089      14                    822         0.10
2018-11-27 14:27:42       1089       9                    823         0.07

                       Type  Numer of Tags  Numer of Comments  Year  Month  \
Date Posted
2021-02-03 20:53:01  Images              0                568  2021      2
2021-01-21 23:43:52  Images              0                916  2021      1
2021-01-12 01:04:36   Image              0                343  2021      1
2020-12-18 01:05:19   Image              0                703  2020     12
2020-12-17 22:11:14   Image              0                868  2020     12
...                     ...            ...                ...   ...    ...
2018-11-29 14:40:11   Image              0                  1  2018     11
2018-11-28 20:59:19   Image              3                  0  2018     11
2018-11-28 16:27:32   Image              0                  0  2018     11
2018-11-28 14:37:13   Image              0                  2  2018     11
2018-11-27 14:27:42   Image              0                  0  2018     11

                     Day  Hour  Minute
Date Posted
2021-02-03 20:53:01    3    20      53
2021-01-21 23:43:52   21    23      43
2021-01-12 01:04:36   12     1       4
2020-12-18 01:05:19   18     1       5
2020-12-17 22:11:14   17    22      11
...                  ...   ...     ...
2018-11-29 14:40:11   29    14      40
2018-11-28 20:59:19   28    20      59
2018-11-28 16:27:32   28    16      27
2018-11-28 14:37:13   28    14      37
2018-11-27 14:27:42   27    14      27

[176101 rows x 12 columns]

In [26]:
# Accessing last 1 month records and ignore warnings
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
#print(df.head())

new_df=df.set_index(["Date Posted"])
month_1=new_df.last("1M")
print(month_1)

                     User uuid  Likes  Days passed from post  Likes Score  \
Date Posted
2021-01-28 17:26:10         40  34728                     30         0.45
2021-01-26 20:35:34         40   9922                     32         0.13
2021-01-22 21:56:39         40  26854                     35         0.35
2021-01-11 17:24:52         40  18838                     47         0.24
2021-01-09 20:57:38         40  38981                     49         0.50
...                        ...    ...                    ...          ...
2018-11-29 14:40:11       1089      9                    821         0.07
2018-11-28 20:59:19       1089      3                    822         0.02
2018-11-28 16:27:32       1089      2                    822         0.01
2018-11-28 14:37:13       1089     14                    822         0.10
2018-11-27 14:27:42       1089      9                    823         0.07

                      Type  Numer of Tags  Numer of Comments  Year  Month  \
Date Posted
2021-01-28 17:26:10  Image              1                105  2021      1
2021-01-26 20:35:34  Video              0                 83  2021      1
2021-01-22 21:56:39  Video              1                392  2021      1
2021-01-11 17:24:52  Image              0                 53  2021      1
2021-01-09 20:57:38  Image              0                123  2021      1
...                    ...            ...                ...   ...    ...
2018-11-29 14:40:11  Image              0                  1  2018     11
2018-11-28 20:59:19  Image              3                  0  2018     11
2018-11-28 16:27:32  Image              0                  0  2018     11
2018-11-28 14:37:13  Image              0                  2  2018     11
2018-11-27 14:27:42  Image              0                  0  2018     11

                     Day  Hour  Minute
Date Posted
2021-01-28 17:26:10   28    17      26
2021-01-26 20:35:34   26    20      35
2021-01-22 21:56:39   22    21      56
2021-01-11 17:24:52   11    17      24
2021-01-09 20:57:38    9    20      57
...                  ...   ...     ...
2018-11-29 14:40:11   29    14      40
2018-11-28 20:59:19   28    20      59
2018-11-28 16:27:32   28    16      27
2018-11-28 14:37:13   28    14      37
2018-11-27 14:27:42   27    14      27

[172987 rows x 12 columns]

In [27]:
# Accessing last 1 year records and ignore warnings
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
#print(df.head())

new_df=df.set_index(["Date Posted"])
year_1=new_df.last("1Y")
print(year_1)

                     User uuid   Likes  Days passed from post  Likes Score  \
Date Posted
2021-02-03 20:53:01         22  207802                     24         0.65
2021-01-21 23:43:52         22  298386                     36         0.93
2021-01-12 01:04:36         22  167036                     46         0.52
2020-12-18 01:05:19         22  200614                     71         0.62
2020-12-17 22:11:14         22  175128                     71         0.54
...                        ...     ...                    ...          ...
2018-11-29 14:40:11       1089       9                    821         0.07
2018-11-28 20:59:19       1089       3                    822         0.02
2018-11-28 16:27:32       1089       2                    822         0.01
2018-11-28 14:37:13       1089      14                    822         0.10
2018-11-27 14:27:42       1089       9                    823         0.07

                       Type  Numer of Tags  Numer of Comments  Year  Month  \
Date Posted
2021-02-03 20:53:01  Images              0                568  2021      2
2021-01-21 23:43:52  Images              0                916  2021      1
2021-01-12 01:04:36   Image              0                343  2021      1
2020-12-18 01:05:19   Image              0                703  2020     12
2020-12-17 22:11:14   Image              0                868  2020     12
...                     ...            ...                ...   ...    ...
2018-11-29 14:40:11   Image              0                  1  2018     11
2018-11-28 20:59:19   Image              3                  0  2018     11
2018-11-28 16:27:32   Image              0                  0  2018     11
2018-11-28 14:37:13   Image              0                  2  2018     11
2018-11-27 14:27:42   Image              0                  0  2018     11

                     Day  Hour  Minute
Date Posted
2021-02-03 20:53:01    3    20      53
2021-01-21 23:43:52   21    23      43
2021-01-12 01:04:36   12     1       4
2020-12-18 01:05:19   18     1       5
2020-12-17 22:11:14   17    22      11
...                  ...   ...     ...
2018-11-29 14:40:11   29    14      40
2018-11-28 20:59:19   28    20      59
2018-11-28 16:27:32   28    16      27
2018-11-28 14:37:13   28    14      37
2018-11-27 14:27:42   27    14      27

[176101 rows x 12 columns]

### 7 Extract year, month , date from Date column
- Based on requirements we can get year, month , day , hour, minute from Date column
- Sometimes it can be usedful a breake up a column of date into components

- Date Value
---------------------------------------------
- I bought one prod =>  date 02-14-2024 11:45:00
- month => 02
- day => 14
- year => 2024
- hour => 11
- mins => 45
- seconds => 00

In [15]:
# df.month,year,day ,hours,minute,
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
print(df.head())
df["Date Posted"]
print()
df["Date Posted"].dt.year

   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51

0         2019
1         2019
2         2019
3         2019
4         2019
          ...
178917    2018
178918    2018
178919    2018
178920    2018
178921    2018
Name: Date Posted, Length: 178922, dtype: int32

In [16]:
# Breaking up the Date column values into multiple features 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
print(df.head())
df["year"]=df["Date Posted"].dt.year
df["month"]=df["Date Posted"].dt.month
df["day"]=df["Date Posted"].dt.day
print()
print("*"*60)
print(df.head())

   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51

************************************************************
   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute  year  month  day
0    21      18  2019      5   12
1    14      25  2019      5   12
2    15      18  2019      5    3
3    16      40  2019      5    2
4    16      51  2019      4   25

In [17]:
# Breaking up the Date column values into multiple features 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('/Users/apple/Downloads/Instagram_Data.csv',
               parse_dates=["Date Posted"]
              )
print(df.head())
df["year"]=df["Date Posted"].dt.year
df["month"]=df["Date Posted"].dt.month
df["day"]=df["Date Posted"].dt.day
df["hour"]=df["Date Posted"].dt.hour
df["minute"]=df["Date Posted"].dt.minute
print()
print("*"*60)
print(df.head())

   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute
0    21      18
1    14      25
2    15      18
3    16      40
4    16      51

************************************************************
   User uuid  Likes  Days passed from post  Likes Score    Type  \
0          1    506                    657         0.74   Image
1          1    385                    657         0.57   Image
2          1    373                    666         0.55  Images
3          1    312                    667         0.46  Images
4          1    513                    674         0.75  Images

   Numer of Tags  Numer of Comments         Date Posted  Year  Month  Day  \
0              3                 11 2019-05-12 21:18:39  2019      5   12
1              0                  1 2019-05-12 14:25:55  2019      5   12
2              4                 15 2019-05-03 15:18:37  2019      5    3
3              4                  1 2019-05-02 16:40:38  2019      5    2
4              5                  0 2019-04-25 16:51:58  2019      4   25

   Hour  Minute  year  month  day  hour  minute
0    21      18  2019      5   12    21      18
1    14      25  2019      5   12    14      25
2    15      18  2019      5    3    15      18
3    16      40  2019      5    2    16      40
4    16      51  2019      4   25    16      51

### 8 Encoding Days of this week
- we can get the day of the week for each date by using pandas
  1. knowing the days names will helpful to understand the business flow. like we can compare total sales on specific day for the past three years

In [28]:
# weeks name 
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["10-oct-2025","11-oct-2025","12-oct-2025"]
}
df=pd.DataFrame(data)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df)
print()
print(df["Purdate"].dt.day_name())

    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2025-10-10
1    iphone  Success   50000 2025-10-11
2  Motorola    Failed  15000 2025-10-12

0      Friday
1    Saturday
2      Sunday
Name: Purdate, dtype: object

In [30]:
# month name 
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["10-oct-2025","11-sep-2025","12-oct-2025"]
}
df=pd.DataFrame(data)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df)
print()
print(df["Purdate"].dt.month_name())

    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2025-10-10
1    iphone  Success   50000 2025-09-11
2  Motorola    Failed  15000 2025-10-12

0      October
1    September
2      October
Name: Purdate, dtype: object

In [31]:
# year name 
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["10-oct-2025","11-oct-2025","12-oct-2025"]
}
df=pd.DataFrame(data)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df)
print()
print(df["Purdate"].dt.year_name())

    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2025-10-10
1    iphone  Success   50000 2025-10-11
2  Motorola    Failed  15000 2025-10-12

AttributeError: 'DatetimeProperties' object has no attribute 'year_name'

# Note
- The day of the week with monday =0 ...... sunday = 6

In [37]:
# Enconding Days of the week
# weeks name 
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["10-oct-2025","11-oct-2025","12-oct-2025"]
}
df=pd.DataFrame(data)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df)
print()
print(df["Purdate"].dt.day_name())
print(df["Purdate"].dt.weekday )   # enconding Days of week

    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2025-10-10
1    iphone  Success   50000 2025-10-11
2  Motorola    Failed  15000 2025-10-12

0      Friday
1    Saturday
2      Sunday
Name: Purdate, dtype: object
0    5
1    6
2    7
Name: Purdate, dtype: int32

In [39]:
# Enconding Days of the week   very very imp
# weeks name 
import pandas as pd
data={
    "Product":["Samsung","iphone","Motorola"],
    "Status":["Success","Success ","Failed"],
    "Cost":[10000,50000,15000],
    "Purdate":["10-oct-2025","11-oct-2025","12-oct-2025"]
}
df=pd.DataFrame(data)
df["Purdate"]=pd.to_datetime(df["Purdate"])
print(df)
print()
print(df["Purdate"].dt.day_name())
print(df["Purdate"].dt.weekday + 1)   # enconding Days of week

    Product    Status   Cost    Purdate
0   Samsung   Success  10000 2025-10-10
1    iphone  Success   50000 2025-10-11
2  Motorola    Failed  15000 2025-10-12

0      Friday
1    Saturday
2      Sunday
Name: Purdate, dtype: object
0    5
1    6
2    7
Name: Purdate, dtype: int32