# Series

### 1. Series
- The Pandas Series is one-dimensional labeled array ( store , single coulumns of data)
- Series can store same and different types of data
- Series stores data in sequential order
- Series is like a, one column information


### Series is a pre defined class
- Techically speaking Series is a pre- defined class in pandas library


### Creating

## class 
        - import class
        - create an object
        - call the method

## Series class
        - import Series class from pandas 
        - Create object to series class 
        - call the method by using Series object

## 2. creating Series '
- We can create series in different  ways
  1) Empty series
  2) by using list
  3) by using an array
  4) by accessing single coloum from DataFrame


1) Empty series
        empty list  a=[]
       Empty Series
   1) import pandas
   2) get Series class from pandas
   3) create an object

In [2]:
''' i can see all the pandas lib '''
import pandas as pd 
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [12]:
''' empty series '''
import pandas as pd 
s=pd.Series()
print(s,type(s))

import pandas 
s=pandas.Series()
print(s,type(s))

Series([], dtype: object) <class 'pandas.core.series.Series'>
Series([], dtype: object) <class 'pandas.core.series.Series'>

## 2.2 Creating Series by using list 
- We can create Series by using list

In [26]:
''' Create sseries object with data with list '''
print("*"*20)
a=[10,20,30,40]
print(a,type(a))
print("*"*20)

'''int '''
import pandas as pd
a=[10,20,30,40]
s=pd.Series(a)
print(s)
print("*"*20)


'''float '''
import pandas as pd 
list=[10.1,10.2,10.3,10.4]
s=pd.Series(list)
print(s)
print("*"*20)


''' string'''

import pandas as pd 
list=["kishan","firoj","pika","raja"]
s=pd.Series(list)
print(s,type(s))
print("*"*20)

import pandas as pd
list=["luffy",5,19.19]
s=pd.Series(list)
print(s)

import pandas as pd 
list=[10,20,30,40]
s=pd.Series(list,name="number ")
print(s)

********************
[10, 20, 30, 40] <class 'list'>
********************
0    10
1    20
2    30
3    40
dtype: int64
********************
0    10.1
1    10.2
2    10.3
3    10.4
dtype: float64
********************
0    kishan
1     firoj
2      pika
3      raja
dtype: object <class 'pandas.core.series.Series'>
********************
0    luffy
1        5
2    19.19
dtype: object
0    10
1    20
2    30
3    40
Name: number , dtype: int64

In [27]:
''' Creating Series object by using range and list '''

import pandas as pd

r=range(10)
s=pd.Series(r)
print(s,type(s))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64 <class 'pandas.core.series.Series'>

In [1]:
import pandas as pd

r= range(100,201)
s=pd.Series(r,name="number")
print(s,type(s))

0      100
1      101
2      102
3      103
4      104
      ...
96     196
97     197
98     198
99     199
100    200
Name: number, Length: 101, dtype: int64 <class 'pandas.core.series.Series'>

#### 2.3 Create a Series from array
- We can pass array as a argument to the series >
- By default, index is assigned to every element

### 2.4 Creating Series by column from DataFrame
- If we select single column from DataFrame then it retures Series object
- This point we will learn during DataFrame chapter , thanks for understanding

In [8]:
"""case 1""" # not in realtime standard
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.columns)
print()
print(df.Date)

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

0       05-02-2010
1       12-02-2010
2       19-02-2010
3       26-02-2010
4       05-03-2010
           ...
6430    28-09-2012
6431    05-10-2012
6432    12-10-2012
6433    19-10-2012
6434    26-10-2012
Name: Date, Length: 6435, dtype: object

In [10]:
""" case 2 """ # realtime standard
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
print(df.columns)
print()
print(df["product_id"])

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'discount_percentage', 'rating', 'rating_count',
       'about_product', 'user_id', 'user_name', 'review_id'],
      dtype='object')

0       B07JW9H4J1
1       B098NS6PVG
2       B096MSW6CT
3       B08HDJ86NZ
4       B08CF3B7N1
           ...
1460    B08L7J3T31
1461    B01M6453MB
1462    B009P2LIL4
1463    B00J5DYCCA
1464    B01486F4G6
Name: product_id, Length: 1465, dtype: object

## 3. Index in Series

### 3.1 What is index?
- Index ,means the position of value where it store
- The index is a core feature in pandas
- By default, index is assigned to every value
- from the output is assigned to every value
- from the output the left most column is the index column
- The generic name for an index is a axis

### 3.2 Index default values 
- The default values for an index are integers
- The index starts from 0,1,2,3 etcs
- Based on requirement we can customise the index
- These are  called as axis labels

In [3]:
import pandas as pd
list=[10,20,30,40]
s=pd.Series(list)
print(s,type(s))

0    10
1    20
2    30
3    40
dtype: int64 <class 'pandas.core.series.Series'>

In [4]:
# Based on requirement we can customise this index 
# we can change the index in pandas 

import pandas as pd
list=[10,20,30,40]
s=pd.Series(list)
print(s)
print("*"*20)

# we havae index here

import pandas as pd
a=[10,20,30,40]
b=[10,20,70,99]
s=pd.Series(a, index=b)
print(s)

0    10
1    20
2    30
3    40
dtype: int64
********************
10    10
20    20
70    30
99    40
dtype: int64

In [1]:
import pandas as pd 
l=[145,142,38,13]
s=pd.Series(l)
print(s)

0    145
1    142
2     38
3     13
dtype: int64

In [10]:
# keyword arguments  name here
import pandas as pd
l=[145,142,38,13]
s=pd.Series(l,name='count')
print(s)

0    145
1    142
2     38
3     13
Name: count, dtype: int64

In [11]:
# we using the index and name function 
import pandas as pd
l=[142,125,38,13]
i=[10,20,30,40]
s=pd.Series(l,index=i,name='counts')
print(s)

10    142
20    125
30     38
40     13
Name: counts, dtype: int64

In [12]:
#user function
def add(a,b):
    print(a+b)
print (add(20,10))

30
None

In [13]:
import pandas as pd
l=[1000,2000,3000,4000]
n=["Nokia","Samsung","Oppo","iphone6"]
s=pd.Series(l,index=n,name='phone name and cost')
print(s)

Nokia      1000
Samsung    2000
Oppo       3000
iphone6    4000
Name: phone name and cost, dtype: int64

### 4. Accessing Values in Series

In [22]:
a=[10,20,30,40]
print(a[0])
print("*"*20)
print()

import pandas as pd 
l=[10,20,30,40]
s=pd.Series(l)
print(s)
print(s[0])

# what if we chamge the index then we find it
# changeing index silling 

import pandas as pd
l=[10,20,30,40]
i=[100,201,302,401]
s=pd.Series(l,index=i)
print(s)
print("*"*20)

print(s[100])

print("*"*20)

print(s[::-1])

print("*"*20)

10
********************

0    10
1    20
2    30
3    40
dtype: int64
10
100    10
201    20
302    30
401    40
dtype: int64
********************
10
********************
401    40
302    30
201    20
100    10
dtype: int64
********************

In [27]:
# Creating Series and accessing values

import pandas as pd 
l=[1000,2000,3000,4000]
n=["Nokia","Samsung","Oppo","iphone6"]
s=pd.Series(l, index=n ,name='mobile name anf info')
print(s)
print()
print()

print(s['Nokia'])
print(s['Oppo'])

Nokia      1000
Samsung    2000
Oppo       3000
iphone6    4000
Name: mobile name anf info, dtype: int64


1000
3000

# SUMMARY

## Creating Series
- Empty Series object
- creating Series by using list
- Creating Series by using array
- Creating Series by column from DataFrame

- We can create series in different  ways
  1) Empty series
  2) by using list
  3) by using an array
  4) by accessing single coloum from DataFrame