# Series - Attributes and Methods

### 1. Series Attributes
- Series is a predefined class
- Series having different attributes
- These attributes returen infomation about the object

### Values
- values is predefined attributes in Series class
- values can acess values attribute by using series object
- This attribute return the group of value as an array

In [3]:
import pandas as pd
l=[10,20,30,40,50]
s=pd.Series(l)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [32]:
class employee:
    def __init__(self,name,number,location):
        self.name=name
        self.number=number
        self.location=location
d=employee("kishan",101,"benglore")

print(d.name)   # name is called as attributre/instance variable 
print(d.number) # number is called as attribute/instance variable
print(d.location) # location is called as attribute/instance variable

kishan
101
benglore

In [14]:
import pandas as pd
a=[10,20,30,40]
s=pd.Series(a)
print("Series object created and loaded with data ,object name is s")
print(s)
print(s.values)  # we can check how many values are there by this functio

Series object created and loaded with data ,object name is s
0    10
1    20
2    30
3    40
dtype: int64
[10 20 30 40]

In [1]:
 import pandas as pd 
name=["bharath","daniel","kishan"]
s=pd.Series(name)
print(s)
print(s.values)
print()
print(s.index)

0    bharath
1     daniel
2     kishan
dtype: object
['bharath' 'daniel' 'kishan']

RangeIndex(start=0, stop=3, step=1)

In [17]:
# Q can we prove values and index are attirbutes in 
import pandas as pd
s=pd.Series()
print()
print(dir(s))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__firstlineno__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__static_attributes__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'str', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### => Q purpose of attribute
###  Get informaion
###  return infomation 
###  => Purpose of methods is
### perform an opeaion

In [2]:
import pandas as pd
x=["kishan","firoj","pika"]
i=[10,20,30]
s=pd.Series(x,index=i)
print(s)

10    kishan
20     firoj
30      pika
dtype: object

In [20]:
print(s.index)  # only index value

RangeIndex(start=0, stop=3, step=1)

In [21]:
print(s.values)  # only values

['kishan' 'firoj' 'pika']

### 1.3 dtype
- dtype is pre defined attribute in Series class>
- We can acess dtype attribute by using Series object
- This attribute returns data type of series column

In [40]:
import pandas as pd
a=[10,20,30,40]
s=pd.Series(a)
print(s)
print()
print("=> i have created Series object name is : s")
print()
print("=> how to get data")
print(s.values)
print()
print("=> how to get index")
print(s.index)
print()
print("=> how to get data type")
print(s.dtype)
print()
print("=> how many values in s object")
print(len(s))           # len(p) is function from python
print()
print(s.size)    # size is an attribute from pandas
print()
print(s.head)

0    10
1    20
2    30
3    40
dtype: int64

=> i have created Series object name is : s

=> how to get data
[10 20 30 40]

=> how to get index
RangeIndex(start=0, stop=4, step=1)

=> how to get data type
int64

=> how many values in s object
4

4

<bound method NDFrame.head of 0    10
1    20
2    30
3    40
dtype: int64>

In [36]:
class kishan:
    def teaching(self):
        print("i like teaching only in free time")
d=kishan()
d.teaching

- kishan    => name of the class
- d         => name of the object
- teaching  => name of the method in kishan class
- d.teaching => Accessing the method
- purpose    => perfrom an operation

In [43]:
import pandas as pd
a=[10,20,30,40,50,60,70,80,90,100]
print("i havae created Series object name is : s")
s=pd.Series(a)
print(s)
print("hey, i want to only top 5 values,can we see")
print(s.head())      # head() method by defeult it display only 5

i havae created Series object name is : s
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
hey, i want to only top 5 values,can we see
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [44]:
# if we want more then
print(s.head(7))

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

## Pandas-Series-Methods

### 1. Series Methods
- Series is a predefined class
- Series class having different methods
- These methods perform operations on Series of value

### 1.1 head()
- head() is predefined method in series class.
- we can access head() method by using series object 
- This method returns first five values from the series

In [45]:
import pandas as pd
a=[10,20,30,40,50,60,70,80,90,100]
print("i havae created Series object name is : s")
s=pd.Series(a)
print(s)
print("hey, i want to only top 5 values,can we see")
print(s.head())      # head() method by defeult it display only 5

i havae created Series object name is : s
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
hey, i want to only top 5 values,can we see
0    10
1    20
2    30
3    40
4    50
dtype: int64

### 1.2 tail()
- tail() is predefined method in Series class.
- we can access tail() method by using series object>
- This method return last five values from the Series

In [47]:
import pandas as pd 
a=[10,20,30,40,50,60,70,80,90,100]
s=pd.Series(a)
print(s)
print()
print(s.tail())

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

5     60
6     70
7     80
8     90
9    100
dtype: int64

In [50]:
print(s.tail())

5     60
6     70
7     80
8     90
9    100
dtype: int64

### 1.3 Sum()
- sum() is predefined method in series class
- we can access sum() method by using series object
- this method returns the sum of all values.
-

In [55]:
import pandas as pd 
a=[10,20,30,40,50,60,70,80]
s=pd.Series(a)
print(" => i have created series object name is s : s")
print(s)
print()
print("inside i have loaded with all monday sales info")
print("can i get what is total bussiness on a")
print()
print(s.sum())

 => i have created series object name is s : s
0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

inside i have loaded with all monday sales info
can i get what is total bussiness on a

360

In [56]:
print(s.sum())

360

## s.values  => attribute
## s.head()    => methods

In [72]:
import pandas as pd
m_sales=[1000,None,2000,None,1000,3000]
s=pd.Series(m_sales)
print(s)
print()
print(s.size)
print()
print(s.sum())
print()
print(s.dtype)
print()
print(s.isnull().sum())

0    1000.0
1       NaN
2    2000.0
3       NaN
4    1000.0
5    3000.0
dtype: float64

6

7000.0

float64

2

### 1.4 count()
- count() is predefined method in Series class
- We can access count() method by using series object
- This mehod returns the number of non- NAN/null values

In [2]:
import pandas as pd 
a=[56,46,34,41,None,60,None]
s=pd.Series(a)
print(s)
print()
print("count ")
print(s.count())

0    56.0
1    46.0
2    34.0
3    41.0
4     NaN
5    60.0
6     NaN
dtype: float64

count
5

1. Attributes => Returns infomation
              => we need o access by using object name
2. Series object. a) s.value
                   b)s.index
                   c) s.size
                   d) s.dtype

In [2]:
class Daniel:
    def teaching(self):
        print("i like to teaching only in free time")
    def eating(self):
        print("i like to eat roti")
d=Daniel()
d.teaching()
d.eating()

i like to teaching only in free time
i like to eat roti

- class , def  => keywords
- Daniel     => name of the class
- teaching  => name of the method
- eating  => name of the method
- d=Daniel() => object creation
- d.teaching()  => calling mehods
- d.eating()    => calling methods

### 1.5 mean()
- mean() is predefined method in Series class
- We can access mean() method by using series object
- This method returns the mean of series of values

In [8]:
import  pandas as pd
a=[10,20,30,40,50]
s=pd.Series(a)
print(s)
print()
print(" => Mean of the a ")
print(s.mean())

0    10
1    20
2    30
3    40
4    50
dtype: int64

 => Mean of the a
30.0

In [5]:
import pandas as pd 
a=[100,200,300]
s=pd.Series(a)
print(s)
print()
print(s.mean())

0    100
1    200
2    300
dtype: int64

200.0

In [9]:
import pandas as pd
mark=[37,40,36]
s=pd.Series(mark)
print(s)
print()
print(s.mean())

0    37
1    40
2    36
dtype: int64

37.666666666666664

In [10]:
print(dir(s))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__firstlineno__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__static_attributes__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [11]:
import builtins as bd
print(dir(bd))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'PythonFinalizationError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '_IncompleteInputError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

### 1.6 describe()
- describe() is pre defined method in series class
- we can access describe() method by using series object
- This method returns the below values
1. count
2. mean
3. std
4. min
5. 25%
6. 50%
7. 75%
8. max

In [23]:
import pandas as pd
a=[10,20,30,40,50]
s=pd.Series(a)
print(s.count())
print(s.mean())
print(s.min())
print(s.max())
print("describe method")
s.describe()

5
30.0
10
50
describe method

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

### 1.7 unique()
- unique() is predefined methods in Series class
- We can access unique() method by using series object
- This methods return unique value from the series

In [10]:
import pandas as pd
marks=[10,20,30,40,50,50,40,30,20,10,100]
s=pd.Series(marks)
print(s)
print()
print("=>unique")
print(s.unique())

0      10
1      20
2      30
3      40
4      50
5      50
6      40
7      30
8      20
9      10
10    100
dtype: int64

=>unique
[ 10  20  30  40  50 100]

### 1.8 nunique()

In [6]:
import pandas as pd 
marks=[10,20,30,40,50,50,40,30,20,10,100]
s=pd.Series(marks)
print(s.nunique())

6

# SUMMARY

1. Series attributes
 - values
 - index



1. Series methods
   - head()
   - tail()
   - sum()
   - count()
   - mean()
   - describe()
   - unique()
   - nunique()