# DataFrame methods

### 1.1 head()
- head() is predefined methods in DataFrame in DataFrame class
- We can access head() method by using DataFrame object only
- This method returns first five rows from the DataFrame

In [8]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print("how to acess the top five 5")
print(df.head())
print()
print()
print(df.T)
print()
print(df.shape)

how to acess the top five 5
   Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.561
4      1  05-03-2010    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106


                    0           1           2           3           4     \
Store                  1           1           1           1           1
Date          05-02-2010  12-02-2010  19-02-2010  26-02-2010  05-03-2010
Weekly_Sales   1643690.9  1641957.44  1611968.17  1409727.59  1554806.68
Holiday_Flag           0           1           0           0           0
Temperature        42.31       38.51       39.93       46.63        46.5
Fuel_Price         2.572       2.548       2.514       2.561       2.625
CPI           211.096358   211.24217  211.289143  211.319643  211.350143
Unemployment       8.106       8.106       8.106       8.106       8.106

                    5           6           7           8           9     ...  \
Store                  1           1           1           1           1  ...
Date          12-03-2010  19-03-2010  26-03-2010  02-04-2010  09-04-2010  ...
Weekly_Sales  1439541.59  1472515.79  1404429.92  1594968.28  1545418.53  ...
Holiday_Flag           0           0           0           0           0  ...
Temperature        57.79       54.58       51.45       62.27       65.86  ...
Fuel_Price         2.667        2.72       2.732       2.719        2.77  ...
CPI           211.380643  211.215635  211.018042   210.82045  210.622857  ...
Unemployment       8.106       8.106       8.106       7.808       7.808  ...

                    6425        6426        6427        6428        6429  \
Store                 45          45          45          45          45
Date          24-08-2012  31-08-2012  07-09-2012  14-09-2012  21-09-2012
Weekly_Sales   718232.26   734297.87   766512.66   702238.27    723086.2
Holiday_Flag           0           0           1           0           0
Temperature        72.62       75.09        75.7       67.87       65.32
Fuel_Price         3.834       3.867       3.911       3.948       4.038
CPI           191.344887  191.461281  191.577676   191.69985  191.856704
Unemployment       8.684       8.684       8.684       8.684       8.684

                    6430        6431        6432        6433        6434
Store                 45          45          45          45          45
Date          28-09-2012  05-10-2012  12-10-2012  19-10-2012  26-10-2012
Weekly_Sales   713173.95   733455.07   734464.36   718125.53   760281.43
Holiday_Flag           0           0           0           0           0
Temperature        64.88       64.89       54.47       56.47       58.85
Fuel_Price         3.997       3.985         4.0       3.969       3.882
CPI           192.013558  192.170412  192.327265  192.330854  192.308899
Unemployment       8.684       8.667       8.667       8.667       8.667

[8 rows x 6435 columns]

(6435, 8)

### 1.2 tail()
- tail() is predefined method in DataFrame class
- We can access tail() method by using DataFrame object only
- This method returns last five rowns from the DataFrame

In [11]:
import pandas as pd
df2=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print("=> last 5 rows ")
print(df2.tail())

=> last 5 rows
      Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
6430     45  28-09-2012     713173.95             0        64.88       3.997
6431     45  05-10-2012     733455.07             0        64.89       3.985
6432     45  12-10-2012     734464.36             0        54.47       4.000
6433     45  19-10-2012     718125.53             0        56.47       3.969
6434     45  26-10-2012     760281.43             0        58.85       3.882

             CPI  Unemployment
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

In [13]:
import pandas as pd
df1=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
df2=df1.head()
print(df2)

   Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.561
4      1  05-03-2010    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106

### 1.3 info()
- info() is predefined method in DataFrame class
- We can acess info() metods by using DataFrame object only
- This methods returns below information about DataFrame,
  1. type of object
  2. Range of object
  3. Number of columns
  4. Number of rowe
  5. The data type of each column
  6. Number of data type
  7. total memory usage

In [14]:
import pandas as pd
df1=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB
None

In [18]:
import pandas as pd 
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
dtypes: object(12)
memory usage: 137.5+ KB

In [20]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6434 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

### 1.4 count()
- count() is predefined method in DataFrame class.
- We can access count() method by using DataFrame object only.
- This method returns number of non-null values from each column.

In [21]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.count())

Store           6435
Date            6435
Weekly_Sales    6435
Holiday_Flag    6435
Temperature     6435
Fuel_Price      6435
CPI             6435
Unemployment    6435
dtype: int64

In [29]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df.count())
print()
print("=> total of row and colomn")
print(df.shape)

Store           6434
Date            6434
Weekly_Sales    6432
Holiday_Flag    6434
Temperature     6434
Fuel_Price      6434
CPI             6434
Unemployment    6434
dtype: int64

=> total of row and colomn
(6435, 8)

### 1.5 describe()
- decribe() is predrfined method in DataFrame class.
- We can access describe() method by using DataFrame object.
- This method returns the below values
  1. count
  2. mean
  3. std
  4. min
  5. 25%
  6. 50%
  7. 75%
  8. max

In [30]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.describe())

             Store  Weekly_Sales  Holiday_Flag  Temperature   Fuel_Price  \
count  6435.000000  6.435000e+03   6435.000000  6435.000000  6435.000000
mean     23.000000  1.046965e+06      0.069930    60.663782     3.358607
std      12.988182  5.643666e+05      0.255049    18.444933     0.459020
min       1.000000  2.099862e+05      0.000000    -2.060000     2.472000
25%      12.000000  5.533501e+05      0.000000    47.460000     2.933000
50%      23.000000  9.607460e+05      0.000000    62.670000     3.445000
75%      34.000000  1.420159e+06      0.000000    74.940000     3.735000
max      45.000000  3.818686e+06      1.000000   100.140000     4.468000

               CPI  Unemployment
count  6435.000000   6435.000000
mean    171.578394      7.999151
std      39.356712      1.875885
min     126.064000      3.879000
25%     131.735000      6.891000
50%     182.616521      7.874000
75%     212.743293      8.622000
max     227.232807     14.313000

### 1.6 nunique()
- nunique() is predefined method in DataFrame class
- We can access nunique() method by using DataFrame object only
- This method returns number of unique values from the DataFrame

In [31]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.nunique())

Store             45
Date             143
Weekly_Sales    6435
Holiday_Flag       2
Temperature     3528
Fuel_Price       892
CPI             2145
Unemployment     349
dtype: int64

### 2. Accessing single column from DataFrame
- We can access columns from the DataFrame
  1. if we access single column then it returns the Series
  2. if we access two column then it returns the DataFrame with two columns

In [39]:
# displaying only one columns
import pandas as pd 
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
print(df.columns)
print()
print(df["product_id"])

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'discount_percentage', 'rating', 'rating_count',
       'about_product', 'user_id', 'user_name', 'review_id'],
      dtype='object')

0       B07JW9H4J1
1       B098NS6PVG
2       B096MSW6CT
3       B08HDJ86NZ
4       B08CF3B7N1
           ...
1460    B08L7J3T31
1461    B01M6453MB
1462    B009P2LIL4
1463    B00J5DYCCA
1464    B01486F4G6
Name: product_id, Length: 1465, dtype: object

In [42]:
# we dot not use this one in real time
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
print(df.product_id)

0       B07JW9H4J1
1       B098NS6PVG
2       B096MSW6CT
3       B08HDJ86NZ
4       B08CF3B7N1
           ...
1460    B08L7J3T31
1461    B01M6453MB
1462    B009P2LIL4
1463    B00J5DYCCA
1464    B01486F4G6
Name: product_id, Length: 1465, dtype: object

In [38]:
# displaying only in tw columns
import pandas as pd 
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
print(df.columns)
print()
print(df[["product_id","user_name"]])

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'discount_percentage', 'rating', 'rating_count',
       'about_product', 'user_id', 'user_name', 'review_id'],
      dtype='object')

      product_id                                          user_name
0     B07JW9H4J1  Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...
1     B098NS6PVG  ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...
2     B096MSW6CT  Kunal,Himanshu,viswanath,sai niharka,saqib mal...
3     B08HDJ86NZ  Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...
4     B08CF3B7N1  rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...
...          ...                                                ...
1460  B08L7J3T31  Prabha ds,Raghuram bk,Real Deal,Amazon Custome...
1461  B01M6453MB  Manu Bhai,Naveenpittu,Evatira Sangma,JAGANNADH...
1462  B009P2LIL4  Nehal Desai,Danish Parwez,Amazon Customer,Amaz...
1463  B00J5DYCCA  Shubham Dubey,E.GURUBARAN,Mayank S.,eusuf khan...
1464  B01486F4G6  Rajib,Ajay B,Vikas Kahol,PARDEEP,Anindya Prama...

[1465 rows x 2 columns]

In [4]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
print(df.columns)
print()
col=["user_id","rating"]
print(df[col])

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'discount_percentage', 'rating', 'rating_count',
       'about_product', 'user_id', 'user_name', 'review_id'],
      dtype='object')

                                                user_id rating
0     AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...    4.2
1     AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...      4
2     AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...    3.9
3     AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...    4.2
4     AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...    4.2
...                                                 ...    ...
1460  AHITFY6AHALOFOHOZEOC6XBP4FEA,AFRABBODZJZQB6Z4U...      4
1461  AFG5FM3NEMOL6BNFRV2NK5FNJCHQ,AGEINTRN6Z563RMLH...    4.1
1462  AGVPWCMAHYQWJOQKMUJN4DW3KM5Q,AF4Q3E66MY4SR7YQZ...    3.6
1463  AF2JQCLSCY3QJATWUNNHUSVUPNQQ,AFDMLUXC5LS5RXDJS...      4
1464  AFGW5PT3R6ZAVQR4Y5MWVAKBZAYA,AG7QNJ2SCS5VS5VYY...    4.3

[1465 rows x 2 columns]

In [8]:
# converting Dataframe to csv files
import pandas as pd 
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
col=["product_id","actual_price"]
df1=df[col]
df1.to_csv("kishanid.csv")
print(df1)

      product_id actual_price
0     B07JW9H4J1       ₹1,099
1     B098NS6PVG         ₹349
2     B096MSW6CT       ₹1,899
3     B08HDJ86NZ         ₹699
4     B08CF3B7N1         ₹399
...          ...          ...
1460  B08L7J3T31         ₹919
1461  B01M6453MB       ₹3,045
1462  B009P2LIL4       ₹3,080
1463  B00J5DYCCA       ₹1,890
1464  B01486F4G6       ₹3,690

[1465 rows x 2 columns]

In [15]:
# converting DataFrame to csv file
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/amazon.csv')
print(df.columns)
print()
col=["product_id","product_name"]
df1=df[col]
df1.to_csv("kishanid2")

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'discount_percentage', 'rating', 'rating_count',
       'about_product', 'user_id', 'user_name', 'review_id'],
      dtype='object')

In [25]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.columns)
print()
print(df["Weekly_Sales"])
print()
s=df["Weekly_Sales"]
print()
print("=> total sales sum")
print(s.sum())

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

0       1643690.90
1       1641957.44
2       1611968.17
3       1409727.59
4       1554806.68
           ...
6430     713173.95
6431     733455.07
6432     734464.36
6433     718125.53
6434     760281.43
Name: Weekly_Sales, Length: 6435, dtype: float64


=> total sales sum
6737218987.11

### 3. Rearranging columns in DataFrame
- We can rearranging columns in DataFrame
- We can customise the order of columns in DataFrame

In [33]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(df.columns)
print(df.shape)
print(df)
print()
print()
col=['CPI','Date','Fuel_Price','Holiday_Flag','Store','Temperature','Unemployment','Weekly_Sales',]
df1=df[col]
print(df1)

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')
(6435, 8)
      Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1  05-02-2010    1643690.90             0        42.31       2.572
1         1  12-02-2010    1641957.44             1        38.51       2.548
2         1  19-02-2010    1611968.17             0        39.93       2.514
3         1  26-02-2010    1409727.59             0        46.63       2.561
4         1  05-03-2010    1554806.68             0        46.50       2.625
...     ...         ...           ...           ...          ...         ...
6430     45  28-09-2012     713173.95             0        64.88       3.997
6431     45  05-10-2012     733455.07             0        64.89       3.985
6432     45  12-10-2012     734464.36             0        54.47       4.000
6433     45  19-10-2012     718125.53             0        56.47       3.969
6434     45  26-10-2012     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]


             CPI        Date  Fuel_Price  Holiday_Flag  Store  Temperature  \
0     211.096358  05-02-2010       2.572             0      1        42.31
1     211.242170  12-02-2010       2.548             1      1        38.51
2     211.289143  19-02-2010       2.514             0      1        39.93
3     211.319643  26-02-2010       2.561             0      1        46.63
4     211.350143  05-03-2010       2.625             0      1        46.50
...          ...         ...         ...           ...    ...          ...
6430  192.013558  28-09-2012       3.997             0     45        64.88
6431  192.170412  05-10-2012       3.985             0     45        64.89
6432  192.327265  12-10-2012       4.000             0     45        54.47
6433  192.330854  19-10-2012       3.969             0     45        56.47
6434  192.308899  26-10-2012       3.882             0     45        58.85

      Unemployment  Weekly_Sales
0            8.106    1643690.90
1            8.106    1641957.44
2            8.106    1611968.17
3            8.106    1409727.59
4            8.106    1554806.68
...            ...           ...
6430         8.684     713173.95
6431         8.667     733455.07
6432         8.667     734464.36
6433         8.667     718125.53
6434         8.667     760281.43

[6435 rows x 8 columns]

# SUMMARY

1. Series methods
   - head()
   - tail()
   - info()
   - describe()
   - count()
   - nunique()