# DataFrame-Rename column & index
- Sometimes we need to process column names and index
- Based on Requirement we can rename/change/modify/updatecolumn

### 1. rename(p) method- changing single column name
- rename(p) is predefined method in DataFrame
- We can access rename() method by using DataFrame object
- By using this method We can change single column name in DataFrame.

In [6]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/amazon copy.csv')
print(df.shape)
print()
print(df.columns)
print()
print(list(df.columns))
print()
df.info()

(1465, 8)

Index(['pdt_id', 'pdt_name', 'category', 'dstcount_price', 'actual_price',
       'discount_percentage', 'rating', 'rating_count'],
      dtype='object')

['pdt_id', 'pdt_name', 'category', 'dstcount_price', 'actual_price', 'discount_percentage', 'rating', 'rating_count']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pdt_id               1465 non-null   object
 1   pdt_name             1465 non-null   object
 2   category             1465 non-null   object
 3   dstcount_price       1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
dtypes: object(8)
memory usage: 91.7+ KB

In [14]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df.head())
print("*"*100)
print(df.columns)
print("*"*100)
c=["Fl_Price","Dt"]
print(df[c])

         Dt   Weekly Sl  Temperature  Fl_Price
0  05/02/10  1223434.45        42.31     2.572
1  12/02/10  1641957.44        38.51     2.548
2  19/02/10  1611968.17        39.93     2.514
3  26/02/10  1409727.59        46.63     2.561
4  05/03/10  1554806.68        46.50     2.625
****************************************************************************************************
Index(['Dt', 'Weekly Sl', 'Temperature', 'Fl_Price'], dtype='object')
****************************************************************************************************
      Fl_Price        Dt
0        2.572  05/02/10
1        2.548  12/02/10
2        2.514  19/02/10
3        2.561  26/02/10
4        2.625  05/03/10
...        ...       ...
6430     3.997  28/09/12
6431     3.985  05/10/12
6432     4.000  12/10/12
6433     3.969  19/10/12
6434     3.882  26/10/12

[6435 rows x 2 columns]

# Note
- We need to use python dictionary to specify old column as key and new column as value
- whenever chaning column then key should be match with column name in DataFrame otherwise changes will not reflects.

In [17]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df.head())
d={
    "Dt":"Date"
}
print("*"*100)
print(df.rename(columns=d))

         Dt   Weekly Sl  Temperature  Fl_Price
0  05/02/10  1223434.45        42.31     2.572
1  12/02/10  1641957.44        38.51     2.548
2  19/02/10  1611968.17        39.93     2.514
3  26/02/10  1409727.59        46.63     2.561
4  05/03/10  1554806.68        46.50     2.625
****************************************************************************************************
          Date   Weekly Sl  Temperature  Fl_Price
0     05/02/10  1223434.45        42.31     2.572
1     12/02/10  1641957.44        38.51     2.548
2     19/02/10  1611968.17        39.93     2.514
3     26/02/10  1409727.59        46.63     2.561
4     05/03/10  1554806.68        46.50     2.625
...        ...         ...          ...       ...
6430  28/09/12   713173.95        64.88     3.997
6431  05/10/12   733455.07        64.89     3.985
6432  12/10/12   734464.36        54.47     4.000
6433  19/10/12   718125.53        56.47     3.969
6434  26/10/12   760281.43        58.85     3.882

[6435 rows x 4 columns]

In [20]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/Walmart_Sales.csv")
print(list(df.columns))

['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']

In [23]:
# changeing 
import pandas as pd
df1=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
d={
    "Dt":"Date"
}
print(df.columns)
df2=df1.rename(columns=d)

Index(['Dt', 'Weekly Sl', 'Temperature', 'Fl_Price'], dtype='object')
          Date   Weekly Sl  Temperature  Fl_Price
0     05/02/10  1223434.45        42.31     2.572
1     12/02/10  1641957.44        38.51     2.548
2     19/02/10  1611968.17        39.93     2.514
3     26/02/10  1409727.59        46.63     2.561
4     05/03/10  1554806.68        46.50     2.625
...        ...         ...          ...       ...
6430  28/09/12   713173.95        64.88     3.997
6431  05/10/12   733455.07        64.89     3.985
6432  12/10/12   734464.36        54.47     4.000
6433  19/10/12   718125.53        56.47     3.969
6434  26/10/12   760281.43        58.85     3.882

[6435 rows x 4 columns]

### 2.rename(p) method-changeing multiple column name
- rename(p) is a predefind method in DataFrame
- We can access rename() method by using DataFrame object.
- We can even change multiple column names by using rename(p) method.
- we need to use python dictionary to specify old column ass key and new column as value.

In [1]:
import pandas as pd    # use in realtime very very imp
df1=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
d={
    "Weekly Sl":"Weekly_Sales",
    "Fl_Price":"Fuel_Price",
    "Dt":"Date"
}
print(df1.head())
print()
print("*"*50)
print()
df2=df1.rename(columns=d)
print(df2.head())

        ddt  weekly_sales  tempercher  fule_price
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625

**************************************************

        ddt  weekly_sales  tempercher  fule_price
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625

### 3. column attribute - changing multiple column name
- columns is predefined attribute in DataFrame class.
- we can access column attributes by using DataFrame object.
- By using columns attribute we can even change multiple column names.

In [44]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df.head())
print("*"*60)
df.columns=["Date","Weekly_Sales","Temperature","Fuel_Price"]
print(df.head())

         Dt   Weekly Sl  Temperature  Fl_Price
0  05/02/10  1223434.45        42.31     2.572
1  12/02/10  1641957.44        38.51     2.548
2  19/02/10  1611968.17        39.93     2.514
3  26/02/10  1409727.59        46.63     2.561
4  05/03/10  1554806.68        46.50     2.625
************************************************************
       Date  Weekly_Sales  Temperature  Fuel_Price
0  05/02/10    1223434.45        42.31       2.572
1  12/02/10    1641957.44        38.51       2.548
2  19/02/10    1611968.17        39.93       2.514
3  26/02/10    1409727.59        46.63       2.561
4  05/03/10    1554806.68        46.50       2.625

### Note
- While using column attributes to change column names then Number of DataFrame column names should be match with existing columns otherwise we will get an error

In [36]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df.head())
print("*"*60)
df.columns=["Date","Weekly_Sales","Temperature","Furl_price"]
print(df.head())

         Dt   Weekly Sl  Temperature  Fl_Price
0  05/02/10  1223434.45        42.31     2.572
1  12/02/10  1641957.44        38.51     2.548
2  19/02/10  1611968.17        39.93     2.514
3  26/02/10  1409727.59        46.63     2.561
4  05/03/10  1554806.68        46.50     2.625
************************************************************
       Date  Weekly_Sales  Temperature  Furl_price
0  05/02/10    1223434.45        42.31       2.572
1  12/02/10    1641957.44        38.51       2.548
2  19/02/10    1611968.17        39.93       2.514
3  26/02/10    1409727.59        46.63       2.561
4  05/03/10    1554806.68        46.50       2.625

### 4. rename(p) method - changing index in DataFrame
- rename(p) is predefined method in DataFrame
- we can access rename() method by using DataFrame object
- Based on requirements we can change the DataFrame
- by using rename(p) we can change the DataFrame index

In [54]:
import pandas as pd
d={
    "order_id":[1,3,4,6],
    "customers_name":["kishan","firoj","pika","raja"],
    "product":["iphone11","iphone12","iphone13","iphone14"]
}
df1=pd.DataFrame(d)
print(df1)
print()
print(df1.index)

   order_id customers_name   product
0         1         kishan  iphone11
1         3          firoj  iphone12
2         4           pika  iphone13
3         6           raja  iphone14

RangeIndex(start=0, stop=4, step=1)

In [16]:
# changing index in DataFrame
import pandas as pd
d={
    "order_id":[1,3,4,6],
    "customers_name":["kishan","firoj","pika","raja"],
    "product":["iphone11","iphone12","iphone13","iphone14"]
}

i={
    1:100,
    3:300,
    4:400,
    6:600
}

df1=pd.DataFrame(d)
df2=df1.rename(index=i)
print(df1)
print("*"*50)
print(df2)

   order_id customers_name   product
0         1         kishan  iphone11
1         3          firoj  iphone12
2         4           pika  iphone13
3         6           raja  iphone14
**************************************************
     order_id customers_name   product
0           1         kishan  iphone11
100         3          firoj  iphone12
2           4           pika  iphone13
300         6           raja  iphone14

In [12]:
import pandas as pd
d={
    "order_id":[1,3,4,6],
    "customers_name":["kishan","firoj","pika","raja"],
    "product":["iphone11","iphone12","iphone13","iphone14"]
}

i={
    1:100,
    3:300,
    4:400,
    6:600
}
df=pd.DataFrame(d)
df1=df
df1=df2.rename(index=i)
print(df1)

          Date  Weekly_Sales  Temperature  Fuel_Price
0     05/02/10    1223434.45        42.31       2.572
100   12/02/10    1641957.44        38.51       2.548
2     19/02/10    1611968.17        39.93       2.514
300   26/02/10    1409727.59        46.63       2.561
400   05/03/10    1554806.68        46.50       2.625
...        ...           ...          ...         ...
6430  28/09/12     713173.95        64.88       3.997
6431  05/10/12     733455.07        64.89       3.985
6432  12/10/12     734464.36        54.47       4.000
6433  19/10/12     718125.53        56.47       3.969
6434  26/10/12     760281.43        58.85       3.882

[6435 rows x 4 columns]

### 5.Index attribute - changeing multiple column names
- index is predefined attribute in DataFrame class
- We can access index attributes by using DataFrame object
- by using index attribute we can even change in DataFrame

In [75]:
import pandas as pd
d={
    "order_id":[1,3,4,6],
    "customers_name":["kishan","firoj","pika","raja"],
    "product":["iphone11","iphone12","iphone13","iphone14"]
}
df=pd.DataFrame(d)
print(df)
print("*"*50)
df.index=[100,200,300,400]
print(df)

   order_id customers_name   product
0         1         kishan  iphone11
1         3          firoj  iphone12
2         4           pika  iphone13
3         6           raja  iphone14
**************************************************
     order_id customers_name   product
100         1         kishan  iphone11
200         3          firoj  iphone12
300         4           pika  iphone13
400         6           raja  iphone14

In [22]:
s1="Kishan"
print(s1)
s2=s1.upper()
print(s2)
s3=s2.lower()
print(s3)

Kishan
KISHAN
kishan

In [86]:
import pandas as pd
df1=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df1.head())
print("*"*50)
df1.index=range(1,6434,-1)
print(df.head(10))

        ddt  weekly_sales  tempercher  fule_price
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625
**************************************************

ValueError: Length mismatch: Expected axis has 6435 elements, new values have 0 elements

### changing columns and index in DataFrame

In [51]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df.head())
d={
    "Dt":"Date",
    "Weekly Sl":"Weekly_Sales",
    "Temperature":"Temperature_id",
    "Fl_Price":"Fule_price"
}

i={
    0:"A",
    1:11,
    2:22,
    3:33
}
df1=df.rename(columns=d,index=i)
print()

print(df1.head())

         Dt   Weekly Sl  Temperature  Fl_Price
0  05/02/10  1223434.45        42.31     2.572
1  12/02/10  1641957.44        38.51     2.548
2  19/02/10  1611968.17        39.93     2.514
3  26/02/10  1409727.59        46.63     2.561
4  05/03/10  1554806.68        46.50     2.625

        Date  Weekly_Sales  Temperature_id  Fule_price
A   05/02/10    1223434.45           42.31       2.572
11  12/02/10    1641957.44           38.51       2.548
22  19/02/10    1611968.17           39.93       2.514
33  26/02/10    1409727.59           46.63       2.561
4   05/03/10    1554806.68           46.50       2.625

### 6. Converting column names from lower case to upper case
- Based on Requirment we can convert DataFrame column name from lower case to upper case

In [67]:
import pandas as pd
df=pd.read_csv('/Users/apple/Downloads/Walmart_Sales copy.csv')
print(df.head())
print("*"*50)
print()
df.columns=df.columns.str.upper()
print(df.head())

        ddt  weekly_sales  tempercher  fule_price
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625
**************************************************

        DDT  WEEKLY_SALES  TEMPERCHER  FULE_PRICE
0  05/02/10    1223434.45       42.31       2.572
1  12/02/10    1641957.44       38.51       2.548
2  19/02/10    1611968.17       39.93       2.514
3  26/02/10    1409727.59       46.63       2.561
4  05/03/10    1554806.68       46.50       2.625

In [70]:
print(dir(df.columns))

['T', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__firstlineno__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__sizeof__', '__static_attributes__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_arith_method', '_assert_can_do_setop', '_attributes', '_cache', '_can_hold_identifiers_and_holds_name', '_can_hold_na', '_can_hold_strings', '_can_use_libjoin', '_check_indexing_error', '_check_indexing_method', '_cleanup', '_cmp_method', '_comparables', '_concat', '_construct_result', '_constructor', '_convert_can_do_setop', '_convert_slice_indexer', '_convert_tolerance', '_data', '_data_cls', '_default_na_rep', '_difference', '_difference_compat', '_dir_additions', '_dir_additions_for_owner', '_dir_deletions', '_drop_level_numbers', '_dti_setop_align_tzs', '_dtype_to_subclass', '_duplicated', '_engine', '_engine_type', '_engine_types', '_ensure_array', '_filter_indexer_tolerance', '_find_common_type_compat', '_format_attrs', '_format_data', '_format_duplicate_message', '_format_flat', '_format_with_header', '_formatter_func', '_from_join_target', '_get_default_index_names', '_get_engine_target', '_get_fill_indexer', '_get_fill_indexer_searchsorted', '_get_indexer', '_get_indexer_non_comparable', '_get_indexer_strict', '_get_join_target', '_get_level_names', '_get_level_number', '_get_level_values', '_get_names', '_get_nearest_indexer', '_get_reconciled_name_object', '_get_string_slice', '_get_values_for_csv', '_getitem_slice', '_hidden_attrs', '_holds_integer', '_id', '_index_as_unique', '_inner_indexer', '_intersection', '_intersection_via_get_indexer', '_is_all_dates', '_is_comparable_dtype', '_is_memory_usage_qualified', '_is_multi', '_is_strictly_monotonic_decreasing', '_is_strictly_monotonic_increasing', '_isnan', '_join_empty', '_join_level', '_join_monotonic', '_join_multi', '_join_non_unique', '_join_via_get_indexer', '_left_indexer', '_left_indexer_unique', '_logical_method', '_map_values', '_maybe_cast_indexer', '_maybe_cast_listlike_indexer', '_maybe_cast_slice_bound', '_maybe_check_unique', '_maybe_disable_logical_methods', '_maybe_disallow_fill', '_maybe_downcast_for_indexing', '_maybe_preserve_names', '_memory_usage', '_mpl_repr', '_na_value', '_name', '_no_setting_name', '_outer_indexer', '_raise_if_missing', '_raise_invalid_indexer', '_raise_scalar_data_error', '_references', '_reindex_non_unique', '_rename', '_requires_unique_msg', '_reset_cache', '_reset_identity', '_searchsorted_monotonic', '_set_names', '_shallow_copy', '_should_compare', '_should_fallback_to_positional', '_should_partial_index', '_simple_new', '_sort_levels_monotonic', '_summary', '_supports_partial_string_indexing', '_transform_index', '_typ', '_unary_method', '_union', '_validate_can_reindex', '_validate_fill_value', '_validate_index_level', '_validate_indexer', '_validate_names', '_validate_positional_slice', '_validate_sort_keyword', '_values', '_view', '_with_infer', '_wrap_difference_result', '_wrap_intersection_result', '_wrap_joined_index', '_wrap_reindex_result', '_wrap_setop_result', 'all', 'any', 'append', 'argmax', 'argmin', 'argsort', 'array', 'asof', 'asof_locs', 'astype', 'copy', 'delete', 'diff', 'difference', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'duplicated', 'empty', 'equals', 'factorize', 'fillna', 'format', 'get_indexer', 'get_indexer_for', 'get_indexer_non_unique', 'get_level_values', 'get_loc', 'get_slice_bound', 'groupby', 'has_duplicates', 'hasnans', 'holds_integer', 'identical', 'infer_objects', 'inferred_type', 'insert', 'intersection', 'is_', 'is_boolean', 'is_categorical', 'is_floating', 'is_integer', 'is_interval', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_numeric', 'is_object', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'join', 'map', 'max', 'memory_usage', 'min', 'name', 'names', 'nbytes', 'ndim', 'nlevels', 'notna', 'notnull', 'nunique', 'putmask', 'ravel', 'reindex', 'rename', 'repeat', 'round', 'searchsorted', 'set_names', 'shape', 'shift', 'size', 'slice_indexer', 'slice_locs', 'sort', 'sort_values', 'sortlevel', 'str', 'symmetric_difference', 'take', 'to_flat_index', 'to_frame', 'to_list', 'to_numpy', 'to_series', 'transpose', 'union', 'unique', 'value_counts', 'values', 'view', 'where']

# summary

- columns =
          1. df.rename()method
          2. df.columns attribute
- index = 
        1. df.rename() method
        2. df.index attribute